<title>alasker</title>

<ul class="posts">
	<li>
		<div class="title">
			<h3>What is alasker?</h3>
		</div>
		<br/>
			alasker is a Q&A utility that lets people ask and answer questions quickly. It also saves and sorts those questions and answers for other people to use later. Unlike forums or large Q&A sites, alasker is designed to be quick and bite-sized, to be there when you want info and ideas on real-world needs -- like transportation, food, and travel.  If you ask a question, many people may answer -- and even more may benefit. 
	</li>

	<li>
		<br/>
		<div class="title">
			<h3>How does alasker work?</h3>
		</div>
		<br/>
<ol>
1) You type in a question (120 characters max, so we can tweet it with a hashtag and a URL).<br/>
2) As you type, alasker suggests similar questions people have already posted.<br/>
3) Do any of those questions look like their answers might help you? Click and see.<br/>
4) If not, go ahead and post your question. Let the alasker community help you.<br/>
</ol> 
	</li>

	<li>
		<br/>
		<div class="title">
			<h3>Give me an example ...</h3>
		</div>
		<br/>
Let's say you're at JFK Airport, and it's 10pm. Two hours till your flight. All the restaurants and bars in your terminal just closed, and you're getting hungry. What to do? Go to alasker and type: 
<br/>
<br/>
<i>Where can I find food at JFK at 11pm?</i>
<br/>
<br/>
None of the suggested questions are anywhere near yours, so you click Continue to post your question. 
<br/>
<br/>
A minute later, someone replies:
<br/>
<br/>
<i>The 24-hour Dunkin Donuts in Terminal 5 has 2-for-1 donuts after 11pm. Get a dozen and make some friends!</i>
<br/>
<br/>
Two minutes later, someone else replies:
<br/>
<br/>
<i>Call Pizza Port at 855-626-2390 ... they deliver to JFK.</i>
<br/></br/>
	</li>
	
	<li>
		<div class="title">
			<h3>What if I don't need anything right now?</h3>
		</div>
		<br/>
			You don't have to ask questions. You can browse existing questions for ideas. You may want to answer some of them. 

And if you're someone who knows tons of useful things, you can create your own questions and answer them too. 
 <br/><br>
	</li>

	<li>
		<div class="title">
			<h3>We love feedback!</h3>
		</div>
		<br/>
As alasker grows, we'll add plenty of features to improve the system. For now, we hope you enjoy participating. Let us know what you think!<br/><br/><%= link_to 'Ask away!', situations_path + '/new' %>.
	</li>

	
</ul>
<br/>

<b>-- team alasker (Arthur, Barak, Behnaz, Dunja, Mads)</b> 
