<title>alasker</title>

<ul class="posts">
	<li>
		<div class="title">
			<h3><a id="imageDivLink1" href="javascript:toggle5('contentDivImg1', 'imageDivLink1');"><img src="/css/images/plus.png" width=14 height=14></a> How does alasker work?</h3>
		</div>
		<div id="contentDivImg1" style="display: none;">
		Alasker works by making it easy for people with questions to find people with answers. Once you ask a question on alasker, anyone can answer it. The more questions alasker has, the more opportunities our users have to provide answers.  And the more answers in alasker, the likelier you are to find what you need.
		<br/><br/></div>
	</li>

	<li>
		<div class="title">
			<h3><a id="imageDivLink2" href="javascript:toggle5('contentDivImg2', 'imageDivLink2');"><img src="/css/images/plus.png" width=14 height=14></a> How do I ask a question?</h3>
		</div>
		<div id="contentDivImg2" style="display: none;">
		Pretty simple. Right on the main page of alasker, you type in a question of 120 characters or less. Click Continue, and you'll be asked to sign in or sign up. That's so we can contact you when people answer your question. Next, we'll show you some questions that look like yours -- you may find your answer is already waiting for you. If not, you'll continue on and choose a category, add your location, and select when you need an answer.
		<br/><br/></div>
	</li>

	<li>
		<div class="title">
			<h3><a id="imageDivLink3" href="javascript:toggle5('contentDivImg3', 'imageDivLink3');"><img src="/css/images/plus.png" width=14 height=14></a> Why do my questions have to be 120 characters or less?</h3>
		</div>
		<div id="contentDivImg3" style="display: none;">
		Keeping it at 120 characters lets us tweet your question with a hashtag and a URL to other alasker users, so they can see that it's been posted. If they have an answer, they can click on the URL and answer it right away.
		<br/><br/></div>	
	</li>
		
	<li>
		<div class="title">
			<h3><a id="imageDivLink4" href="javascript:toggle5('contentDivImg4', 'imageDivLink4');"><img src="/css/images/plus.png" width=14 height=14></a> How do I answer a question?</h3>
		</div>
		<div id="contentDivImg4" style="display: none;">
		First you find questions you want to answer. On the <a href="/plans">Browse page</a>, you use the search box to search by keywords, you use the tabs to search by recency, popularity, and newness, and you use the pulldown in the top nav bar to initiate a search by category.
		<br/><br/></div>  	
	</li>

	<li>
		<div class="title">
			<h3><a id="imageDivLink5" href="javascript:toggle5('contentDivImg5', 'imageDivLink5');"><img src="/css/images/plus.png" width=14 height=14></a> How will I know if my question has been answered?</h3>
		</div>
		<div id="contentDivImg5" style="display: none;">
		Once you ask a question, you have the option to receive notifications when people answer it. Or you can return to alasker to look it up by keywords or other search functions.
		<br/><br/></div> 	
	</li>


	<li>
		<div class="title">
			<h3><a id="imageDivLink6" href="javascript:toggle5('contentDivImg6', 'imageDivLink6');"><img src="/css/images/plus.png" width=14 height=14></a> How many answers can a question have?</h3>
		</div>
		<div id="contentDivImg6" style="display: none;">
		As many as people want to provide.  
		<br/><br/></div>
	</li>


	<li>
		<div class="title">
			<h3><a id="imageDivLink7" href="javascript:toggle5('contentDivImg7', 'imageDivLink7');"><img src="/css/images/plus.png" width=14 height=14></a> My question didn’t show up. Where is it?</h3>
		</div>
		<div id="contentDivImg7" style="display: none;">
		Maybe you didn’t complete the text entry. Or you accidentally closed the page. Or maybe your question was found to be objectionable and removed from alasker.
		<br/><br/></div>
	</li>

	<li>
		<div class="title">
			<h3><a id="imageDivLink8" href="javascript:toggle5('contentDivImg8', 'imageDivLink8');"><img src="/css/images/plus.png" width=14 height=14></a> Why would I want to look at other people's questions?</h3>
		</div>
		<div id="contentDivImg8" style="display: none;">
		People share basic needs. Chances are good that other people are wondering or needing the same kinds of things you are. Your burning question may have already been answered.
		<br/>
		Or maybe you just like sharing things you know. Calling all Brainiacs! alasker is great for asking and answering. It's a perfect place for know-it-alls to show off and get some love for being so knowledgeable. Or if not love, badges.
		<br/><br/></div>   	
	</li>

	<li>
		<div class="title">
			<h3><a id="imageDivLink9" href="javascript:toggle5('contentDivImg9', 'imageDivLink9');"><img src="/css/images/plus.png" width=14 height=14></a> Why do questions expire?</h3>
		</div>
		<div id="contentDivImg9" style="display: none;">
		You can choose to set a time limit for your question if you won't need an answer after a certain time or date. Like if you need help RIGHT NOW. But setting an expiration date/time is optional.  	
		<br/><br/></div>
	</li>

	<li>
		<div class="title">
			<h3><a id="imageDivLink10" href="javascript:toggle5('contentDivImg10', 'imageDivLink10');"><img src="/css/images/plus.png" width=14 height=14></a> How will I know when my question is answered?</h3>
		</div>
		<div id="contentDivImg10" style="display: none;">
		You'll get a notification at the email address you provided when you signed up. If you used a fake email or you don't check that account, you won't get notifications.
	<br/><br/></div>
	</li>


	<li>
		<div class="title">
			<h3><a id="imageDivLink11" href="javascript:toggle5('contentDivImg11', 'imageDivLink11');"><img src="/css/images/plus.png" width=14 height=14></a> There are so many answers... How can I find one that works for me?</h3>
		</div>
		<div id="contentDivImg11" style="display: none;">
		You can narrow it down if you browse the questions by categories. Use the Categories pulldown in the top nav bar.
	<br/><br/></div>	
	</li>

	<li>
		<div class="title">
			<h3><a id="imageDivLink12" href="javascript:toggle5('contentDivImg12', 'imageDivLink12');"><img src="/css/images/plus.png" width=14 height=14></a> How do I know which answers are best?</h3>
		</div>
		<div id="contentDivImg12" style="display: none;">
		People can vote answers up or down, so the most popular answers may be the best. Also, go with your gut. Works for us.
		<br/><br/></div>    	
	</li>

	<li>
		<div class="title">
			<h3><a id="imageDivLink13" href="javascript:toggle5('contentDivImg13', 'imageDivLink13');"><img src="/css/images/plus.png" width=14 height=14></a> How is this site different from other Q&amp;A sites?</h3>
		</div>
		<div id="contentDivImg13" style="display: none;">
		We love the big Q&amp;A sites. But alasker enables quick and easy Q&amp;A. alasker facilitates lively info exchange on the fly about real-world issues in real time.  This site keeps the info flow current by letting you set an expiration date/time on your questions helps. Keeping questions short makes sure they don't get overcomplicated. Tweeting your questions creates an immediate exchange between different alasker users, wherever they are. And also, we have the bear.
		<br/><br/></div>     	
	</li>

	<li>
		<div class="title">
			<h3><a id="imageDivLink14" href="javascript:toggle5('contentDivImg14', 'imageDivLink14');"><img src="/css/images/plus.png" width=14 height=14></a> How do I get badges?</h3>
		</div>
		<div id="contentDivImg14" style="display: none;">
		You get badges for being active on the site -- asking and answering. Check out the <%= link_to "Badges page", "/badges" %> for details. And  by the way ... new and interesting badges are in the pipeline.
		<br/><br/></div>
	</li>


	<li>
		<div class="title">
			<h3><a id="imageDivLink15" href="javascript:toggle5('contentDivImg15', 'imageDivLink15');"><img src="/css/images/plus.png" width=14 height=14></a> Why is this site called alasker? Are you people in Alaska?</h3>
		</div>
		<div id="contentDivImg15" style="display: none;">
		No, we're in the Lower 48. Asking is at the heart of what we're doing, and "ask" is also at the heart of alasker.  Plus, Alaska is cool, we liked the name, and the bear was free. And the questions.com URL costs a bazillion dollars.
		<br/><br/></div>   	
	</li>
		
</ul>
<br/>
<b>Got any questions about alasker? <%= link_to 'Ask away!', situations_path + '/new' %></b>

<script type="text/javascript">
		function toggle5(showHideDiv, switchImgTag) {
		  var ele = document.getElementById(showHideDiv);
		  var imageEle = document.getElementById(switchImgTag);
		  if(ele.style.display == "block") {
		    ele.style.display = "none";
		    imageEle.innerHTML = '<img src="/css/images/plus.png" width=14 height=14>';}
		  else {
		    ele.style.display = "block";
		    imageEle.innerHTML = '<img src="/css/images/minus.png" width=14 height=14>';
		  }
	}		
</script>
