<title>alasker</title>
<h1>Alasker Privacy Policy</h1>
Last updated: November 5, 2012.
<ul class="posts">
	<li>
		<div class="title">
		</div>
		<p>
		We recognize that your privacy is very important, and we take it seriously. This Privacy Policy describes Alasker's policies and procedures on the collection, use and disclosure of your information when you use the Alasker Service, via the Alasker website, your mobile phone, or through one of Alasker's applications for mobile devices (e.g., the Alasker iPhone application). We will not use or share your information with anyone except as described in this Privacy Policy. This Privacy Policy does not apply to information we collect by other means (including offline) or from other sources. Capitalized terms that are not defined in this Privacy Policy have the meaning given them in our Terms of Service.
		</p>
	</li>

	<li>
		<br>
		<div class="title">
		<h3><a id="imageDivLink1" href="javascript:toggle5('contentDivImg1', 'imageDivLink1');"><img src="/css/images/plus.png" width=14 height=14></a> Information Collection and Use</h3>
		</div>
		<div id="contentDivImg1" style="display: none;">
		<p>Alasker uses information we collect to analyze how the Service is used, diagnose service or technical problems, maintain security, personalize content, remember information to help you efficiently access your account, monitor aggregate metrics such as total number of visitors, traffic, and demographic patterns, and track User Content and users as necessary to comply with the Digital Millennium Copyright Act and other applicable laws.
		</p><br/>
		
		<p>
		User-Provided Information: You provide us information about yourself, such as your name and e-mail address, if you register for a member account with the Service. Your name and other information you choose to add to your profile will be available for public viewing on the Service. You may provide us with your mobile phone number if you choose to submit questions and receive answers via text message. We may use your email address to send you Service-related notices (including any notices required by law, in lieu of communication by postal mail). You can control receipt of certain Service-related messages on your Settings page. We may also use your contact information to send you marketing email messages. If you do not want to receive such messages, you may opt out by following the instructions in the message. If you correspond with us by email, we may retain the content of your email messages, your email address and our responses.
		If you use your Facebook, Twitter, or other social networking site ("SNS") account information to sign in to Alasker, we will collect and store your SNS user ID.
		</p><br/>
		
		<p>
		You also provide us information in User Content you post to the Service. Your questions, answers, and other contributions on the Service, and metadata about them (such as when you posted them), are publicly viewable on the Service, along with your name (unless the Service permits you to post anonymously). This information may be searched by search engines and be republished elsewhere on the Web in accordance with our Terms of Service.
		</p><br/>

		<p>
		If you choose to use our invitation service to invite a friend to the Service, we will ask you for that person's email address and automatically send an email invitation. You may also use our contact importer tool to help you upload your friends' email addresses so you can find friends who are already on Alasker or invite friends to the Service. Alasker stores this information to send invitations, to register your friend if your invitation is accepted, to track the success of our invitation service, and to identify your friends on Alasker.
		</p><br/>
		
		<p>
		Information Collected Automatically: When you use the Service, we use persistent and session cookies and other tracking technologies to: (a) store your username and password; (b) analyze the usage of the Service; (c) customize the Service to your preferences; and (d) control the advertising displayed by the Service. A persistent cookie remains on your computer after you close your browser so that it can be used by your browser on subsequent visits to the Service. Persistent cookies can be removed by following your web browser's directions. A session cookie is temporary and disappears after you close your browser. You can reset your web browser to refuse all cookies or to indicate when a cookie is being sent. However, some features of the Service may not function properly if the ability to accept cookies is disabled.
		</p><br/>
		
		<p>
		We may also use other Internet technologies, log files, clear GIFs, Flash technologies, and other similar technologies, to deliver or communicate with cookies and track your use of the Service. We also may include clear GIFs in HTML-based emails sent to our users to determine whether the message has been opened. As we adopt additional technology, we may also gather additional information through other methods.
		</p><br/>
		
		<p>
		We use these automated technologies to collect and analyze certain types of information we consider to be non-personal information, including: (a) information related to the devices you use to access or interact with the Service, such as: IP addresses, geolocation information, unique device identifiers and other information about your mobile phone or other mobile device(s), browser types, browser language; and (b) information related to the ways in which you interact with the Service, such as: referring and exit pages and URLs, platform type, the number of clicks, domain names, landing pages, pages viewed and the order of those pages, the amount of time spent on particular pages, the date and time you used the Service, and other similar information. We may also capture other data, such as search criteria and results.
		</p><br/>
		
		<p>
		Alasker discloses a subset of this automatically collected information publicly. Specifically, you consent to Alasker's disclosure of information related to the ways in which you interact with the Service, such as: landing pages, pages viewed and the order of those pages (including questions and answers viewed), the date and time you used the Service, and other similar information on the Service to other Alasker users, along with your name and profile picture. 
		</p><br/>
		
		<p>
		We may collect different types of information about your location, including general information (e.g., IP address, zip code) and more specific information (e.g., GPS-based functionality on mobile devices used to access the Service), and may use that information to customize the Service with location-based information and features. If you access the Service through a mobile device and you do not want your device to provide us with location-tracking information, you can disable the GPS or other location-tracking functions on your device, provided your device allows you to do this.
		</p><br/>
		
		<p>
		Alasker may allow third parties to serve advertisements on the Service and on third-party services and use other third parties to help us collect and analyze information about your use of the service, generate aggregate site usage statistics and provide content sharing services to support the Service. These third parties may also use cookies and similar technologies to collect similar non-personal information about your use of the Service. Alasker does not control the third parties' use of such technologies and their use is governed by those parties' privacy policies.
		</p></div>
		
	</li>

	<li>
		<div class="title">
			<h3><a id="imageDivLink2" href="javascript:toggle5('contentDivImg2', 'imageDivLink2');"><img src="/css/images/plus.png" width=14 height=14></a> How We Share Your Information</h3>
		</div>
		<div id="contentDivImg2" style="display: none;">
		<p>
		Personally Identifiable Information: Alasker may share your personally identifiable information with third parties for the purpose of providing the Service to you or with third parties offering combined services with Alasker. For example, we may share your personally identifiable information with third-party partners that display Alasker questions and answers through their services so that such partners can tailor content and advertising to you. If we do this, such third parties' use of your information will be bound by this Privacy Policy. We may store personal information in locations outside the direct control of Alasker (for instance, on servers or databases co-located with hosting providers).
		</p><br/>
		
		<p>As we develop our business, we may buy or sell assets or business offerings. Customer, email, and visitor information is generally one of the transferred business assets in these types of transactions. We may also transfer or assign such information in the course of corporate divestitures, mergers, or dissolution. We may share or disclose your information with your consent, such as if you choose to sign on to the Service through a third-party service. We cannot control third parties' use of your information.
		</p><br/>
		
		<p>
		Alasker may disclose your personal information if required to do so by law or subpoena or if we believe that it is reasonably necessary to comply with a law, regulation or legal request; to protect the safety of any person; to address fraud, security or technical issues; or to protect Alasker's rights or property.
		</p><br/>
		
		<p>
		Non-Personally Identifiable Information: We may aggregate and/or anonymize information collected through the Service so that the information does not identify you. We may use aggregated, anonymized, and other non-personally identifiable information for any purpose, including for research and marketing purposes, and our use and disclosure of such information is not subject to any restrictions under this Privacy Policy.
		</p><br/>
		
		<p>
		Alasker may allow third-party ad servers or ad networks to serve advertisements on the Service and on third-party services. These third-party ad servers or ad networks use technology to send, directly to your browser, the advertisements and links that appear on Alasker. They automatically receive your IP address when this happens. They may also use other technologies (such as cookies, JavaScript, or web beacons) to measure the effectiveness of their advertisements and to personalize the advertising content.
		</p><br/>
		
		<p>
		Alasker does not provide any personally identifiable information to these third-party ad servers or ad networks without your consent. However, please note that if an advertiser asks Alasker to show an advertisement to a certain audience and you respond to that advertisement, the advertiser or ad server may conclude that you fit the description of the audience they are trying to reach. The Alasker Privacy Policy does not apply to, and we cannot control the activities of, third-party advertisers. Please consult the respective privacy policies of such advertisers for more information.
		</p></div>
	</li>
		
	<li>
		<div class="title">
			<h3><a id="imageDivLink3" href="javascript:toggle5('contentDivImg3', 'imageDivLink3');"><img src="/css/images/plus.png" width=14 height=14></a> How We Protect Your Information</h3>
		</div>
		<div id="contentDivImg3" style="display: none;"><p>
		Alasker uses commercially reasonable physical, managerial, and technical safeguards to preserve the integrity and security of your personal information. We cannot, however, ensure or warrant the security of any information you transmit to Alasker or guarantee that your information on the Service may not be accessed, disclosed, altered, or destroyed by breach of any of our physical, technical, or managerial safeguards.
		</p><br/>
		
		<p>
		In the event that personal information is compromised as a result of a breach of security, Alasker will promptly notify those persons whose personal information has been compromised, in accordance with the notification procedures set forth in this Privacy Policy, or as otherwise required by applicable law.
  	</p></div>
	</li>


	<li>
		<div class="title">
			<h3><a id="imageDivLink4" href="javascript:toggle5('contentDivImg4', 'imageDivLink4');"><img src="/css/images/plus.png" width=14 height=14></a> Your Choices About Your Information</h3>
		</div>
		<div id="contentDivImg4" style="display: none;">
		<p>
			You may, of course, decline to submit personally identifiable information through the Service, in which case Alasker may not be able to provide certain services to you. You may update or correct your account information and email preferences at any time by logging in to your account.
		</p></div>
			
	</li>


	<li>
		<div class="title">
			<h3><a id="imageDivLink5" href="javascript:toggle5('contentDivImg5', 'imageDivLink5');"><img src="/css/images/plus.png" width=14 height=14></a> Children's Privacy</h3>
		</div>
		<div id="contentDivImg5" style="display: none;">
		<p>
			Protecting the privacy of young children is especially important. Alasker does not knowingly collect or solicit personal information from anyone under the age of 13 or knowingly allow such persons to register with the Service. If we become aware that we have collected personal information from a child under age 13 without verification of parental consent, we take steps to remove that information.  	
		</p></div>
		
	</li>


	<li>
		<div class="title">
			<h3><a id="imageDivLink6" href="javascript:toggle5('contentDivImg6', 'imageDivLink6');"><img src="/css/images/plus.png" width=14 height=14></a> Links to Other Web Sites</h3>
		</div>
		<div id="contentDivImg6" style="display: none;">
			<p>
			We are not responsible for the practices employed by websites linked to or from the Service, nor the information or content contained therein. Please remember that when you use a link to go from the Service to another website, our Privacy Policy is no longer in effect. Your browsing and interaction on any other website, including those that have a link on our website, is subject to that website's own rules and policies.
		</p></div>
		
	</li>


	<li>
		<div class="title">
			<h3><a id="imageDivLink7" href="javascript:toggle5('contentDivImg7', 'imageDivLink7');"><img src="/css/images/plus.png" width=14 height=14></a> Changes to Our Privacy Policy</h3>
		</div>
		<div id="contentDivImg7" style="display: none;">
			<p>
			If we change our privacy policies and procedures, we will post those changes on this page to keep you aware of what information we collect, how we use it and under what circumstances we may disclose it. Changes to this Privacy Policy are effective when they are posted on this page.
		</p></div></li>
		
		<p><br>
			<br>
			If you have any questions about our practices or this privacy policy, please contact us at <a href="mailto:alasker@alasker.com">alasker@alasker.com</a>, or send mail to:
			<br>
			<br>
			<b>AB Dev Labs, LLC<br> 
			PO Box 500 New York, NY 10159 USA</b>
		</p>
		

</ul>
<br/>
<b>Got any questions about alasker? <%= link_to 'Ask away!', situations_path + '/new' %></b>

<script type="text/javascript">
			function toggle5(showHideDiv, switchImgTag) {
			  var ele = document.getElementById(showHideDiv);
			  var imageEle = document.getElementById(switchImgTag);
			  if(ele.style.display == "block") {
			    ele.style.display = "none";
			    imageEle.innerHTML = '<img src="/css/images/plus.png" width=14 height=14>';}
			  else {
			    ele.style.display = "block";
			    imageEle.innerHTML = '<img src="/css/images/minus.png" width=14 height=14>';
			  }
		}		
</script>
