﻿<title>alasker</title>
<h1>Alasker Terms of Service</h1>
<ul class="posts">
	<li>
		<div class="title">
		</div>
		<br/>
			These Terms of Service ("Terms") govern your access to and use of the services, websites, and applications offered by Alasker (the "Service"). Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. By accessing or using the Service you agree to be bound by these Terms. 
	</li>

	<li>
		<br/>
		<div class="title">
			<h3><a id="imageDivLink1" href="javascript:toggle5('contentDivImg1', 'imageDivLink1');"><img src="/css/images/plus.png" width=14 height=14></a> Use of the Service</h3>
		</div>
		<div id="contentDivImg1" style="display: none;">
		<p>
You may use the Service only if you can form a binding contract with Alasker, and only in compliance with these Terms and all applicable local, state, national, and international laws, rules and regulations. You must provide us accurate information, including your real name, when you create your account on Alasker.
</p><br/>
<p>
We may, without prior notice, change the Service; stop providing the Service or features of the Service, to you or to users generally; or create usage limits for the Service.
You are responsible for safeguarding the password that you use to access the Service and for any activities or actions under your password. We suggest you use "strong" passwords (that use a combination of upper and lower case letters, numbers and symbols) with your account. Alasker is not and will not be liable for any loss or damage arising from your failure to comply with this instruction.
	</p></div></li>
	
	<li>
		<div class="title">
			<h3><a id="imageDivLink2" href="javascript:toggle5('contentDivImg2', 'imageDivLink2');"><img src="/css/images/plus.png" width=14 height=14></a> User Content</h3>
		</div>
		<div id="contentDivImg2" style="display: none;">
		<p>
		"Content" means any information, text, or other materials uploaded, downloaded or appearing on the Service. You retain ownership of all Content you submit, post, display, or otherwise make available on the Service.
	</p></div></li>
	

	<li>
		<div class="title">
			<h3><a id="imageDivLink3" href="javascript:toggle5('contentDivImg3', 'imageDivLink3');"><img src="/css/images/plus.png" width=14 height=14></a> Your License to Alasker</h3>
		</div>
		<div id="contentDivImg3" style="display: none;">
		<p>
By submitting, posting, or displaying Content on or through the Service, you grant us a worldwide, non-exclusive, royalty-free license (with the right to sublicense) to use, copy, reproduce, process, adapt, modify, publish, transmit, display and distribute such Content in any and all media or distribution methods (now known or later developed).
You agree that this license includes the right for other users of the Service to modify your Content, and for Alasker to make your Content available to others for the publication, distribution, syndication, or broadcast of such Content on other media and services, subject to our terms and conditions for such Content use. Such additional uses by Alasker or others may be made with no compensation paid to you with respect to the Content that you submit, post, transmit or otherwise make available through the Service.
</p><br/>
<p>
We may modify or adapt your Content in order to transmit, display or distribute it over computer networks and in various media and/or make changes to your Content as are necessary to conform and adapt that Content to any requirements or limitations of any networks, devices, services or media.
</p><br/>
<p>
Additionally, by uploading content to the site, you warrant, represent and agree that you have the right to grant Alasker the license described above. You also represent, warrant and agree that you have not and will not contribute any Content that (a) infringes, violates or otherwise interferes with any copyright or trademark of another party, (b) reveals any trade secret, unless the trade secret belongs to you or you have the owner's permission to disclose it, (c) infringes any intellectual property right of another or the privacy or publicity rights of another, (d) is libelous, defamatory, abusive, threatening, harassing, hateful, offensive or otherwise violates any law or right of any third party, (e) creates an impression that you know is incorrect, misleading, or deceptive, including by impersonating others or otherwise misrepresenting your affiliation with a person or entity; (f) contains other people's private or personally identifiable information without their express authorization and permission, and/or (g) contains or links to a virus, trojan horse, worm, time bomb or other computer programming routine or engine that is intended to damage, detrimentally interfere with, surreptitiously intercept or expropriate any system, data or information. Alasker reserves the right in its discretion to remove any Content from the Site, suspend or terminate your account at any time, or pursue any other remedy or relief available under equity or law.
	</p></div></li>
	
	<li>
		<div class="title">
			<h3><a id="imageDivLink4" href="javascript:toggle5('contentDivImg4', 'imageDivLink4');"><img src="/css/images/plus.png" width=14 height=14></a> Alasker's Licenses to You</h3>
		</div>
		<div id="contentDivImg4" style="display: none;">
		<p>
Subject to these Terms, Alasker gives you a worldwide, royalty-free, non-assignable and non-exclusive license to re-post any of the Content on Alasker anywhere on the rest of the web provided that the Content was added to the Service after November 5, 2012, and provided that the user who created the content has not explicitly marked the content as not for reproduction, and provided that you: (a) do not modify the Content; (b) attribute Alasker by name in readable text and with a human and machine-followable link (an HTML a anchor tag) linking back to the page displaying the original source of the content on alasker.com on every page that contains Alasker content; (c) upon request, either by Alasker or a user, remove the user's name from Content which the user has subsequently made anonymous; (d) upon request, either by Alasker or by a user who contributed to the Content, make a reasonable effort to update a particular piece of Content to the latest version on alasker.com; and (e) upon request, either by Alasker or by a user who contributed to the Content, make a reasonable attempt to delete Content that has been deleted or marked as not for reproduction on alasker.com.
</p><br/>
<p>
You may only use the attribution required by this Section in the manner set out above. In exercising these rights, you may not implicitly or explicitly assert or imply any connection with, sponsorship or endorsement by Alasker, or any Alasker user of you or your use of the work, without the separate, express prior written permission of Alasker or the Alasker user.
If you operate a search engine or robot, or you republish a significant fraction of all Alasker Content (as we may determine in our reasonable discretion), you must additionally follow these rules:
•	You must use a descriptive user agent header.
•	You must follow robots.txt at all times.
•	You must make it clear how to contact you, either in your user agent string, or on your website if you have one.
</p><br/>
<p>
Subject to these Terms, Alasker gives you a personal, worldwide, royalty-free, revocable, non-assignable and non-exclusive license to use the Service as provided by Alasker.
Your Content will be viewable by other users of the Service and through third party services and websites. You should only provide Content that you are comfortable sharing with others under these Terms.
All Content, whether publicly posted or privately transmitted, is the sole responsibility of the person who originated such Content. We may not monitor or control the Content posted via the Service. Any use of or reliance on any Content or materials posted via the Service or obtained by you through the Service is at your own risk. We do not endorse, support, represent or guarantee the completeness, truthfulness, accuracy, or reliability of any Content or communications posted via the Service or endorse any opinions expressed via the Service. You understand that by using the Service, you may be exposed to Content that might be offensive, harmful, inaccurate or otherwise inappropriate. Under no circumstances will Alasker be liable in any way for any Content, including, but not limited to, any errors or omissions in any Content, or any loss or damage of any kind incurred as a result of the use of any Content made available via the Service or broadcast elsewhere.
</p><br/>
<p>
You are responsible for your use of the Service, for any Content you provide, and for any consequences thereof, including the use of your Content by other users and third party partners. You understand that your Content may be republished and if you do not have the right to submit Content for such use, it may subject you to liability. Alasker will not be responsible or liable for any use of your Content by Alasker in accordance with these Terms.
</p><br/>
<p>
We reserve the right at all times (but will not have an obligation) to remove or refuse to distribute any Content on the Service and to terminate users or reclaim usernames. We also reserve the right to access, read, preserve, and disclose any information as we reasonably believe is necessary to (i) satisfy any applicable law, regulation, legal process or governmental request, (ii) enforce the Terms, including investigation of potential violations hereof, (iii) detect, prevent, or otherwise address fraud, security or technical issues, (iv) respond to user support requests, or (v) protect the rights, property or safety of Alasker, its users and the public.
	</p></div></li>

	<li>
		<div class="title">
			<h3><a id="imageDivLink5" href="javascript:toggle5('contentDivImg5', 'imageDivLink5');"><img src="/css/images/plus.png" width=14 height=14></a> Rules</h3>
		</div>
		<div id="contentDivImg5" style="display: none;">
		<p>
You must not do any of the following while accessing or using the Service: (i) use the Service for any unlawful purposes or for promotion of illegal activities; (ii) upload or post any Content (as defined above) in violation of the provisions contained in the "Your License to Alasker" section of these terms; (iii) use the Service for the purpose of spamming anyone; (iv) access or tamper with non-public areas of the Service, Alasker's computer systems, or the technical delivery systems of Alasker's providers; (v) probe, scan, or test the vulnerability of any system or network or breach or circumvent any security or authentication measures; (vi) access or search or attempt to access or search the Service by any means (automated or otherwise) other than through the currently available, published interfaces that are provided by Alasker (and only pursuant to those terms and conditions), unless you have been specifically allowed to do so in a separate agreement with Alasker (crawling the Service is permissible in accordance with these Terms, but scraping the Service without the prior consent of Alasker except as permitted by these Terms is expressly prohibited); (vii) forge any TCP/IP packet header or any part of the header information in any email or posting, or in any way use the Service to send altered, deceptive or false source-identifying information; or (viii) interfere with or disrupt (or attempt to do so) the access of any user, host or network, including, without limitation, sending a virus, overloading, flooding, spamming, mail-bombing the Service, or by scripting the creation of Content in such a manner as to interfere with or create an undue burden on the Service.
	</p></div></li>


	<li>
		<div class="title">
			<h3><a id="imageDivLink6" href="javascript:toggle5('contentDivImg6', 'imageDivLink6');"><img src="/css/images/plus.png" width=14 height=14></a> Proprietary Rights</h3>
		</div>
		<div id="contentDivImg6" style="display: none;">
		<p>
All right, title, and interest in and to the Service (excluding Content provided by users) are and will remain the exclusive property of Alasker and its licensors. The Service is protected by copyright, trademark, and other laws of both the United States and foreign countries. Except as expressly provided herein, nothing in the Terms gives you a right to use the Alasker name or any of the Alasker trademarks, logos, domain names, and other distinctive brand features. Any feedback, comments, or suggestions you may provide regarding the Service is entirely voluntary and we will be free to use such feedback, comments or suggestions as we see fit and without any obligation to you.
</p>
</p><br/>
The Service may include advertisements, which may be targeted to the Content or information on the Service, queries made through the Service, or other information. The types and extent of advertising by Alasker on the Service are subject to change. In consideration for Alasker granting you access to and use of the Service, you agree that Alasker and its third party providers and partners may place such advertising on the Service or in connection with the display of Content or information from the Service whether submitted by you or others.
</p></div></li>

	
</ul>
<br/>
<br/>
The Service is operated and provided by AB Dev Labs, LLC PO Box 500 New York, NY 10159 USA. If you have questions about these Terms, please contact us at <a href="mailto:alasker@alasker.com">alasker@alasker.com</a>
 

<script type="text/javascript">
		function toggle5(showHideDiv, switchImgTag) {
		  var ele = document.getElementById(showHideDiv);
		  var imageEle = document.getElementById(switchImgTag);
		  if(ele.style.display == "block") {
		    ele.style.display = "none";
		    imageEle.innerHTML = '<img src="/css/images/plus.png" width=14 height=14>';}
		  else {
		    ele.style.display = "block";
		    imageEle.innerHTML = '<img src="/css/images/minus.png" width=14 height=14>';
		  }
	}		
</script>
