

/* Portrait */
@media screen and (max-width: 320px) {
	.button_container {
		width:90%;text-align:center;margin-left:5%;margin-right:5%;
	}	
	.logo_wrapper{
		width:100%;
		height:240px;
	}
	.cloud_left{
		display:block;
		height:100%;
		width:100%;
		background:url(../images/authenticate/cloud_left.png) left 40% no-repeat;
		background-size:20% 10%;		
	}
	.cloud_right{
		display:block;
		height:100%;
		width:100%;
		background:url(../images/authenticate/cloud_right.png) right 28% no-repeat;
		background-size:20% 30%;		
	}
	.logo img{
		width:90%;text-align:center";margin-left:5%;margin-right:5%;
	}
	.logo{
		padding-top:10%;
	}	
}

/* Landscape */
@media screen and (min-width: 321px)  and (max-width: 480px)  {
	.button_container {
		width:88%;text-align:center;margin-left:6%;margin-right:6%;
	}
	.logo_wrapper{
		width:100%;
		height:240px;
	}
	.cloud_left{
		display:block;
		height:100%;
		width:100%;
		background:url(../images/authenticate/cloud_left.png) left 40% no-repeat;
		background-size:20% 8%;		
	}
	.cloud_right{
		display:block;
		height:100%;
		width:100%;
		background:url(../images/authenticate/cloud_right.png) right 38% no-repeat;
		background-size:25% 35%;		
	}	
	.logo img{
		width:88%;text-align:center";margin-left:6%;margin-right:6%;
	}
	.logo{
		padding-top:10%;
	}
}

/* tablet */
@media screen and (min-width: 481px)  {
	.button_container{text-align:center;width:100%;}
	.button_block{ margin:0px auto;text-align:left; width:422px }	
	.logo_wrapper{
		width:100%;
		height:400px;
	}
	.cloud_left{
		display:block;
		height:100%;
		width:100%;
		background:url(../images/authenticate/cloud_left.png) left 50% no-repeat;
		background-size:15% 8%;		
	}
	.cloud_right{
		display:block;
		height:100%;
		width:100%;
		background:url(../images/authenticate/cloud_right.png) right 40% no-repeat;
		background-size:15% 30%;		
	}	
	.logo img{
		width:421px;text-align:center;margin-left:auto;margin-right:auto;
	 }
	 .logo{
		padding-top:10px;
	 }
}
