<%= form_for @message, :validate => true do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <ul id="element-list">
    <%= f.hidden_field :sender_id, :value => current_user.id %>
    <li class="form-element">
      <%= f.label "To: ", :class => "field-title", :style => "float:left; margin-right:50px; margin-top:10px; " %>
      <div class="my-input-field">
      <%= f.text_field :receiver_id, :class => "field my-field",
                         :placeholder => "Type user id for the mean time" %>
<!--added 
        <%= f.text_field :receiver_id, class: "field my-field", id: "filter_u" %>

,
   "data-pre" => @message.users.map{|u| [u.username, u.id]}.to_json %>


  end --> 
      </div>
    </li>
    <li class="form-element">
      <%= f.label "Subject: ", :class => "field-title", :style => "float:left; margin-right:15px" %>
      <div class="my-input-field">
        <%= f.text_field :subject, :class => "field my-field", :autofocus => true, :maxlength => 100 %>
        </div>
    </li>
    <li class="form-element">
      <div class="field">
        <%= f.text_area :content, :maxlength => 1000, :rows => "5", 
              :style => "width:433px", :class => "my-textarea", :placeholder => "Write a message..." %>
        </div>
    </li>
    
  </ul>
    <div class="actions">
      <a href="<%= messages_path %>" class="button">Back<span></span></a>
      <a href="#" class="submit_link button">Send<span></span></a>
      <!-- <a href="#" class="button">Save as Draft<span></span></a> -->
    </div>
<% end %>

<link rel="stylesheet" href="/css/forms.css" type="text/css" media="all" />

<!--
<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
      <div class="field">
        <%= f.hidden_field :sender_id, :value => current_user.id %>

        *<%= f.label "To :" %>
        <%= f.text_field :receiver_id %><br />

        <%= f.label "Subject: " %>
        <%= f.text_field :subject %><br />

        *<%= f.label "Message: " %><br />
        <%= f.text_area :content, :rows => "5", :style => "width:433px", :class => "my-textarea", :placeholder => "Write a message..." %>
      </div>
  

  <div class="actions">
    <%= f.submit "OK", :class => "submit_link button" %>
  </div>
<% end %>
-->
