<script type="text/javascript" src="/js/user.js"></script>
<style type="text/css">
      td {
      border-bottom: 1px solid #ccc; width: 150px;
      }
      tr:last-child td {
        border-bottom: 0px;
      }
      tr td:last-child {
        border: none;
      }
      table { width : 450px; table-layout: fixed; }
</style>

<div class="message_page">
<h1>Messages</h1>
Click to view the message.
<!-- <p class="list_pba_compose">
  <%= image_tag("compose.png", :alt => "Create New Message") %> 
  <%= link_to 'Compose', new_message_path %>
</p> -->

<p class="list_pba">
    <!-- <span class="arrow">
      <img src="/css/images/arrow.png" border="0" />
    </span> -->
    <%= image_tag("inbox.png", :alt => "Inbox") %>Inbox 
    <%= "(#{@unread.count} Unread)" unless @unread.empty? %>
  </p>

<table>
<% if @inbox.empty? %>
You have no inbox messages.
<% else %>
  <% @inbox.each do |message| %>
    <!--<% if message.read == false %>
      <strong>
    <% end %>-->
    <tr onclick="location.href='<%= message_path(message) %>'">
      <td id="msg"><%= Message.find_user(message.sender_id) %></td>
      <td id="msg"><%= message.subject %></td>
      <td id="msg"><%= message.created_at.to_formatted_s(:long) %></td>
      <td id="msg"><%= link_to 'Delete', message, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
    <!-- </strong> -->
  <% end %>
<% end %>
</table>

<p class="list_pba">
    <!-- <span class="arrow">
      <img src="/css/images/arrow.png" border="0" />
    </span> -->
    <%= image_tag("sent.png", :alt => "Sent") %>Sent
  </p>

<table>
<% if @sent.empty? %>
You have no sent items.
<% else %>
<% @sent.each do |message| %>

  <tr onclick="location.href='<%= message_path(message) %>'">
    <td>To: <%= Message.find_user(message.receiver_id) %></td>
    <td><%= message.subject %></td>
    <td><%= message.created_at.to_formatted_s(:long) %></td>
    <td><%= link_to 'Delete', message, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>

<% end %>
<% end %>
</table>
</div><br class="cl" />


<!-- <h1>Listing messages</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%= link_to 'Show', message %></td>
    <td><%= link_to 'Edit', edit_message_path(message) %></td>
    <td><%= link_to 'Destroy', message, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Message', new_message_path %>
 -->