<%= form_for @message do |f| %>
<ul id="element-list">
    <i>
    <li class="form-element">
      <%= f.label "#{@message.created_at.to_formatted_s(:long)}", :class => "field-title" %>
    </li>
    </i>
    <li class="form-element">
      <%= f.label "From: ", :class => "field-title", :style => "float:left; margin-right:30px; margin-top:10px; " %>
      <div class="my-input-field">
        <%= f.text_field :sender_id, :class => "field my-field", :disabled => true, :value => "#{@sender}" %>
      </div>
    </li>
    <li class="form-element">
      <%= f.label "To: ", :class => "field-title", :style => "float:left; margin-right:50px; margin-top:10px; " %>
      <div class="my-input-field">
        <%= f.text_field :receiver_id, :class => "field my-field",:disabled => true, :value => "#{@receiver}" %>
      </div>
    </li>
    <li class="form-element">
      <%= f.label "Subject: ", :class => "field-title", :style => "float:left; margin-right:15px" %>
      <div class="my-input-field">
        <%= f.text_field :subject, :class => "field my-field", :disabled => true  %>
        </div>
    </li>
    <li class="form-element">
      <div class="field">
        <%= f.text_area :content, :maxlength => 1000, :rows => "5", 
              :style => "width:365px", :class => "my-textarea", :disabled => true %>
        </div>
    </li>
    
  </ul>
    <div class="actions">
      <a href="<%= messages_path %>" class="button">Back<span></span></a>
      <a href="<%= message_path(@message) %>" data-method="delete" data-confirm="Are you sure?" class="button">Delete<span></span></a>
    </div>
<% end %>

<link rel="stylesheet" href="/css/forms.css" type="text/css" media="all" />