<%= form_for(@situation) do |f| %>
  <% if @situation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@situation.errors.count, "error") %> found:</h2>
      <ul>
        <% @situation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <ul id="element-list">

    <li class="form-element">
      <%= f.label :content, :class => "field-title"%>
      <%= f.text_area :content, :size => "80x10", :class => "my-textarea" %>
    </li>

    <!--
    <li class="form-element">
      <%= fields_for :plan do |plan_form| %>
        <%= plan_form.label :content, 'What have you tried already?', :class => "field-title" %><br />
        <%= plan_form.text_area :content, :size => "80x5", :class => "my-textarea" %>
      <% end %>
    </li>
    -->

    <li class="form-element">
      <%= f.label :category, :class => "field-title" %>
      <div class="select-div">
        <div class="select">
          <%= f.collection_select :category_id, Category.all, :id,
                                  :name, {:prompt => true, :class => "select"}, { "style" => "width:200px" } %>
        </div>
      </div>
    </li>

  <%= fields_for :situationcondition do |condition_form| %>
    <%= condition_form.hidden_field :situation_id, :value => @situation.situationcondition_id %>
     <!--   
      <li class="form-element">
        <%= condition_form.label :what, 'What:', :class => "field-title" %>
        <div class="expand-field">
          <%= condition_form.text_field :what, :class => "my-field"  %>
          <br class="cl" />
        </div>
      </li>
      -->

      <!-- <li class="form-element">
        <%= condition_form.label :where, 'Where:', :class => "field-title" %>
        <div class="my-input-field-auto-height">
          <div class="my-input-field-auto-height-top">
            <div class="my-input-field-auto-height-bottom">
              <%= condition_form.text_field :where, :class => "my-field" %>
              <br class="cl" />
            </div>
          </div>
        </div>
      </li> -->
   
    <li class="form-element">
    <%= condition_form.label :where, 'Where', :class => "field-title" %>
    <div class="mini-guide">Where are you? (country, city, street, your specific location)</div>
      <div class="my-input-field-auto-height">
        <div class="my-input-field-auto-height-top">
          <div class="my-input-field-auto-height-bottom">
            <%= condition_form.text_field :where, :class => "my-field", :id => "where_are_you" %>
          </div>
        </div>
      </div>
      <div id="where_map" style="width:300px;height:300px;margin-top:4px;margin-bottom:4px;"></div>
      <div class="mini-guide">Drag and drop the red pin to locate your exact place on the map.</div>   
    </li>

      <!--
      <li class="form-element">
        <%= condition_form.label :whenkeyword, 'When:', :class => "field-title" %>
        <div class="my-input-field">
          <%= condition_form.text_field :whenkeyword, :class => "my-field" %>
        </div>
      </li>
      -->

      <li class="form-element">
        <%= condition_form.label :whendate, 'When do you need this:', :class => "field-title" %>
        <div class="my-input-field date-field">
            <%= condition_form.text_field :whendate, :value=>format_when_date(@situationcondition), :class => "my-field datepicker" %>
        </div>
      </li>

    <% end %>
  </ul>

  <div class="actions">
    <a href="#" class="submit_link button">Finish<span></span></a>
  </div>

  <script type="text/javascript" src="/js/datepicker.js"></script>

  <script>
    $(document).ready(function() {
        $("#situation_condition_whendate").datepicker({
    showOn: 'focus', buttonText: "Select",dateFormat: "MM d, yy "+ date_obj_time
    });

        $(".ui-datepicker-trigger").append("<span></span>");
        $('#situation_condition_what').tagit();
        });
      </script>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<% if  Rails.env.production? %>
     <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA91Zz5Nv-onIUJcE_k7I9cN7Ey_GW_kIw&sensor=false"></script>
<% else %>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEgzy4o-lMybHPr4umvxpKIdqEStrA_Ec&sensor=false"></script>
<% end %>
<script type="text/javascript" src="/js/next.js"></script>
<script type="text/javascript" src="/js/mapper.js"></script>
<script type="text/javascript" src="/js/next-map.js"></script>

<% end %>