<ul class="posts">

  <% if !@situations.nil? %>

    <% @situations.each do |situation| %>
      <li>
        <div class="post situations_normal">
          <% go_link = situations_path + '/' + situation.id.to_s %>

          <a href="<%= go_link %>" internal_id=<%=situation.id%> class="divlink"><span class="divlinkspan"></span></a>

          <div class="meta">
            <p>Posted by <%= by_user(situation.user) %> <%= time_diff_in_natural_language(Time.now, situation.created_at)%> ago</p>
          </div>

          <div class="image"><%= avatar_link_to_user(situation.user) %></div>

    <div class="body">
      <h4><span class="situation_text"><%= link_to situation.content, situation %></span></h4>
        <ul class="entry-info">
          <%if situation.class.name == "Situation" && !situation.situationcondition.nil? %>
            <% if !situation.situationcondition.what.nil? && !situation.situationcondition.what.empty?%>
                  <li>What: <%=raw build_related_links("<a class='link' href='/categories/findrelated?search_what=",
                                                       situation.situationcondition.what) %></li>
            <% end %>

            <% if !situation.situationcondition.whendate.nil? %>
             		<li>When: <a class="link" href="#"><%= (situation.situationcondition.whendate)%></a></li>
           	<% end %>

            <% if !situation.situationcondition.where.nil? && !situation.situationcondition.where.empty?%>
              		<li>Where: <%=raw build_related_links("<a class='link' href='/categories/findrelated?search_where=",
            										                      situation.situationcondition.where) %></li>
            <% end %>
           <%end %>

           <% if !situation.category.nil? || (defined?(show_all) && show_all) %>
             <li>Category:
             <% if !situation.category.nil? %>
             <%= link_to situation.category.name, situation.category, :class => "link categoryLinkClass", :id => situation.category.id %>
             <% end %>
            </li>
           <% end %>

           <%if defined?(show_all) && show_all && situation.class.name == "Situation" &&
                        !situation.situationcondition.nil? && !situation.situationcondition.whendate.nil?%>
             <li><span class="expirationText">Expires in:</span> <span class="countDown"
                      value="<%= situation.situationcondition.whendate.to_i %>"></span>
             </li>
           <% end %>
        </ul>
    </div>

    <div class="cl">&nbsp;</div>
  </div>

  </li>
  <% end %>

  <% end %>

</ul>
