<% can_vote = (!current_user.nil? ) %>

<div class="post situations_normal">

  <% if situation.class.name == "Situation"%>
    <% go_link = situations_path + '/' + situation.id.to_s %>
  <% else %>
    <% go_link = plans_path + '/' + situation.id.to_s %>
  <% end %>

  <% if !defined?(match_a_plan) || !match_a_plan %>
    <a href="<%= go_link %>" internal_id=<%=situation.id%> class="divlink">
      <span class="divlinkspan"></span>
    </a>
  <%end%>


  <div class="meta">
    <p>Posted by <%= by_user(situation.user) %> <%= time_diff_in_natural_language(Time.now, situation.created_at)%> ago</p>
  </div>

  <div class="image"><%=  avatar_link_to_user(situation.user) %></div>

  <div class="body">
    <% if defined?(show_all) && show_all %>

      <h4><span class="situation_text">
          <%= sanitize auto_link(situation.content, :html => { :class => 'link', target: '_blank'}) %> </h4>
      </span>
    <% else %>
      <% if situation.content.length > 120  %>
        <h4><%= raw auto_link(situation.content[0..120],
                             :html => { :class => 'link', target: '_blank'}) << '...' %> </h4>
      <% else %>
       <h4><%= sanitize auto_link(situation.content,
                            :html => { :class => 'link', target: '_blank'}) %></h4>
      <% end %>
    <% end %>

    <% if situation.class.name == "Situation" && situation.plan %>
      <p><a class='link' ><%= sanitize auto_link(situation.plan.content,
                                           :html => { :class => 'link', target: '_blank'}) %></a></p>
    <% end %>

    <%if showplans && situation.class.name == "Situation" && situation.plans.any? %>
     <p><%= pluralize(situation.plans.count, "plan") %></p>
    <% end %>

    <ul class="entry-info">
    <%if situation.class.name == "Situation" && !situation.situationcondition.nil? %>
      <% if !situation.situationcondition.what.nil? && !situation.situationcondition.what.empty?%>
         <li>What: <%=raw build_related_links("<a class='link' href='/categories/findrelated?search_what=",
                                              situation.situationcondition.what) %></li>
      <% end %>

      <% if !situation.situationcondition.whendate.nil? %>

        <% if defined?(show_all) && show_all && situation.situationcondition.whendate < DateTime.now%>
          <li>When: <a class="link" href="/categories/findrelated?search_whendate=<%=format_when_date_simple(situation.situationcondition) %>"><%= format_when_date(situation.situationcondition)%></a></li>
        <% end %>

      <% end %>

      <% if !situation.situationcondition.where.nil? && !situation.situationcondition.where.empty?%>
        <li>Where: <%=raw build_related_links("<a class='link' href='/categories/findrelated?search_where=",
                                              situation.situationcondition.where) %></li>
      <% end %>
    <%end %>

    <%if situation.class.name == "Plan" && !situation.plancondition.nil? %>
      <% plan = situation %>
      <% if !plan.plancondition.what.nil? && !plan.plancondition.what.empty?%>
        <li>What: <%=raw build_related_links("<a class='link' href='/categories/findrelated?search_what=",
                                             plan.plancondition.what) %></li>
      <% end %>

      <% if !plan.plancondition.whendate.nil? %>
       <li>When: <a class="link" href="#"><%= format_when_date(plan.plancondition)%></a></li>
      <% end %>

      <% if !plan.plancondition.where.nil? && !plan.plancondition.where.empty?%>
       <li>Where: <a class="link" href="#"><%= (plan.plancondition.where)%></a></li>
      <% end %>
    <%end %>

    <% if !situation.category.nil? || (defined?(show_all) && show_all) %>
    <% is_comma_needed = false %>
      <li>Category:
       <% if !situation.category.nil? %>
         <%= link_to situation.category.name, situation.category, :class => "link categoryLinkClass", :id => situation.category.id %>
         <% is_comma_needed = true %>
       <% end %>
       <% if situation.class.name == "Situation" && !situation.categories.nil? && !situation.categories.empty?%>
	      <% situation.categories.each do |category| %>
		       <% if is_comma_needed %>
		       , 
		       <%end %>   	      	
    	      <%= link_to category.name, category, :class => "link categoryLinkClass", :id => category.id %>
    	      <% is_comma_needed = true %>
          <% end %>   
       <% end %>
       <% if is_comma_needed %>
       , 
       <%end %>   
         <span class="newcategory" id="situation_<%=situation.id%>">
           <a class="link addcategory" href="javascript:addACategory('<%=situation.id%>','<%= (situation.class.name + "s").downcase %>')"><span>+Add</span></a>
         </span>       
      </li>
    <% end %>

    <% if defined?(show_all) && show_all && situation.class.name == "Situation" && !situation.situationcondition.nil? && !situation.situationcondition.whendate.nil?%>
      <li>
       <span class="expirationText">Expires in:</span>
       <span class="countDown" value="<%= situation.situationcondition.whendate.to_i %>"></span>
      </li>
    <% end %>
    </ul>

  </div>

  <div class="cl">&nbsp;</div>
  <% if !defined?(match_a_plan) || !match_a_plan %>
    <% if situation.class.name != "Situation" %>
      <% plan = situation %>
    <% end %>
    <a href="<%= go_link %>" internal_id=<%=situation.id%> class="button">View<span></span></a>
  <% end %>

  <div class="social-links">
    <%= render :partial => "situations/thumb_rating", :locals => {:situation=>situation}%>
    <% if can_vote %>

      <%
      if situation.class.name == "Situation"
       url = 'http://' + request.env['HTTP_HOST'] +
         situations_path + '/' + situation.id.to_s
       post =  "Question"
      else
       url = 'http://' + request.env['HTTP_HOST'] +
         plans_path + '/' + situation.id.to_s
       post =  "Answer"
      end

      urlrequest = bitly_sharetweet(url)
      
      if (!urlrequest.nil?)
      	short_url = urlrequest.short_url      	
      else
      	short_url = url
      end
      
      tweety = 'http://twitter.com/share?&via=GoAlasker&' +
       'url=' +  short_url + '&text=' +
       situation.content[0..104].gsub(/\s\w+$/, '...')

      sharey = 'http://www.facebook.com/dialog/feed?app_id=154728984618224&' +
       'link=' + short_url + '&' +
       'picture=http://alasker.com/css/images/logo.png&' +
       'name=alasker&caption=' + post + ' posted on alasker.com&' +
       'description=' + situation.content + '&' +
       'redirect_uri=' + url
	  %>

    <%= link_to image_tag('/css/images/tw-icon-small.png'), tweety, :target => :blank %>
    <%= link_to image_tag('/css/images/fb-icon-small.png'), sharey %>

    <% else %>
     <span><img src="/css/images/tw-icon-small.png" alt="" title="Log in to tweet."/></span>
     <span><img src="/css/images/fb-icon-small.png" alt="" title="Log in to share."/></span>
    <% end %>
  </div>

<div class="cl">&nbsp;</div>
<span class="plan_id_line" style="display:none;"><%= situation.id %></span>

</div>
