<% @situations.each do |situation| %>
    <li><%= render :partial => "situations/listpart", :layout => false,
                   :locals => {:showplans => false, :situation=>situation, :show_all => true} %>
    </li>
<% end %>