<% if !@situations.nil? %>

  <script>
    $(document).ready(function() {
      initThumbRating();
    });
  </script>
  
  <ul class="posts">
    <% if showtitle %>
      <li>
        <div class="title">
                <h3>This just in...</h3>
        </div>
      </li>
    <% end %>    

    <% @situations.each do |situation| %>
      <li><%= render :partial => "situations/listpart", :layout => false,
       :locals => {:showplans => false, :situation=>situation, :show_all => true} %></li>

    <% end %>
  </ul>

  <% if paging_on %>
    <%= will_paginate @situations %>
  <% end %>
  
<% end %>