<% can_vote = (!current_user.nil? ) %>
<div class="thumb_rating " >
  <strong class="votes_balance votes_balance_<%= situation.id.to_s%>">
    <%=situation.votes%>
  </strong>

  <input type="submit" title="<%=can_vote ? 'Vote up' : 'You must be logged in to vote'%>"
    alt="<%= (situation.class.name + "s").downcase %>" value="+1" name="thumbsup" classtype="situations"
  	id="<%= situation.id.to_s%>" class="<%=can_vote ? 'vote_up' : 'vote_up_disabled'%>" />

  <input type="submit" title="<%=can_vote ? 'Vote down' : 'You must be logged in to vote'%>"
    alt="<%= (situation.class.name + "s").downcase %>" value="-1" name="thumbsdown" classtype="situations"
  	id="<%=situation.id.to_s%>" class="<%=can_vote ? 'vote_down' : 'vote_down_disabled'%>" />
</div>

