<h1>Situations</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @situations.each do |situation| %>
  <tr>
    <td><%= situation.content %>

	    <%if  situation.plans.any? %>
	    <b>(
	    <% end %>

	    <% situation.plans.each do |plan| %>
        <%= link_to (plan.content.length > 10 ? plan.content[0..60] << '...' : plan.content), plan %>
        <% end %>

      <%if  situation.plans.any? %>
	    )</b>
	    <% end %>

    </td>

    <td><%= link_to 'Show', situation %></td>
    <td><%= link_to 'Edit question', edit_situation_path(situation) %></td>
    <td><%= link_to 'Delete question', situation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>

<% end %>
</table>

<br />

<%= link_to 'New Situation', new_situation_path %>

