<% @toppanel = 1 %>
  <% content_for :toppanel do %>
    <%= form_tag("/situations", :method => "get") do %>
      <%= label_tag(:q, "Find a situation: ") %>
      <%= text_field_tag(:searchstring, @escaped_searchstring, :size=>50) %>
      <%= submit_tag("Search") %>
    <% end %>
  <% end %>

<script type="text/javascript" src="/js/show-functions.js"></script>
<script type="text/javascript" src="/js/suggestcategory.js"></script>

<% @tabspanel = 1 %>
  <% content_for :tabspanel do %>
    <ul>
      <li><a href="/plans/listby?home=0&limit=15&newlayout=1&paginate=1&searchstring=<%= @escaped_searchstring?  @escaped_searchstring  : '' %>" 
      	class="tabtooltipfix" title="fragment-1" realtitle="Recent Questions"><span>Recent</span></a></li>
      <li><a href="/plans/listby?home=1&limit=15&newlayout=1&paginate=1&searchstring=<%= @escaped_searchstring?  @escaped_searchstring  : '' %>"
      	class="tabtooltipfix" title="fragment-1" realtitle="Popular Questions"><span>Popular</span></a></li>
    </ul>

    <div id="fragment-1">
    </div>
  <% end %>

<%= render '/categories/suggest_category', :layout => false %>

