<link rel="stylesheet" href="/css/forms.css" type="text/css" media="all" />

<h3>Let's clarify your question a little...</h3>
<p>Give more details before sending it off</p>
<br/>

<%= form_for(@situation) do |f| %>
    <input type="hidden" name="redirect" />

    <%= f.hidden_field :location_lat %>
    <%= f.hidden_field :location_lng %>
    <%= f.hidden_field :location_radius %>

	<ul id="element-list">
	  <li class="form-element">
		  <%= f.label :content, 'You wrote: ', :class => "field-title" %>
		  <%= f.text_area :content, :size => "80x5", :class => "my-textarea",:style => "width:433px" %>
	  </li>
<!--
	  <li class="form-element"><br />
		  <%= fields_for :plan do |plan_form| %>
			   <%= plan_form.label :content, 'What have you tried already?', :class => "field-title" %><br />
		    <%= plan_form.text_area :content,:autofocus => true, :size => "80x5", :class => "my-textarea",:style => "width:433px" %>
		  <% end %>
	  </li>
-->
	  <li class="form-element">
		  <%= f.label :category, :class => "field-title" %>
		    <div class="select-div">
		      <div class="select">
			      <%= f.collection_select :category_id, Category.all, :id, :name,
			                           		{ :prompt => true, :class => "select" },
			                           		{ "style" => "width:200px" } %>
		      </div>
		    </div>
	  </li>

	  <br/>

	  <%= fields_for :situationcondition do |condition_form| %>
<!--
	  <li class="form-element">
			<%= condition_form.label :what, 'What', :class => "field-title" %>
			<div class="mini-guide">These keywords or tags make it easier for others to respond to your situation. We've added some keywords already based on the text you already entered.</div>
        <div class="expand-field">
          <%= condition_form.text_field :what, :class => "my-field" %>
          <br class="cl" />
        </div>
    </li>
-->
	  <li class="form-element">
      <%= condition_form.label :where, 'Where', :class => "field-title" %>
      <div class="mini-guide">Where are you? (country, city, street, your specific location)</div>
        <div class="my-input-field-auto-height">
        <div class="my-input-field-auto-height-top">
			  <div class="my-input-field-auto-height-bottom">
          <%= condition_form.text_field :where, :class => "my-field", :id => "where_are_you" %>
        </div>
        </div>
		    </div>
        <div id="where_map" style="width:300px;height:300px;margin-top:4px;margin-bottom:4px;"></div>
        <div class="mini-guide">Drag and drop the red pin to locate your exact place on the map.</div>	 
	  </li>
<!--
	  <li class="form-element">
      <%= condition_form.label :whenkeyword, 'When:', :class => "field-title" %>
			  <div class="my-input-field">
			    <%= condition_form.text_field :whenkeyword, :class => "my-field" %>
		   	</div>
	  </li>
-->

	  <li class="form-element">
			<%= condition_form.label :whendate, 'When do you need an answer by?', :class => "field-title" %>
				<div class="my-input-field date-field">
			    <%= condition_form.text_field :whendate, :value=>format_when_date(@situationcondition), :class => "my-field datepicker " %>
			 </div>
	  </li>

	<% end %>
  </ul>
	<br>
	<div class="actions">
  	<% if current_user.nil? %>
  	<div align="center">
      <h4>Seems like you are new to Alasker</h4><br>
	  	&nbsp; &nbsp; &nbsp; <a href="#" id="sign_up_and_finish" class="submit_link2 button"> <span></span> Sign up and Finish my post<span></span></a>
	  	<h4>OR</h4>
      &nbsp; &nbsp; &nbsp; <a href="#" class="submit_link button"> <span></span> Post as a Guest <span></span></a><br>
      <br /><div class="mini-guide">Note: We won't be able to track responses to your question unless you sign up.</div>
    </div>
		<% else %>
  		<a href="#" class="submit_link button">Finish<span></span></a>
		<% end %>
  </div>

<% end %>

<script type="text/javascript" src="/js/textlimit.js"></script>
<script type="text/javascript" src="/js/datepicker.js"></script>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<% if  Rails.env.production? %>
     <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA91Zz5Nv-onIUJcE_k7I9cN7Ey_GW_kIw&sensor=false"></script>
<% else %>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEgzy4o-lMybHPr4umvxpKIdqEStrA_Ec&sensor=false"></script>
<% end %>
<script type="text/javascript" src="/js/next.js"></script>
<script type="text/javascript" src="/js/mapper.js"></script>
<script type="text/javascript" src="/js/next-map.js"></script>



<% @splitpanel = 1 %>
<% content_for :rightpanel do %>
  <h3>Are there any answers here that might help?</h3>

<div id="similarlist">
<%= render 'plans/planlist', :layout => false %>
</div>

<% end %>

