<% situation = @situation %>
  <%if  situation.plans.any? %>
    <!--- <%= render :partial => "situations/listpart", :layout => false, :locals => {:showplans => false, :situation=>@situation, :match_a_plan => true, :show_all => true} %> -->
    <ul>
  <% end %>
  <% situation.plans.each do |plan| %>
    <li><%= link_to (plan.content.length > 10 ? plan.content[0..60] << '...' : plan.content), plan %></li>
  <% end %>

<%if  situation.plans.any? %>
  </ul>
<% end %>

