<div id="fb-root"></div>

<link rel="stylesheet" href="/css/forms.css" type="text/css" media="all" />
<script type="text/javascript" src="/js/show-functions.js"></script>
<script type="text/javascript" src="/js/datepicker.js"></script>
<script type="text/javascript" src="/js/suggestcategory.js"></script>

<script>
  $(document).ready(function() {
	  <% if !params[:page].nil? || !params[:commit].nil? %>
	    makeAMatchPlan(true);
	  <% end %>
  });
</script>

<link href="/css/show.css" rel="stylesheet" type="text/css" media="all" />
<div class="qa_title"><img src="/css/images/q.png" /> <h2><span>Question</span></h2></div>
<ul class="posts">

  <li class="item-indent">
    <%= render :partial => "situations/listpart", :layout => false,
      :locals => {:showplans => false, :situation=>@situation, :match_a_plan => true, :show_all => true} %>
      <br/>
      <a class="button" href="javascript:addAPlan()">Add Answer<span></span></a>
      or&nbsp;&nbsp;&nbsp;&nbsp;
      <a class="button" href="javascript:makeAMatchPlan(false)">Search<span></span></a> for existing answers to link to this question
  </li>
  
  <li>

	  <div class="suggestedplans">
	    <%= render :partial => '/plans/link_a_plan', :layout => false,
	      :locals => {:situation => @situation, :plans=>@other_plans} %>
	  </div>

    <div class="plan" >
      <%= render :partial => '/plans/suggestplan', :layout => false,
        :locals => {:showheadline => true} %>
    </div>

    <%= render '/categories/suggest_category', :layout => false %>
    <%if  @situation.plans.any? %>
      <div class="qa_title_indent"><div class="qa_title">
          <img src="/css/images/a.png" /> <h2><span>Answers</span></h2>
      </div></div>

      <ul class="posts posts-ident">
        <% @plans = @situation.plans %>
        <% @category_name = (@situation.category.name unless @situation.category.nil?) || nil %>
        <%= render :partial => "plans/planlist2", :layout => false,
          :locals => {:showtitle => false, :showplans => false, :paging_on => false} %>
      </ul>
	  <% end %>
  </li>

</ul>

<br/>
<% if !current_user.nil? && (@situation.user == current_user || current_user.admin_enabled) %>
  <%= link_to 'Edit question', edit_situation_path(@situation) %> |
<% end %>

<% if !current_user.nil? && current_user.admin_enabled %>
  <%= link_to 'Delete question', @situation,
    :confirm => 'Are you sure you want to remove the question?', :method => :delete %> |
<% end %>
  
  <%= link_to 'See other questions', situations_path %>
<br/><br/>

<!-- <div class="fb-comments" data-href="<%= request.url %>?access_key=p1an6" data-num-posts="2" data-width="680"></div> -->

