<script type="text/javascript" src="/js/start.js"></script>
<link rel="stylesheet" href="/css/forms.css" type="text/css" media="all" />

<%= form_for(@situation, :url => "/situations/next") do |f| %>
  <% if @situation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@situation.errors.count, "error") %> found:</h2>
      <ul class="ul_list">
        <% @situation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<h3>You may want to add more details.<br/>But first, check out similar questions people have already posted, on the right.</h3>
	<ul id="element-list">
		<li class="form-element">
		  <div class="field">
		    <%= f.text_area :content, :maxlength => 120, :rows => "5", :style => "width:433px", :class => "my-textarea" %><br />
		  	<span class="small" id='char_count'></span><br/>
		    None of those questions helped? Continue, so you can add some useful data.<br />
	    </div>
	  </li>
	</ul>

	<div class="actions">
		<a href="#" class="submit_link button">Continue<span></span></a>
	</div>

<% end %>

<script type="text/javascript" src="/js/textlimit.js"></script>

<% @splitpanel = 1 %>

<% content_for :rightpanel do %>
  <div class="title">
    <h3>We thought these questions might be like yours. Click on any of them to have a look.</h3>
  </div>

  <div id="similarlist">
    <%= render 'list' %>
  </div>
<% end %>

