@font-face {font-family: miso-bold;src: url("../fonts/miso-bold.otf")}
@font-face {font-family: miso;src: url("../fonts/miso.otf")}
.ui-bar-a{
background:#FF604C;
border-bottom:none;
padding-bottom:10px;
}

.ui-footer{
background:#77373C;
text-align:center;font-size:90%;color:#4A1317;
padding:10px 0px;


}

.ui-content{

border-bottom:none;
}
.ui-header{
padding-top:10px;
}
.ui-header h1.ui-title{
font-size:300%;
margin:0px 0px 5px 0px; 
font-family:miso-bold;
text-shadow: 1px 1px 2px #A83C2F;
}

.ui-header h3.ui-title{
margin:0px;
text-shadow: 1px 1px 2px #A83C2F;
}

#home-buttons{width:98%; margin:0px auto 28px  auto;padding:15px 0px 0px 0px; }

#home-buttons .ui-btn-corner-all{
border-radius: .5em;-moz-border-radius: .5em;-webkit-border-radius: .5em;
border-width:1px;border-style:solid;
border-left-color:#F75844;
border-right-color:#F75844;
border-top-color:#F6816B;
border-bottom-color:#ED8972; 
}

#home-buttons .ui-shadow {
	-moz-box-shadow: 0px 0px 0px /*{global-box-shadow-size}*/ 			rgba(0,0,0,0) /*{global-box-shadow-color}*/;
	-webkit-box-shadow: 0px 0px 0px /*{global-box-shadow-size}*/ 		rgba(0,0,0,0) /*{global-box-shadow-color}*/;
	box-shadow: 0px 0px 0px /*{global-box-shadow-size}*/ 				rgba(0,0,0,0) /*{global-box-shadow-color}*/;
}
#home-buttons .ui-btn {
text-align:left;
font-size:80%;margin-bottom:11px;
background:-webkit-gradient(linear, left top, left bottom, from(#F6816B), to(#FF604C)); 
background: -moz-linear-gradient(top,  #F6816B, #FF604C ); 
}
#home-buttons a:hover, #home-buttons a:visited{
color:#ffffff;
}

.text_center .ui-link { color:#ED8972; font-weight:normal; }
.text_center .ui-link:hover{
color:#ED8972;
}
 
 .ui-field-contain{
 border:none;
 padding:7px 0px;
 
 }