.ui-page{
background:#DFD6BB !important; 
}

a{color:#ED8972;}
#scrollbar1 {margin: 20px 0 10px; border:#ABABAB solid 2px;
-webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 25px; padding:8px 0px ;
background:#FFFFFF; padding-left:10px; }
#scrollbar1 .viewport { width:88%; overflow: hidden; position: relative;  }
#scrollbar1 .viewport ul{margin:0px;padding:0px;font-size:100%;}
#scrollbar1 .viewport  ul li{list-style-type:none;border-bottom:1px solid #E8E8E8;padding:0px 0px 10px 6px;margin-bottom:11px;}
#scrollbar1 .viewport  ul li a{color:#000000;text-decoration:none; display:block; font-weight:normal;}
#scrollbar1 .viewport  ul.ul_list li{border-bottom:none;}

#scrollbar1 .viewport  span.go_button{display:block;background:url(../images/go_button.gif) 0px 0px no-repeat;height:23px;width:42px;float:left;color:#FFFFFF;padding:3px 0px 0px 10px;text-decoration:none;font-size:90%;}
#scrollbar1 .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 10px 0 0 0; margin: 0;  width:100%;  }
#scrollbar1 .scrollbar{ position: relative; float: right; width: 20px; right:5px; }
#scrollbar1 .track { background:#FFFFFF; border:2px solid #DBDBDB; height: 100%;  position: relative; padding: 0 1px; -webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 25px;}
#scrollbar1 .thumb { background: transparent url(../images/bg-scrollbar-thumb-y.png) 0px 0px no-repeat; height: 52px; width: 52px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -14px; }
#scrollbar1 .disable { display: none; }
.scrollbar1{height:260px;}
.scrollbar1 .viewport{height:250px;}
.scrollbar2{ height:168px;}
.scrollbar2 .viewport {height:160px;}
.scrollbar3{ height:379px;}
.scrollbar3 .viewport {height:370px;}

.form{padding:0px 10px 0px 11px;}
h2{font-family:miso-bold;font-size:145%;color:#77373C;font-weight:normal;margin:0px 0px 20px 0px;text-shadow: 3px 1px 4px #91917B;}

.form label{text-shadow: 1px 1px 2px #A83C2F;font-family:miso-bold; color:#FFFFFF;font-size:160%;margin:0px 0px 4px 0px; display:block; display:block}

.input_button{height:100%;  }
.input_button .button_arrow{float:right;}
.button{font-size:120%;color:#FFFFFF;font-family:arial; background:none;border:none;height:37px; 
background:url(../images/button_arrow.gif) right 0px no-repeat; text-align:left; padding:4px 15px 0px 10px; width:100%;}
.button_arrow{float:left;  background:url(../images/button.png) 0 0px no-repeat;}
.set_button{width:140px;}
.set_button .button{width:140px;height:37px;text-align:center;}

.text_center{font-size:76%;text-align:center;color:#77373C;}
label{font-size:160%;display:block;color:#77373C;text-shadow: 3px 1px 4px #91917B;font-family:miso-bold;padding-left:10px;margin-bottom:2px;}

.button_link{color:#FFFFFF;
font-family:miso;
font-weight:normal;

 }

.button_img{ position:relative;display:block;background:url(../images/img.png) 0px center no-repeat;width:30px;height:70px;float:left;border-right:1px solid #F95945;margin:0px 10px 0px 0px;}
.button_img1{background:url(../images/img1.png) 0px center no-repeat;}
.button_title{font-family:miso-bold;font-size:160%; }


#top_content{padding:10px 0px 10px 26px; background:#FFFFFF;}
#top_content p{font-size:95%;}
#top_content p a{color:#FF604C;}

.content_orange{background:#FF604C;}

.title2{font-size:210%;margin:0px;}
.title3{color:#FFFFFF;font-size:160%;margin:0px 0px 0px 0px;}
.color_white{color:#FFFFFF;text-shadow: 1px 1px 2px #A83C2F;}
p.text24{font-size:90%;}
p.text32{font-size:120%;}
.font_bold{font-family: helveticaNeue-medium; font-weight:bold;}

#sign_up_form{margin:0 auto 30px auto; width:100%; }

#nav{height:100%;}
#nav ul{font-size:90%;margin:0px;padding:0px;}
#nav ul li{ float:left; display:block; width:32%; text-align:center;   }
#nav ul li a{color:#000000;text-decoration:none;padding:6px 10px; display:block; }
#nav ul li.selected a{-webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 25px; background:#D5C9A8;}

.input1{width:60%;}
.input_col{ height:80px; }
.input_col p{ float:left; margin-top:0px;}
.finish_button{ float:right; position:relative; top:32px; left:16px; width:100px; margin-right:10px;}
.finish_button .button{ width:100px; height:37px;text-align:center;}

a.button_link{color:#FFFFFF; background:-webkit-gradient(linear, left top, left bottom, from(#F6816B), to(#FF604C));background: -moz-linear-gradient(top,  #F6816B, #FF604C );border-width:1px;border-style:solid;border-left-color:#F75844;border-right-color:#F75844;border-top-color:#F6816B;border-bottom-color:#ED8972;border-radius: .5em;-moz-border-radius: .5em;-webkit-border-radius: .5em;font-family:miso;display:block;text-decoration:none;}

a.button_link1{text-align:center;padding:28px 0px;font-size:170%;margin:0 auto 20px auto;font-family:miso-bold; color:#FFFFFF;}

.tap_button .ui-link{
color:#FFFFFF;
}

.tap_button .ui-link:hover{
color:#FFFFFF;
}