<h2>Resend confirmation instructions</h2>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <br>
  <h4><%= f.label 'Email', :class => "field-title" %></h4>
  	<div class="my-input-field">
  		<%= f.email_field :login, :class => "field my-field", :autofocus => true, :maxlength => 50 %>
  	</div>

  <br />
  <div class="actions">
  	<a href="#" class="submit_link button">Resend confirmation token<span></span></a>
  </div>
<% end %>
<br>
<%= render :partial => "devise/shared/links" %>