
    <div data-role="content">
      <form action="echo.cfm" method="post">
        <div data-role="fieldcontain">
          <label>You wrote:</label> <input type="text" name="name" id="name" value="">
        </div>
        <div data-role="fieldcontain">
          <label>What have you tried already?</label> <input type="text" name="email" id="email" value="">
        </div>
        <div data-role="fieldcontain">
          <label>Category:</label> <select name="category" id="category">
            <option value="Business">
              Business
            </option>
            <option value="Entertainment">
              Entertainment
            </option>
          </select>
        </div>
        <div data-role="fieldcontain">
          <label>What:</label> <input type="text" name="email" id="email" value="">
        </div>
        <div data-role="fieldcontain">
          <label>Where:</label> <input type="text" name="email" id="email" value="">
        </div>
        <div data-role="fieldcontain">
          <label>When:</label> <input type="text" name="email" id="email" value="">
        </div>
        <div class="input_col">
          <p style="float:left; position:absolute">
            <label>When do you need this?</label> <input name="" type="text" class="input input1" value="06/25/2012 11:00AM">
          </p>
          <div class="button_arrow finish_button">
            <input name="" type="button" value="Finish" class="button" data-role="none">
          </div><br class="clear">
        </div>
      </form>
    </div>
    <div data-role="footer" data-position="fixed">
      <center>
        Advertisement here
      </center>
    </div>
 