<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @plan.content %>
</p>

<p>
  <b>Language:</b>
  <%= @plan.language %>
</p>

<p>
  <b>Keywords:</b>
  <%= @plan.keywords %>
</p>

<p>
  <b>User:</b>
  <%= @plan.user %>
</p>


<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
