<%= @recipient %>/b>, somebody made a comment on your question in alasker!
==========

You wrote:
<%= @question.content %>


<%= @responder %> commented:
<%= truncate(@note.content, :length => 100, :omission => '...') %>


To see the complete answer, go to: <%= @url %>


--team alasker--