<%= @recipient %>/b>, you just got an answer on alasker!
=========================================================

You wrote:
<%= @question.content %>


<%= @responder %> answered:
<%= truncate(@response.content, :length => 100, :omission => '...') %>


To see the complete answer, go to: <%= @url %>


--team alasker--
