<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>

<b><%= @recipient %></b>, somebody made a comment on your question in alasker!

<p>You wrote:<br>
  <i><%= @question.content %></i></p>
<br>

<p>
  <b><%= @responder %></b> commented:<br>
  <i><%= truncate(@note.content, :length => 100, :omission => '...') %></i>
</p>
<br>

<p>
  See all comments <i><%= link_to 'here', @url %></i>.
</p>

<br /><b> --team alasker-- </b><br />

<footer>
  <p>2011-2012. <%= link_to 'alasker', "http://alasker.com", target: "_blank" %>.
    Follow <b><%= link_to '@GoAlasker', "http://twitter.com/GoAlasker", target: "_blank" %></b> on Twitter.
    Like <b><%= link_to 'alasker', "http://www.facebook.com/pages/alasker/446138308757280", target: "_blank" %></b> on Facebook.
  </p>
</footer>

</body>
</html>
