<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>

    <b><%= @recipient %></b>, you just got an answer on alasker!

    <p>You wrote:<br>
      <i><%= @question.content %></i></p>
    <br>

    <p>
      <b><%= @responder %></b> answered:<br>
      <i><%= truncate(@response.content, :length => 100, :omission => '...') %></i>
    </p>
    <br>

    <p>
      To see the complete answer, go to this <i><%= link_to 'link', @url %></i>.
    </p>

    <br /><b> --team alasker-- </b><br />

    <footer>
      <p>2011-2012. <%= link_to 'alasker', "http://alasker.com", target: "_blank" %>.
        Follow <b><%= link_to '@GoAlasker', "http://twitter.com/GoAlasker", target: "_blank" %></b> on Twitter.
        Like <b><%= link_to 'alasker', "http://www.facebook.com/pages/alasker/446138308757280", target: "_blank" %></b> on Facebook.
      </p>
    </footer>

  </body>
</html>
