<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>New Password Confirmation</h2>
    <p>
      Your password was recently changed on <%= @user.updated_at %>.<br>
      Please keep this e-mail for your future reference.
      <br>
      <br>Username: <i><%= @user.username %></i>
      <% if @user.password_required? %>
        <% asterisk = @user.password %>
        <% asterisk.gsub!(/./, '*') %>
        <br>Password: <i><%= asterisk %></i>
      <% end %>
      <br>E-mail: <i><%= @user.email %></i>
    </p>
    <br>
    <p>
      To login to the site, just follow this <b><i><%= link_to 'link', @url %>.</i></b>
    </p>
    <br>

    <footer>
      <p>2011-2012. <%= link_to 'alasker', "http://alasker.com", target: "_blank" %>.
        Follow <b><%= link_to '@GoAlasker', "http://twitter.com/GoAlasker", target: "_blank" %></b> on Twitter.
        Like <b><%= link_to 'alasker', "http://www.facebook.com/pages/alasker/446138308757280", target: "_blank" %></b> on Facebook.
      </p>
    </footer>

  </body>
</html>
