<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  <b><%= @recipient.username %></b>, you just earned a badge on alasker!
  
  <center>
    <div><%= image_tag("#{@user_badge.image}"), :html => {:height=>50, :width=>50} %></div><br>
    <h4><%= @user_badge.name.gsub("-"," ").upcase %></h4>
  </center>

  <p>
  View your badge <i><%= link_to 'here', @url %></i>.
  </p>
  <br />
  <b> --team alasker-- </b><br />

    <footer>
      <p>2011-2012. <%= link_to 'alasker', "http://alasker.com", target: "_blank" %>.
        Follow <b><%= link_to '@GoAlasker', "http://twitter.com/GoAlasker", target: "_blank" %></b> on Twitter.
        Like <b><%= link_to 'alasker', "http://www.facebook.com/pages/alasker/446138308757280", target: "_blank" %></b> on Facebook.
      </p>
    </footer>

  </body>
</html>
