<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <center>
    <div><%= image_tag avatar_url(@sender), :alt => "Avatar of #{@sender.username}", :height=>50, :width=>50 %></div>

      <h3><%= @sender.username %> </h3>
      <p>is now following you on alasker!</p>

      <p>
        <% if @sender.website? %>
          <%= link_to @sender.website, @sender.website %>
        <% end %>  
        <% if @sender.website? && @sender.location? %>
         &bull; 
        <% end %>
        <% if @sender.location? %>
          <%= @sender.location %>     
        <% end %> 
        <br />
      </p>
      </div>
    </center>
    <p>
    View <%= @sender.username %>'s alasker profile <i><%= link_to 'here', @url %></i>.
    </p>
    <br />

    <footer>
      <p>2011-2012. <%= link_to 'alasker', "http://alasker.com", target: "_blank" %>.
        Follow <b><%= link_to '@GoAlasker', "http://twitter.com/GoAlasker", target: "_blank" %></b> on Twitter.
        Like <b><%= link_to 'alasker', "http://www.facebook.com/pages/alasker/446138308757280", target: "_blank" %></b> on Facebook.
      </p>
    </footer>

  </body>
</html>