<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>

    <b><%= @sender %></b> posted a new question:

    <p><i><%= @question.content %></i></p>
    <br>
    <br>
    <p>
      To answer <%= @sender %>'s question, click this <i><%= link_to "link", @url %>.</i>
    </p>
    <br />

    <footer>
      <p>2011-2012. <%= link_to 'alasker', "http://alasker.com", target: "_blank" %>.
        Follow <b><%= link_to '@GoAlasker', "http://twitter.com/GoAlasker", target: "_blank" %></b> on Twitter.
        Like <b><%= link_to 'alasker', "http://www.facebook.com/pages/alasker/446138308757280", target: "_blank" %></b> on Facebook.
      </p>
    </footer>

  </body>
</html>