<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>

    <b><%= @recipient.username %></b>, you just got a message via alasker!
    <br>
    <br>
    <b><%= @sender.username %></b> wrote:

    <p><i><%= @message %></i></p>

    <p>
      <%= link_to 'Login', @url %> to your account to reply.
    </p>
    <br />

    <footer>
      <p>2011-2012. <%= link_to 'alasker', "http://alasker.com", target: "_blank" %>.
        Follow <b><%= link_to '@GoAlasker', "http://twitter.com/GoAlasker", target: "_blank" %></b> on Twitter.
        Like <b><%= link_to 'alasker', "http://www.facebook.com/pages/alasker/446138308757280", target: "_blank" %></b> on Facebook.
      </p>
    </footer>

  </body>
</html>
