Welcome to alasker, <%= @user.username %>
===============================================

Please keep this e-mail for your future reference.

Username: <%= @user.username %>
E-mail: <%= @user.email %>
<% if @user.password_required? %>
  <% asterisk = @user.password %>
  <% asterisk.gsub!(/./, '*') %>
  Password: <%= asterisk %>
<% end %>

To login to the site, just follow this link: <%= @url %>.

Thanks for joining and have a great day!

2011-2012. alasker.
