<!DOCTYPE html>
<html>
  <head>
    <title>Welcome!</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta name="description" content="Welcome to Alasker!">
    <meta name="author" content="abdevlabs">
    <link rel="shortcut icon" href="/favicon.png">
    <link rel="stylesheet" href="./css/style.css">
    <meta property="og:image" content="http://alasker.com/css/images/logo.png"/>
  </head>
  <body>
    <h2>Welcome to alasker!</h2>
    <p>
      Please keep this e-mail for your future reference.
      <br>
      <br>Username: <i><%= @user.username %></i>
      <% if @user.password_required? %>
        <% asterisk = @user.password %>
        <% asterisk.gsub!(/./, '*') %>
        <br>Password: <i><%= asterisk %></i>
      <% end %>
      <br>E-mail: <i><%= @user.email %></i>
    </p>
    <br>
    <p>
      <b><%= link_to 'Login Now!', @url %></b> Get started in asking and answering questions!
    </p>
    <br>
    <p>Thanks for joining and have a great day!</p>
    <br>

    <footer>
      <p>2011-2012. <%= link_to 'alasker', "http://alasker.com", target: "_blank" %>.
        Follow <b><%= link_to '@GoAlasker', "http://twitter.com/GoAlasker", target: "_blank" %></b> on Twitter.
        Like <b><%= link_to 'alasker', "http://www.facebook.com/pages/alasker/446138308757280", target: "_blank" %></b> on Facebook.
      </p>
    </footer>

  </body>
</html>
