/* CSS Document */
@font-face {font-family: helvet-bold; src: url("../fonts/helveticaneueltcom-bd.eot")}
@font-face {font-family: helvet-bold; src: url("../fonts/HelveticaNeueLTCom-Bd.ttf")}
@font-face {font-family: helvet; src: url("../fonts/helveticaneueltcom-lt.eot") }
@font-face {font-family: helvet; src: url("../fonts/HelveticaNeueLTCom-Lt.ttf") }


body{
margin:0px;
font-family:helvet;

}


.clear{
clear:both;
}

#container{
width:720px;
background:url(../images/bg.gif) 0px 0px repeat-x;
margin:0 auto;
}

#home{
padding-bottom:5%;
}

#home_header{
width:80%;
margin:0 auto;
}
#home_header img{
width:99%;
}
#home .home_arrow img{
width:90%;
}

#login_buttons{
padding-top:5%;
width:96%;
margin:0 auto;
}

#login_buttons .reg_login_buttons img{
width:49%;
}
#login_buttons .fb_button{
margin-bottom:3%;
}
#login_buttons .fb_button img{
width:100%;

}

.header1{
margin-top:20px;

 background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#272A2E), to(#4A515A)); /* Safari 5.1, Chrome 10+ */ 
 background: -webkit-linear-gradient(top, #272A2E, #4A515A); /* Firefox 3.6+ */
 background: -moz-linear-gradient(top, #272A2E, #4A515A); /* IE 10 */ 
 background: -ms-linear-gradient(top, #272A2E, #4A515A); /* Opera 11.10+ */ 
 background: -o-linear-gradient(top, #272A2E, #4A515A);
 
height:90px;
border-bottom:1px solid #131313;
border-top-left-radius:10px;
border-top-right-radius:10px;
}
#header{
border-top-left-radius: 10px;
border-top-right-radius: 10px;
color:#FFFFFF;
background:url(../images/header_bg.gif) 0px 0px  repeat-x;
/*background-size:0px 150px;*/

/*height:90px;*/
height:72px;
font-family:arial;
padding:14px 5% 0px 5%;


}

#header a{
color:#FFFFFF;
display:block;
float:left;
border:#191b1e 1px solid ;
-moz-border-radius: 10px;
border-radius: 10px;
padding:7% 6% 7% 6%;
box-shadow: 0px 0px 5px #1E2123;
text-decoration:none;
font-family:helvet-bold;
font-size:150%;
text-shadow: 1px 1px #000000;

}
#header a.selected{
 background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#040505), to(#272A2E)); /* Safari 5.1, Chrome 10+ */ 
 background: -webkit-linear-gradient(top, #272A2E, #040505); /* Firefox 3.6+ */
 background: -moz-linear-gradient(top, #272A2E, #040505); /* IE 10 */ 
 background: -ms-linear-gradient(top, #272A2E, #040505); /* Opera 11.10+ */ 
 background: -o-linear-gradient(top, #272A2E, #040505);
 border-right-color:#595D62;
 border-bottom-color:#595D62;
}

.header_right a{
width:65px;
text-align:center;

}

.header_left{
float:left;
width:30%;
}

.header_center{
text-align:center;
float:left;
position:relative;
font-family:helvet;
font-size:200%;
top:10px;
left:50px;

}

.header_right{
float:right;
width:30%;
}

#header a#setting_link{
margin-left:7px;

padding-top:10px;
padding-bottom:9px;

}


.situations{
padding:0px 58px;
}
.situation{
background:#131313;
border-top:2px solid #050505;
border-left:2px solid #0E0E0E;
border-right:2px solid #0E0E0E;
border-bottom:1px solid #2E2E2E;
-moz-border-radius: 10px;
border-radius: 10px;
padding:0px 0px 13px 0px;
margin-bottom:34px;
}

.situation h3{
color:#999999;
font-size:19px;
font-family:helvet;
padding:0px 58px 0px 58px;
}

.situation .time{
text-align:right;
margin:0px;
color:#999999;
font-size:16px;
padding-right:33px;
padding-top:10px;
}
.situation .time img{
position:relative;
top:4px;

}
.respond_view_buttons{
margin:0 auto;
width:80%;

}
.respond_view_buttons a{
display:block;
float:left;
background:#646670;
color:#1E2021;
padding:0px 0px 0px 0px;
text-align:center;
width:202px;
text-decoration:none;
border-top:1px solid #9597A8;
margin-right:20px;
-moz-border-radius: 10px;
border-radius: 10px;
padding:12px 0px 12px 0px;
font-size:20px;
text-shadow: 1px 1px #6A6A72;
box-shadow: 0px 4px 9px #000000;
font-family:helvet-bold;

 background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#464648), to(#6B6D79)); /* Safari 5.1, Chrome 10+ */ 
 background: -webkit-linear-gradient(top, #6B6D79, #464648); /* Firefox 3.6+ */
 background: -moz-linear-gradient(top, #6B6D79, #464648); /* IE 10 */ 
 background: -ms-linear-gradient(top, #6B6D79, #464648); /* Opera 11.10+ */ 
 background: -o-linear-gradient(top, #6B6D79, #464648);

}


.respond_view_buttons a.visited{
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#244386), to(#2C539E)); /* Safari 5.1, Chrome 10+ */ 
 background: -webkit-linear-gradient(top, #2C539E, #244386); /* Firefox 3.6+ */
 background: -moz-linear-gradient(top, #2C539E, #244386); /* IE 10 */ 
 background: -ms-linear-gradient(top, #2C539E, #244386); /* Opera 11.10+ */ 
 background: -o-linear-gradient(top, #2C539E, #244386);
 color:#FFFFFF;
 border-bottom:1px solid #717171;
 border-top:none;
 box-shadow:         inset 0 4px 5px #1B3378;
}
.line{
border-top:2px solid #181818;
border-bottom:1px solid #232324;
height:1px;
background:#323436;
width:95%;
margin:0 auto 10px auto;
}

.slide_top{
text-align:center;
}
.message{
padding:15px 0px 10px 11px;
box-shadow:         inset 0 4px 5px #43464A;

background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#292C31), to(#4C4F54)); /* Safari 5.1, Chrome 10+ */ 
 background: -webkit-linear-gradient(top, #4C4F54, #292C31); /* Firefox 3.6+ */
 background: -moz-linear-gradient(top, #4C4F54, #292C31); /* IE 10 */ 
 background: -ms-linear-gradient(top, #4C4F54, #292C31); /* Opera 11.10+ */ 
 background: -o-linear-gradient(top, #4C4F54, #292C31);
 border-top:1px solid #5C5F63;
 border-bottom:1px solid #232528;
 margin-bottom:1px;
}
.message .user_img{
float:left;
background:url(../images/photo_frame.gif) no-repeat 0px 0px;
height:80px;
width:80px;
margin-right:17px;
text-align:center;
}
.message .user_img img{
position:relative;
top:6px;
}
.message .user_message{
float:left;
width:562px;

}

.message .user_message p{
margin:0px 0px 3px 0px;
color:#BEC1C3;
font-size:18px;
}

.message .user_message .user_name{
color:#FFFFFF;
font-family:helvet-bold;
}

.view_all_notifications{
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#292C31), to(#4C4F54)); /* Safari 5.1, Chrome 10+ */ 
 background: -webkit-linear-gradient(top, #4C4F54, #292C31); /* Firefox 3.6+ */
 background: -moz-linear-gradient(top, #4C4F54, #292C31); /* IE 10 */ 
 background: -ms-linear-gradient(top, #4C4F54, #292C31); /* Opera 11.10+ */ 
 background: -o-linear-gradient(top, #4C4F54, #292C31);
 text-align:center;
 padding:10px 0px;
 margin-bottom:17px;
 border-top:1px solid #5C5F63;
 margin-top:1px;
}

.popup{

width:610px;
}

.popup ul{
color:#cfdde8;
font-size:20px;
margin:0px;
padding:0px;

}

.popup ul li.first{
border-top-left-radius:10px;
border-top-right-radius:10px;
}

.popup ul li.last{
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
}

.popup ul li{
list-style-type:none;
border-bottom:1px solid #2a2d32;
border-top:1px solid #36383b;
background: #222428 url(../images/list_arrow.gif) no-repeat 97% center;
border-left:1px solid #2a2d32;
border-right:1px solid #2a2d32;
padding:32px 0px 32px 22px;

}

#settings-popup{
display:none;
}