

/* Portrait */
@media screen and (max-width: 320px) {
	.button_container {
		width:90%;text-align:center;margin-left:5%;margin-right:5%;
	}	
	.logo_wrapper{
		width:100%;
		height:240px;
	}
	.cloud_left{
		display:block;
		height:100%;
		width:100%;
		background:url(../images/cloud_left.png) left 40% no-repeat;
		background-size:20% 16%;		
	}
	.cloud_right{
		display:block;
		height:100%;
		width:100%;
		background:url(../images/cloud_right.png) right 20% no-repeat;
		background-size:20% 50%;		
	}
	.logo img{
		width:90%;text-align:center";margin-left:5%;margin-right:5%;
	}
	.logo{
		padding-top:10%;
	}	
}

/* Landscape */
@media screen and (min-width: 321px)  and (max-width: 480px)  {
	.button_container {
		width:88%;text-align:center;margin-left:6%;margin-right:6%;
	}
	.logo_wrapper{
		width:100%;
		height:240px;
	}
	.cloud_left{
		display:block;
		height:100%;
		width:100%;
		background:url(../images/cloud_left.png) left 40% no-repeat;
		background-size:20% 16%;		
	}
	.cloud_right{
		display:block;
		height:100%;
		width:100%;
		background:url(../images/cloud_right.png) right 20% no-repeat;
		background-size:20% 50%;		
	}	
	.logo img{
		width:88%;text-align:center";margin-left:6%;margin-right:6%;
	}
	.logo{
		padding-top:10%;
	}
}

/* tablet */
@media screen and (min-width: 481px)  {
	.button_container{text-align:center;width:100%;}
	.button_block{ margin:0px auto;text-align:left; width:422px }	
	.logo_wrapper{
		width:100%;
		height:400px;
	}
	.cloud_left{
		display:block;
		height:100%;
		width:100%;
		background:url(../images/cloud_left.png) left 80px no-repeat;
		background-size:145px 99px;		
	}
	.cloud_right{
		display:block;
		height:100%;
		width:100%;
		background:url(../images/cloud_right.png) right 10px no-repeat;
		background-size:160px 290px;		
	}	
	.logo img{
		width:421px;text-align:center;margin-left:auto;margin-right:auto;
	 }
	 .logo{
		padding-top:10px;
	 }
}
