#categorylist {
	display: block;
	margin-bottom: 1em;
	
}

#categorylist ul {
	list-style-type:none;
	margin: 0px;
	padding: 0px;       
}

#categorylist br {
	clear:left;
}


#categorylist ul li {
	display: inline;
	float: left;
	padding: 0px 30px 0px 0px;
	width: 10em;
}