.select-div .jquery-selectbox{ width: 305px !important; }
.select-div .jquery-selectbox, .select-div .jquery-selectbox.selecthover, .select-div .jquery-selectbox .jquery-selectbox-moreButton{ background-image: url("images/select2.png");  font-size: 14px; }
.select-div .jquery-selectbox .jquery-selectbox-moreButton{ width: 30px !important; }
.select-div .jquery-selectbox .jquery-selectbox-list{ width: 285px !important; border-color: #DFD6BB; position:static; }
.select-div .jquery-selectbox-currentItem, .select-div .jquery-selectbox-item{ padding-left:10px !important; color:#a29d8a; }

.my-textarea { background: none repeat scroll 0 0 #F8F1D9; border: 1px solid #DFD6BB; color: #502c26; font-size: 14px; padding: 5px 8px; border-radius: 4px 4px 4px 4px; resize: none; }
.my-field { color: #502c26; font-size: 14px; height: 16px; width: 285px; padding: 5px 8px 5px; border: 0; background: transparent; }
.my-input-field { width: 500px; height: 27px; background: url(images/field.png) no-repeat; overflow: hidden; padding: 2px 3px 3px; margin-right: 8px; }
.plan_search_field{float:left; width: 300px; height: 27px; background: url(images/field.png) no-repeat; overflow: hidden; padding: 2px 3px 3px; margin-right: 8px; }
.date-field { width:350px; }
.date-field input{margin-right:6px}
.my-input-field-auto-height{background: url(images/field_bg.gif) 0px 0px repeat-y;width: 500px;}
.my-input-field-auto-height-top{background: url(images/field_top.gif) 0px 0px no-repeat;}
.my-input-field-auto-height-bottom{background: url(images/field_bottom.gif) 0px bottom no-repeat;padding:2px 0px 2px 2px;}
.expand-field{ width: 433px; background: none repeat scroll 0 0 #F8F1D9; border: 1px solid #DFD6BB; color: #502c26; font-size: 14px; padding: 5px 8px; border-radius: 4px 4px 4px 4px; resize: none;}
.form-element{ margin-bottom: 15px; display: block;  }
.form-element .field-title{ color:#6a4943; font-weight: normal; margin-top: 5px; margin-bottom: 5px; font-size: 16px; line-height: 1em; }
.actions{margin-bottom: 20px;}
#element-list { list-style: none; }

::-webkit-input-placeholder {
    color: #A29D8A;
}
:-moz-placeholder {
    color: #A29D8A;
}

/*jez*/
.mini-guide { font-size: 11px; margin-top: -5px; margin-bottom: 5px; font-style: italic; }
.line-through {
	float: left;
	width: 45%;
	clear: both;
	text-align: center;
	position: relative;
	
	border-top: 20px solid #DDD;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #DDD;
}

.check-box {float:left; margin-right:3px; margin-top:2px; }
