div.plan  
{  
  position: relative;
  display: block; 
  width: 498px;
  height: 220px;  
  line-height: 2ex;
}  

div.plan ul li{
  line-height: 1.6em;
}

.suggestedplans 
{
  position: relative;
  display: block;
  padding-bottom: 30px;
  padding-top: 30px;
} 



.situations_highlight {
  background-color: yellow;
  border: 1px black;
}

.situations_selected {
  background-color: gray;
  border: 1px black;
}


.suggestedcategories
{
  padding-bottom: 30px;
  padding-top: 30px;
}

.suggestedcategories li{
  background:#fff;
}

.fb-comments {
}
