* { margin: 0; padding: 0; outline: 0; }

body {
    font-size: 12px;
    line-height: 20px;
    font-family: arial, sans-serif;
    color:#2f2f2f;
    background:url(images/bg.gif) 0px 0px repeat-x;
    min-width: 960px;
}

#clouds{position:absolute; width:100%; top:20px;}
.clouds_left{height:331px; float:left; background:url(images/clouds1.png) 0px 0px no-repeat; width:260px;}
.clouds_right{height:331px; float:right; background:url(images/clouds2.png) 0px 0px no-repeat; width:254px;}
html, body { height: 100%; }

a { color: #07a8e9; text-decoration: none; cursor: pointer; z-index: 10;}
a:hover { text-decoration: underline;  z-index: 10;}
a.link {  text-decoration: none; cursor: pointer; z-index: 10;}
a.link:hover { text-decoration: none;   z-index: 10;}
.situations_normal h4 { cursor: default; }
.situations_normal p { cursor: default; }
a img { border: 0; z-index: 10;}
h3 { font-size: 20px; line-height: 22px; }
h4 { font-size: 14px; line-height: 16px; font-weight:normal;}

input, textarea, select { font-size: 12px; font-family: arial, sans-serif; }
textarea { overflow: auto; }

.cl { display: block; height: 0; font-size: 0; line-height: 0; text-indent: -4000px; clear: both; }
.notext { font-size: 0; line-height: 0; text-indent: -4000px; }
.left, .alignleft { float: left; display: inline; }
.right, .alignright { float: right; display: inline; }

.shell { width: 950px; margin: 0 auto; position: relative; }

a.divlink { display:block; text-decoration: none; }
span.divlinkspan { cursor:default; position:absolute; width:100%; height:100%; top:0; left: 0; z-index: 1; /*Needed for IE7/8 background-image: url('empty.gif');*/ }

a.button { font-size: 14px; line-height: 30px; height: 32px; background: url(images/button.png) no-repeat; display: inline-block; position: relative; padding-left: 11px; color: #fff; font-weight: bold; margin-right: 30px; text-shadow: 1px 1px #CB713D;}
a.button span { position: absolute; top: 0; right: -16px; height: 32px; width: 16px; background: url(images/button-span-no-arrow.png) 100% 0 no-repeat ; }
a.button span.button-arrow { right: -36px; width: 36px; background: url(images/button-span.png) no-repeat 0 0; }
a.button:hover { text-decoration: none;  }
a.button:hover span{  }
a.disabled { text-decoration: none; background-position: 0 bottom; }
a.disabled span { background-position: 0 bottom; }

.small { font-size: 10px; }

#wrapper { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -59px; }

#header { color: #fff; width: 100%; padding: 14px 0 22px; }

h1#logo { width: 232px; height: 85px; font-size: 0; line-height: 0; margin-left: -2px; }
h1#logo a { display:block; height: 85px; background: url(images/logo.png); text-indent: -4000px; }

#top-links { position: absolute; top: 0px; right: 0; line-height: 30px; font-weight: bold; }
#top-links ul li { float: left; display: inline; list-style: none; padding-left: 17px; }
#top-links ul li.last { padding-left: 21px; }
#top-links ul li a { color: #fff; }
#top-links ul li a:hover { color: #77373c; text-decoration: none; }

#navigation {  padding: 6px 0; line-height: 36px; font-size: 17px; color: #ff604c; font-weight: bold; position: relative; z-index: 1000; }
#navigation ul li { list-style: none; float: left; display: inline; padding-right: 48px; position: relative; height: 100%; padding-bottom: 4px; }
#navigation ul li a { text-shadow: 1px 1px #47bbd4; color: #ff604c; display: inline-block; color:#FFFFFF; padding:0px 12px; -moz-border-radius: 5px;border-radius: 5px;  border-top:1px solid transparent;}
#navigation ul li a:hover{ text-decoration:none;}
#navigation ul li a.selected, #navigation ul li a.nav_hover {background:#02aac8;  border-top:1px solid #0291aa; text-decoration: none;}
#navigation .dd { position: absolute; display: none; top: 40px; left: -10px; line-height: 20px; padding: 10px 0 0; -moz-border-radius: 5px;border-radius: 5px; background-color:#02aac8; font-size: 14px;  }
#navigation .dd ul { height: 100%; float: left; display: inline; width: 180px;  }
#navigation .dd ul li { float: none; padding: 0; }
#navigation .dd ul li a {color: #fff; display: block; border: 0; padding: 4px 20px; background:none;  text-shadow: 1px 1px #4994bf; }
#navigation .dd ul li a:hover { color: #fff; text-decoration:underline; }

#top-boxes {  padding: 10px 0; color: #fff; }
#top-boxes .shell { }
#top-boxes .box { background: #1972ac;  -moz-border-radius: 5px;border-radius: 5px; background-color:rgba(25, 114, 172, 0.5); /* For IE8 and earlier */}
#top-boxes .box-top {  }
#top-boxes .box-bottom {  padding: 12px 10px 18px 14px; overflow: hidden; width: 426px; height: 100%; }
#top-boxes h3 { padding-bottom: 5px; }
#top-boxes p { padding-bottom: 15px; }
#top-boxes p a { color:#ffffff; text-decoration: underline;}
#top-boxes .title h3 { color: #fff; }
#top-boxes .input-field { float: left; display: inline; width: 301px; height: 27px; background:#fff; -moz-border-radius: 5px;border-radius: 5px; overflow: hidden; padding: 1px 3px 1px 0px; margin-right: 8px; }
#top-boxes .field { color: #502c26; font-size: 14px; height: 16px; width: 285px; padding: 5px 8px 5px; border: 0; background: transparent; }
#top-boxes .type { float: left; display: inline; }
#top-boxes .type .title { padding-left: 0px; }
#top-boxes .type-small .box-bottom,#top-boxes .go-inside-small .box-bottom{padding-bottom: 8px;}
#top-boxes .type-small .title { height: 76px; }
#top-boxes .type-small .title h3{margin-bottom: 8px;}
#top-boxes .type .button { float: left; display: inline; }
#top-boxes .go-inside { float: right; display: inline; }
#top-boxes .go-inside .title { padding-left:0px;  }

#top-boxes .go-inside-small .button , #top-boxes .go-inside .button { float: right; display: inline; }
#top-boxes .go-inside-small .title { height: 70px; }
#top-boxes .go-inside-small .title h3 {margin-bottom: 8px; }
#top-boxes .go-inside-small-small .title { height: 42px; }
#top-boxes .type #char_count { font-size: 10px; top:102px; position:absolute; display: block }

#main {  padding: 10px 0 38px; width: 100%; }


ul.ul_list{margin:10px 0px 0px 18px;}

#main h3, #main h1{ margin:5px 0px; line-height:1.4em;}


#content { float: left; display: inline; width: 680px;  }

#content h1{ margin-bottom: 20px;}
#splitleft { float: left; display: inline; width: 450px; }

.posts .title { color: #ff604c; border-bottom:dashed 1px #d8f2f7;  padding-bottom: 10px; }

.posts { list-style: none; }
.posts .post { border-bottom:dashed 1px #d8f2f7; padding: 20px 0 5px; position: relative; width: 100%; }
.posts .post h4{ margin-bottom:4px;}
.posts .post .body { float: left; display: inline; padding: 0 0 0 9px; margin-left:6px; }
.posts .post .body a { position: relative; z-index: 10; }
.posts .post .meta { float: right; display: inline; color: #a9a9a9 ;  position: relative; z-index: 10; margin-right:10px; }
.posts .post .button { position: absolute; top: 43px; right: -11px; display:none; }
.posts .post .entry-info { line-height: 16px; padding-bottom: 0; color:#a9a9a9; }
.posts .post .entry-info a { position: relative; z-index: 10;}
.posts .post .entry-info li { margin-bottom:3px;}
.posts .post .social-links { position: absolute; top: 3px; right: 7px; display: none; width: 90px; z-index: 10;}
.posts .post .social-links a,  .posts .post .social-links span{ float: left; display: inline; }
.posts .post .social-links input { float: left; display: inline; }
.posts .post .social-links input { float: left; display: inline; }
.posts .post .social-links strong { float: left; display: inline; }


.post-gradient{
  border-bottom:1px solid #c3c8cb !important;
border-right:1px solid #d0d0d0;
box-shadow:1px 1px 2px #d0d0d0;
-moz-box-shadow: 2px 2px 2px #d0d0d0;
-webkit-box-shadow: 2px 2px 2px #d0d0d0;
 background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#e2e8ed)); /* Safari 5.1, Chrome 10+ */
 background: -webkit-linear-gradient(top, #ffffff, #e2e8ed); /* Firefox 3.6+ */
 background: -moz-linear-gradient(top, #ffffff, #e2e8ed); /* IE 10 */
 background: -ms-linear-gradient(top, #ffffff, #e2e8ed); /* Opera 11.10+ */
 background: -o-linear-gradient(top, #ffffff, #e2e8ed);

}



.posts-ident { padding-left: 40px; }

#slider {border:1px solid #7fd4e3; width: 680px; height: 170px; color: #502c26; padding-bottom: 18px; -moz-border-radius: 5px;border-radius:5px; background: url(images/slider_bg.gif) 0 0 repeat-x; margin-bottom:20px;}
#slider .jcarousel-container { width: 680px; height: 180px; }
#slider .jcarousel-clip { width: 650px; height: 180px;  overflow: hidden; margin: 0 20px; }
#slider .jcarousel-item { width: 650px; height: 180px;  }
#slider .jcarousel-prev,
#slider .jcarousel-next { width: 17px; height: 46px; position: absolute; top: 77px; cursor: pointer; }
#slider .jcarousel-prev { left: 20px; background: url(images/slider-prev.png) no-repeat 0 0; }
#slider .jcarousel-next { right: 20px; background: url(images/slider-next.png) no-repeat 0 0; }
#slider .inactive { background-position: 0 bottom; cursor: default; }
#slider .inactive:hover { background-position: 0 bottom; }
#slider .holder { width: 540px; height: 130px; position: relative; padding: 11px 43px 11px 0px;  }
#slider .holder_header{background:#51bfd7;margin-bottom:20px;}
#slider .holder_header h3{color:#FFFFFF;}
#slider .clock { position: absolute; top: 2px; right: -60px; color: #fff; line-height: 16px; font-weight: bold; text-align: center; }
#slider .expired{top:10px; position: relative;  }
#slider .clock .timer { font-size: 29px; line-height: 31px; font-weight: bold; }
#slider .button { float: right; position:relative; top:135px; right:-100px; background: url(images/blue_button.gif) no-repeat 0 0;  text-shadow: 1px 1px #73afca;}
#slider .button span{  background: url(images/blue_button_span.gif) no-repeat 0 0; }
#slider .post{ margin-left: 45px;}
#slider .post .body{width: 330px;}
#slider .post .body p, #slider .post .body .entry-info{color: #a9a9a9 }
#slider .post .body p{ margin-bottom:6px; }
.post { color: #454545;}
.post h3 { color: #ff604c; padding-bottom: 4px; }
.post .image { float: left; display: inline; width: 61px; height:61px; padding: 5px 0px 0px 4px;  background: url(images/frame.png) no-repeat 0 0; margin-left: 3px;}
.post .body { float: right; display: inline; width: 340px; padding-right: 92px; }
.post .body .entry-info { list-style: none; height: 20px; padding-bottom: 0px; } /*changed bottom from 10px*/
.post .body .entry-info li { float: left; display: inline; padding-right: 24px; }

#sidebar { float: right; display: inline; width: 250px; }
#sidebar1 { float: right; display: inline; width: 262px; }

#fullrightbar { float: right; display: inline; width: 250px; }
#splitright { float: right; display: inline; width: 450px; }

#footer-push { height: 59px; }

#footer { height: 50px; text-align: center; background:#00a9c8; }
#footer .nav { line-height: 30px; padding: 10px 0; float: left; display: inline; height: 30px; }
#footer .nav ul li { float: left; display: inline; padding: 0 8px; font-weight: bold; margin:0px; }
#footer a { color:#FFFFFF}



.previewbox { top: 0px;  position:absolute; padding-left:30px;  margin-left:680px; display:none;}
.previewboxcontent{border: solid 1px #82d3e6;width:250px;padding:5px;min-height:80px;}
.previewbox ul{ margin:0px 0px 0px 20px;}
#planlistupdate{overflow:auto;height:440px;width:470px;padding-right: 10px;}
.errormsg{display:none}

::-webkit-input-placeholder {
    color: #A29D8A;
}
:-moz-placeholder {
    color: #A29D8A;
}
.rnd_box{border:1px solid #D5D5D5;-moz-border-radius: 5px;border-radius: 5px;margin-bottom:17px;}
.rnd_box_following{padding:8px 11px 0px 8px;}
.rnd_box_level{padding:13px 0px 13px 13px;}
.level_num{font-size:14px;}
.level_num img{position:relative;bottom:-3px;margin-right:8px;}
.level_img{margin:10px 0px;}
.level_text{color:#999999;line-height:1.5em;}
.level_text span{color:#E537E6;}
.following_list{border-bottom:1px solid #D8D8D8;padding-bottom:6px;margin-bottom:10px;}
.f_user_info{height:100%;padding-left:10px;}
.f_user_img{float:left;margin:0px 10px 10px 0px;}
.f_user_name{float:left;color:#604A4C;font-weight:bold;}
.f_user_name a{font-weight:normal;}
.user_page{padding-bottom:57px;height:100%;}
.user_page h2{background:#000 url(images/title_bg.gif) 0px 0px repeat-x;height:27px;padding:6px 0px 0px 12px;font-size:20px;}
.user_page h3{font-size:18px;}
.user_page .posts{margin:0px 8px 0px 8px;}
.user_page_left{width:495px;float:left;border-right:1px solid #D8D8D8;}
.user_page_right{width:170px;float:right;margin-right:7px;padding-top:9px;}
.message_page{width:450px;float:left;margin-left:10px;margin-right:10px;padding-top:5px;}
.follow_msg{margin-bottom:15px;}
.follow_msg span{float:right;}
.user_info{height:100%;padding:8px 0px 0px 7px;}
.user_img{float:left;margin-right:13px;}
.user_details{float:left;width:297px;}
h1.user_page_name{margin:0px 0px 10px 0px !important;}
.user_details p img{position:relative;bottom:-2px;margin-right:6px;}
.user_about{padding:10px 0px; margin: 10px 0px 20px 0px;}
.user_block{margin-top:15px;}
.user_block a{margin-right:33px;}
.list_pba{border-bottom:1px solid #D6D6D6;font-size:14px;font-weight:bold;padding-bottom:3px;margin-bottom:17px;}
.list_pba_compose{font-size:14px;font-weight:bold;padding-bottom:3px;margin-bottom:17px;}
.list_pba img{position:relative;bottom:-4px;margin-right:5px;}
.list_pba_small{ font-weight:normal;font-size:12px;}
.list_pba_small img{position:relative;bottom:-2px;}
.list_pba .arrow{float:right;font-size:12px;}
.list_pba .arrow img{bottom:-1px;margin-right:2px;}
/*#msg {cursor:hand;}*/
.badges .badge{
    

    font-size:10px;
    text-align: center;
    line-height: 1.2em;
    margin:0px 0px 10px 1px;
  
   
   float: left !important;
    
}
.badges, .awards{margin-bottom:10px;}
.badges img{vertical-align:top;margin:0px 1px;}
p.see_all{text-align:right;margin-bottom:10px;}
a.a_line{text-decoration:underline;}
.awards img{margin:0px 1px;}
.ads-google{ text-align:center; margin-bottom:27px;}
.error_page{background: url(images/error404.png) 85px 40px no-repeat;height:515px;padding:100px 0px 0px 424px;position:relative;}
.error_page p, .error_page ul{font-size:14px;margin-left:20px;}
.error_page p{margin:20px 0px 20px 20px;}
.error_page h3{font-weight:normal;}
.error_page ul{margin:0px 0px 0px 20px; padding:0px;}
.error_page ul li { background: url(images/bullet.gif) 0px 5px no-repeat; list-style-type: none; padding-left: 20px;}
#link_tab{margin:0px 0px 0px 6px;padding:0px;}
#link_tab li{display:inline;}
/*original
#link_tab li a{display:block;float:left;font-size:14px;color:#8E8588 ;border:1px solid #D6D6D6;-moz-border-radius-topleft: 5px; border-top-left-radius: 5px;-moz-border-radius-topright: 5px; border-top-right-radius: 5px;border-bottom:none;margin-right:4px;padding:6px 32px;font-weight:bold;}
*/
#link_tab li a{display:block;float:left;font-size:14px;color:#8E8588 ;border:1px solid #D6D6D6;-moz-border-radius-topleft: 5px; border-top-left-radius: 5px;-moz-border-radius-topright: 5px; border-top-right-radius: 5px;border-bottom:none;margin-right: 7.5px;
padding: 6px 15px;font-weight:bold;}
.link_tab_bar{clear:both;background: #00a9c8;height:26px;}
#link_tab li.link_tab_selected a{background: #09acca;color:#FFFFFF; border-color:#09acca;}
.arrow_up_down{cursor:pointer;}
#situations_tab, #plans_tab, .arrow_up_down_content{display:none;}
#link_tab li a:hover{text-decoration:none;}
.arrow_up_down_content_show{display: inline;}
.link_tab_content .post{ padding-bottom: 15px;}
.link_tab_content span h4{ padding-left: 10px;}
.link_tab_content .post .body{margin-left:0px; width: 204px;}
.link_tab_content .post .meta{margin-right:5px;}
.link_tab_content .post .social-links{right:2px;}
.link_tab_content .button{ margin-right: 32px;}
.meter {
			height: 10px;  /* Can be anything */
			position: relative;
			margin: 10px 0 20px 0; /* Just for demo spacing */
                        width:86%;
			background: #555;
			-moz-border-radius: 25px;
			-webkit-border-radius: 25px;
			border-radius: 15px;
			padding: 4px;
			-webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
			-moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
			box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
		}
		.meter > span {
			display: block;
			height: 100%;
			   -webkit-border-top-right-radius: 8px;
			-webkit-border-bottom-right-radius: 8px;
			       -moz-border-radius-topright: 8px;
			    -moz-border-radius-bottomright: 8px;
			           border-top-right-radius: 8px;
			        border-bottom-right-radius: 8px;
			    -webkit-border-top-left-radius: 20px;
			 -webkit-border-bottom-left-radius: 20px;
			        -moz-border-radius-topleft: 20px;
			     -moz-border-radius-bottomleft: 20px;
			            border-top-left-radius: 20px;
			         border-bottom-left-radius: 20px;
			background-color: rgb(43,194,83);
			background-image: -webkit-gradient(
			  linear,
			  left bottom,
			  left top,
			  color-stop(0, rgb(43,194,83)),
			  color-stop(1, rgb(84,240,84))
			 );
			background-image: -moz-linear-gradient(
			  center bottom,
			  rgb(43,194,83) 37%,
			  rgb(84,240,84) 69%
			 );
			-webkit-box-shadow:
			  inset 0 2px 9px  rgba(255,255,255,0.3),
			  inset 0 -2px 6px rgba(0,0,0,0.4);
			-moz-box-shadow:
			  inset 0 2px 9px  rgba(255,255,255,0.3),
			  inset 0 -2px 6px rgba(0,0,0,0.4);
			box-shadow:
			  inset 0 2px 9px  rgba(255,255,255,0.3),
			  inset 0 -2px 6px rgba(0,0,0,0.4);
			position: relative;
			overflow: hidden;
		}
		.meter > span:after, .animate > span > span {
			content: "";
			position: absolute;
			top: 0; left: 0; bottom: 0; right: 0;
			background-image:
			   -webkit-gradient(linear, 0 0, 100% 100%,
			      color-stop(.25, rgba(255, 255, 255, .2)),
			      color-stop(.25, transparent), color-stop(.5, transparent),
			      color-stop(.5, rgba(255, 255, 255, .2)),
			      color-stop(.75, rgba(255, 255, 255, .2)),
			      color-stop(.75, transparent), to(transparent)
			   );
			background-image:
				-moz-linear-gradient(
				  -45deg,
			      rgba(255, 255, 255, .2) 25%,
			      transparent 25%,
			      transparent 50%,
			      rgba(255, 255, 255, .2) 50%,
			      rgba(255, 255, 255, .2) 75%,
			      transparent 75%,
			      transparent
			   );
			z-index: 1;
			-webkit-background-size: 50px 50px;
			-moz-background-size: 50px 50px;
			-webkit-animation: move 2s linear infinite;
			   -webkit-border-top-right-radius: 8px;
			-webkit-border-bottom-right-radius: 8px;
			       -moz-border-radius-topright: 8px;
			    -moz-border-radius-bottomright: 8px;
			           border-top-right-radius: 8px;
			        border-bottom-right-radius: 8px;
			    -webkit-border-top-left-radius: 20px;
			 -webkit-border-bottom-left-radius: 20px;
			        -moz-border-radius-topleft: 20px;
			     -moz-border-radius-bottomleft: 20px;
			            border-top-left-radius: 20px;
			         border-bottom-left-radius: 20px;
			overflow: hidden;
		}

		.animate > span:after {
			display: none;
		}

		@-webkit-keyframes move {
		    0% {
		       background-position: 0 0;
		    }
		    100% {
		       background-position: 50px 50px;
		    }
		}

                

                 .orange > span {
			background-color: #f1a165;
			background-image: -moz-linear-gradient(top, #f1a165, #f36d0a);
			background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f1a165),color-stop(1, #f36d0a));
			background-image: -webkit-linear-gradient(#f1a165, #f36d0a);
		}

		.red > span {
			background-color: #f0a3a3;
			background-image: -moz-linear-gradient(top, #f0a3a3, #f42323);
			background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f0a3a3),color-stop(1, #f42323));
			background-image: -webkit-linear-gradient(#f0a3a3, #f42323);
		}

		.nostripes > span > span, .nostripes > span:after {
			-webkit-animation: none;
			background-image: none;
		}


  .badge_single{
padding-top:40px;
margin-bottom: 20px;

}
.badge_click_left{
float:left;
position:relative;
top:58px;
}

.badge_big{
float:left;
position:relative;
left:300px;
height:211px;


}
.badge_click_right{
float:right;
position:relative;
top:58px;
}

.badge_desc{
float:left;
position:relative;
left:340px;
width:243px;
top:60px;
}

.orange_bar{
background: url(images/tab_bar.gif) 0px 0px repeat-x;height:26px;
margin:10px 0px;
}

.user_badge{
width:320px;
float:left;
margin:0px 0px 23px 14px;
}

.user_badge_img{
float:left;

}

.user_badge_info{
width:254px;
float:right;
}
.user_badge_info p{
margin:0px 0px 5px 0px;
line-height:1.1em;
}

.tbl_badge td{
border-top:1px solid #d7d7d7;
padding:15px 0px;
}

.tbl_badge th{
vertical-align:top;
padding-bottom:10px;
}

.td_badge_img{
text-align:center;
line-height: 1.3em;

}

#error_explanation ul{
    margin:10px 0px 10px 20px;
    color:red;

    
}
#error_explanation h2{
    font-size:16px;

}

.qa_title{
height:53px;
}
.qa_title h2{
font-size:17px;
color:#51bfd7;
font-weight:bold;
border-bottom:1px solid #51bfd7;
margin-left:59px;
padding-top:20px;
margin-bottom:0px;
}
.qa_title h2 span{
border-bottom:1px solid #51bfd7;
display:inline-block;
}
.qa_title img{
position:absolute;
}
.qa_title_indent{
padding:10px 0px 0px 20px;
}
.item-indent{padding-left:10px;}
.blue_box{
    border:1px solid #7fd4e3;
    background: url(images/slider_bg.gif) 0 0 repeat-x;
    padding:20px 0px 4px 20px; -moz-border-radius: 3px;border-radius:3px;
    margin-bottom:20px;

}
.blue_box h2{
    color:#fff;
    margin-bottom: 20px;

}

.blue_box h2 a{
    color:#fff;

}


.map_bubble {
position:relative;
padding:5px;
margin:1em 0 3em;
color:#fff;
background:#9E9E9E; /* default background for browsers without gradient support */
/* css3 */
background:-webkit-gradient(linear, 0 0, 0 100%, from(#F7F7F7), to(#9E9E9E));
background:-moz-linear-gradient(#F7F7F7, #9E9E9E);
background:-o-linear-gradient(#F7F7F7, #9E9E9E);
background:linear-gradient(#F7F7F7, #9E9E9E);
-webkit-box-shadow:  1px 1px 10px 1px #888;
box-shadow:  1px 1px 10px 1px #888;
border-color:black;
border-width:1px;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
}
.map_bubble:after {
    content:"";
    position:absolute;
    bottom:-20px; /* value = - border-top-width - border-bottom-width */
    right:50px; /* controls horizontal position */
    border-width:20px 0 0 20px; /* vary these values to change the angle of the vertex */
    border-style:solid;
    border-color:#9E9E9E transparent;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
}
.map_bubble .avatar {float:left;display: inline; width: 61px; height:61px; margin: -5px 0px 0px -4px;background: url(images/frame.png) no-repeat 0 0}
.map_bubble .avatar img {width:50px;height:50px;padding:5px 0 0 4px}
.map_bubble .info {float:right;width:200px;background:transparent;}
.map_bubble .info .content {color:#000;font-weight:bold;width:100%;display:block;position:relative;text-overflow:ellipsis;overflow:hidden;white-space:hidden;line-height:13px;max-height:39px;}
.map_bubble .info .content {
    text-overflow:-o-ellipsis-lastline;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.map_bubble .info ul {list-style-type:none;padding:0;margin:0;margin-top:6px;}
.map_bubble .info ul li {font-weight:lighter;margin:0;padding:0;line-height:13px;color:#262525;}
.map_bubble .info ul li span {margin-left:4px;font-weight:bolder;color: #12a7e9;}

#flash_notice{font-size: 14px; margin-bottom:5px; font-weight:bold; color:#51bfd7; padding-left:5px;}

input[type=submit].submit_link { font-size: 14px; line-height: 30px; height: 32px; background: url(images/sign_in.png) no-repeat; display: inline-block; position: relative; padding-left: 11px; color: #fff; font-weight: bold; margin-right: 30px; text-shadow: 1px 1px #CB713D;width:76px;}
input[type=submit].submit_link { border:none }

.bubble 
{
  position: relative;
  width: 250px;
  height: 300px;
  padding: 0px;
  background: #FFFFFF;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border: solid 1px #C0C0C0;
}

.bubble:after 
{
  content: "";
  position: absolute;
  top: -12px;
  left: 217px;
  border-style: solid;
  border-width: 0 7px 12px;
  border-color: #FFFFFF transparent;
  display: block;
  width: 0;
  z-index: 1;
}

#notifications_parent
{
  position: absolute;
  right: 0px;
  top: 35px;
  display: none;
  z-index: 1001;
}

#notifications
{
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  color: #C0C0C0;
}

#notifications td {
  border-top: solid 1px #C0C0C0;
  width: 100%;
}

#notifications a {
  color: #07A8E9 !important;
}

/* Map View scroller */

#map_wrapper {
    width:280px;
    height:160px;

    float:left;
    position:relative;
    z-index:1;
    overflow:hidden;



    background: #FFFFFF;
}

#map_scroller {
    width:2100px;
    height:100%;
    float:left;
    padding:0;
}

#map_scroller ul {
    list-style:none;
    display:block;
    float:left;
    width:100%;
    height:100%;
    padding:0;
    margin:0;
    text-align:left;
}

#map_scroller li {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    display:block; float:left;
    width:280px; height:160px;
    text-align:center;
    font-family:georgia;
    font-size:18px;
    line-height:140%;
}

#map-marker {
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
}

.scroll_arrows {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 8pt;
}

#admin-tasks {
  display: inline-block; color:#0291aa; padding:0px 12px; -moz-border-radius: 5px;
  border-radius: 5px;  border-top:1px solid transparent; background:#ffffff;  
  border-top:1px solid #0291aa;
}