#tabs {
  width:680px;
  height: auto;
  margin: 0 auto;
  display: inline;
  float: left;
padding:20px 0px 0px 0px !important;
border-color:#d5d5d5 !important;
background:none !important;

}

#tabs-sort-by {

 line-height: 1;
 margin: 0;
 padding: 0 5px 5px;
 height: 30px;
}


.ui-tabs-hide { display:none; }

#tabs-sort-by-ul {
 list-style-type: none;
 display: block;
 float:left;
 padding-left:0;
 margin-left:0;
}


.ui-tabs .ui-tabs-nav { background:none !important; margin: 0 ; padding: .2em .2em 0; 
  border:none !important; border-bottom: #00a9c8 26px solid !Important; 
  border-radius:0 0 !Important;  -moz-border-radius:0 0 !important;  }

.tabs-sort-by-li {
	float: left;
	margin: 5px;
}

/*#tabs .ui-state-default .ui-corner-top .ui-tabs-selected .ui-state-active {
    background-color: #ff604c ;
    color: #ff604c ;
}*/

#tabs .ui-state-default {
    /*background-color: #ffff00;
    color: #000000;
    color: #ff604c ;
    */

	font-size:14px !important; 
  border:1px solid #D6D6D6 !important;
  margin-left:10px !important;

}

#tabs .ui-state-default a{
  color:#999999 !important;
padding:6px 32px !Important;
}

#tabs .ui-state-active a{
  color:#FFFFFF !Important;
}

#tabs .ui-state-default:hover{
  background:none !Important;
}


#tabs .ui-tabs-selected {
  background: #09acca !important;color:#FFFFFF !important; border-color:#09acca !important;
}

#tabs .ui-state-active, #tabs .ui-state-active:hover {
	background: #09acca !important;color:#FFFFFF
}

.ui-tabs-panel .body a, .ui-tabs-panel .meta a{
 color: #07a8e9 !important;
}