.vote_up{
    background: url("./images/thumb_rating/sprite.png") no-repeat scroll transparent;
    background-position: 0 0;
    border: 0 none;
    cursor: pointer;
    height: 16px;
    text-indent: -9999px;
    top: 0;
    width: 16px;
    z-index: 999;
}

.vote_up_disabled{
    background: url("./images/thumb_rating/sprite.png") no-repeat scroll transparent;
    background-position: 0 -48px;
    border: 0 none;
    height: 16px;
    text-indent: -9999px;
    top: 0;
    width: 16px;
    z-index: 999;
}

.vote_down{
    background: url("./images/thumb_rating/sprite.png") no-repeat scroll transparent;
    background-position: -16px 0;
    border: 0 none;
    cursor: pointer;
    height: 16px;
    text-indent: -9999px;
    top: 0;
    width: 16px;
    z-index: 999;
}

.vote_down_disabled{
    background: url("./images/thumb_rating/sprite.png") no-repeat scroll transparent;
    background-position: -16px -48px;
    border: 0 none;
    height: 16px;
    text-indent: -9999px;
    top: 0;
    width: 16px;
    z-index: 999;
}

.vote_up_hover{
    background: url("./images/thumb_rating/sprite.png") no-repeat scroll transparent;
    background-position: 0 -16px;
    border: 0 none;
    cursor: pointer;
    height: 16px;
    text-indent: -9999px;
    top: 0;
    width: 16px;
    z-index: 999;
}

.vote_down_hover{
    background: url("./images/thumb_rating/sprite.png") no-repeat scroll transparent;
    background-position: -16px -16px;
    border: 0 none;
    cursor: pointer;
    height: 16px;
    text-indent: -9999px;
    top: 0;
    width: 16px;
    z-index: 999;
}

.thumb_hover{
  background-position-y: -16px;
}

.thumb_rating{
	
}

.votes_balance{

        margin:-2px 0px 0px 0px;
        position:relative;
        padding:0px;
	width: 20px;
}
