<h1>Admin Dashboard</h1>
<b><p><%= params[:notice]%></p></b>

  <%= link_to 'Create Categories', admin_makecategories_path, :id => "admin-tasks"%>&nbsp;
  <%= link_to 'Create Situations', admin_makesituations_path, :id => "admin-tasks" %>&nbsp;
  <%= link_to 'Create Plans and Stats', admin_makesomeplanswithstats_path, :id => "admin-tasks" %>&nbsp;
  <%= link_to 'Run Training', admin_retrainclassifier_path, :id => "admin-tasks" %>&nbsp;
  <%= link_to 'Run Clustering', admin_buildclusterlist_path, :id => "admin-tasks" %>&nbsp;
