<h1>Retain Classifier</h1>

Error Value:<%= @errorvalue %>
<br>
Trained: 
<b><%= @counter %></b> 
<br/>
Categories: <b><%= @categorycounter %></b>

<p>
<a class="button" href="/admin">Back<span></span></a>
</p>

