<h3>Badges</h3>

<p>Get rewarded for your efforts! When you contribute to alasker by asking or answering a lot of questions, you'll start scoring badges! These badges will appear on your profile page.
</p>

<div class="orange_bar"></div>

<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tbl_badge">
 
  <tr>
    <th>Badge Name</th>
	<th width="40"></th>
    <th>Alasker User Count</th>
	<th width="35"></th>
    <th>How to get this?</th>
  </tr>
  
   <% @badge.each do |badge| %>
  
  <tr>
    <td class="td_badge_img"><a href="/badges/<%= badge.id %>"><img src="<%= badge.image %>" /><br />
	<%= badge.name.gsub("-"," ").upcase %></a></td>
	<td width="35"></td>
    <td align="center"><%= number_of_users(badge.id) %></td>
	<td width="35"></td>
    <td><%= badge.description %></td>
  </tr>

  <% break if badge.id == 4; end %>

  <tr>
    <td class="td_badge_img"><img src="/css/images/badges/pro-smll.png" /><br>
	PRO</a></td>
	<td width="35"></td>
    <td align="center"><%= number_of_pro_users %></td>
	<td width="35"></td>
    <td>Answer 10 questions in a single category to earn this badge.</td>
  </tr>
 
</table>


