	<div class="badge_single">
 	
 	<%= get_previous_badge %>
	<div class="badge_big"><img src="<%= @badge.image.gsub("smll","big") %>" border="0" /></div>
	<div class="badge_desc"><h3 ><%= @badge.name.gsub("-"," ").upcase %></h3>
	<p><%= @badge.description %></p></div>

	<%= get_next_badge %>

	 <div class="cl">&nbsp;</div>
</div>

	<!-- <h3>Michael Enziger earned this badge 2 times</h3>
	<ul class="ul_list">
	<li>August 20, 2012 at 21:13  Children Inherits Attribute.</li>
	<li>August 27, 2012 at 21:13  Nullam ac erat risus, quis porttitor nisi.</li>
	</ul> -->
	<!-- <h3></h3> -->
	<div align='center'><a href ="/badges/">View All Badges</a></div>
	<div class="orange_bar"></div>
		<% if number_of_users(@badge.id) != 0 %>
			<h3 align='center'>Users With <%= @badge.name.gsub("-"," ").upcase %> Badge</h3>
		<% end %>
		<div id='content'>
			<% @user.each do |user| %>
			<div class="user_badge">
			<div class="user_badge_img">
			<%= avatar_link_to_user(user) %>
			</div>
			<div class="user_badge_info">
			<p><strong><%= by_user(user) %></strong></p>
			                                              
			<!-- <p>Categories: <a href="#">Transportation</a>, <a href="#">Adventure</a>,
			<a href="#">PHP</a>, <a href="#">Programming</a>, <a href="#">Html5</a>, <a href="#">Csss3</a> ...</p> -->
			<p>Location: <%= user.location %></p>

			</div>

			<div class="cl">&nbsp;</div>
			</div>
			<% end %>
	
	</div>

<!-- <div id="sidebar"><img src="/css/images/ads-google.jpg" width="250" height="250" /></div>  -->
	<div class="cl">&nbsp;</div>