/* fonts */
@font-face {font-family: helvet-bold; src: url("../fonts/helveticaneueltcom-bd.eot")}
@font-face {font-family: helvet-bold; src: url("../fonts/HelveticaNeueLTCom-Bd.ttf")}
@font-face {font-family: helvet; src: url("../fonts/helveticaneueltcom-lt.eot") }
@font-face {font-family: helvet; src: url("../fonts/HelveticaNeueLTCom-Lt.ttf") }

/* reset css */
* {margin: 0; padding: 0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
del, div, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,narticle, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
s {text-decoration:none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
html, body { height:100%; }
html {font-size:10px;font-family:helvet}
body {overflow:hidden;}

a:link {text-decoration: none}
a:visited {text-decoration: none}
a:active {text-decoration: none}

input[type=image]{
	width:100%;margin-left:auto;margin-right:auto;
}
input[type=text],
input[type=email],
input[type=password],
textarea {
margin-left:auto;
margin-right:auto;
width:100%;
outline:none;
border:none;
font-family:helvet;
-webkit-user-modify: read-write-plaintext-only;
-webkit-tap-highlight-color:rgba(0,0,0,0);
-webkit-user-select: auto !important;
resize:none;
font-size:1.8rem;
}

/* inputs */

.input_container{
border:1px solid #bce7f0;
text-align:center;
background:#fff;
margin-bottom:10px;	
padding:8px;
border-radius:6px;
-webkit-box-shadow: inset 1px 1px 4px 0px #888;        
box-shadow: inset 1px 1px 4px 0px #888;
}

/* header */

.header{
background: url(../images/header/background.png) repeat-x ;
position:relative;
padding-left:10px;;
padding-right:10px;
display: -webkit-box;
-webkit-box-orient: horizontal;
height:50px;
line-height:50px;
}
div.button.left{text-align:left;}
div.button.right{text-align:right;}
div.button.center{text-align:center;}
.header div.button img{height:30px}
.header div button{border:0;background:transparent;cursor:pointer;vertical-align: middle;padding: 5px;}


/* authentication */
.theme_blue {	
position:absolute;
top:0;bottom:0;right:0;left:0;	
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00a9c8), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #00a9c8 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */		
}
.button_container{position:fixed;bottom:0;padding-bottom:2rem;}
.button_block {padding:1rem;}
.button_block .reg_login_buttons img{width:49%;}
.button_block .fb_button{margin-bottom:.75rem;}
.button_block .fb_button img{width:100%;}

#home_header{text-align:center }
#home_header img {width:90%;margin:5%;}

/* clear */
.clear {clear:both;}

/* scrollable */
.scrollable{ position:absolute;top:50px;bottom:0;left:0;right:0; background: url(../images/background.jpg) repeat 0 0  fixed;  }
.scrollable-wrapper {padding-bottom:1rem;}

/* ajax loader */
.ajax-loader {background:#fff;border-radius:4px;text-align:center;padding:8px;}

/* empty */
.empty {background:#fff;border-radius:4px;text-align:center;padding:8px;font-size:1.5rem;font-family:helvet-bold;}

/* notification */
.notification-page {}
.notification-page  .header .button {width:50%}
.notification-page  .notification-stream {margin:1rem;}
.notification-stream {}
.notification-page  .notification-item-wrapper {display:-webkit-box;-webkit-box-orient:horizontal;background:#fff;padding:1rem;}
.notification-page  .notification-item-wrapper.top{border-radius:4px 4px 0 0}
.notification-page  .notification-item-wrapper.bottom{border-radius:0 0 4px 4px}
.notification-page  .notification-item-wrapper .avatar {width:6rem;}
.notification-page  .notification-item-wrapper .avatar  img{width:50px;height:50px;border-radius:4px}
.notification-page  .notification-item-wrapper .notification-item  {max-width:80%;font-size:1.2rem;font-family:helvet-bold;}
.notification-page  .notification-item-wrapper .notification-item .description{word-wrap:break-word;color:#50B5C8;}
.notification-page  .notification-item-wrapper .notification-item .content {word-wrap:break-word;color:#828282;}
.notification-page  .notification-item-wrapper .notification-item .timestamp{color:#A8A8A8;margin-top:8px;}

/* landing page */
.landing-page .header div.button {width:33.33%;}
.landing-page .content {background:#fff;border-radius:5px;font-size:1.3rem;margin:1rem;}
.landing-page .stream-item-header{position:relative;padding:1rem;}
.landing-page .stream-item-header .account-group{display: -webkit-box;-webkit-box-orient:horizontal;}
.landing-page .stream-item-header .account-group .avatar{border-radius:4px;height:74px;width:74px;}
.landing-page .stream-item-header .account-group .fullname{vertical-align:top;display:inline-block;color:#178DA3;font-size:1.5rem;font-family:helvet;font-weight:bold}
.landing-page .stream-item-header .account-group  .location{margin-top:6px;vertical-align:top;}
.landing-page .stream-item-header .account-group  .location b{color:#50B5C8;font-weight:bold;font-size:1.1rem}
.landing-page .stream-item-header .account-group  .location s{margin-right:3px;color:#B5B5B5;}
.landing-page .stream-item-header .account-group .timestamp{margin-top:5px;color:#B5B5B5;font-weight:bold}
.landing-page .stream-item-header .account-group  .user-group{
margin-top:5px;
margin-left:10px;
display: -webkit-box;
-webkit-box-flex: 1;
-webkit-box-orient: vertical;
-webkit-box-pack: top;
}
.landing-page .stream-item-text{padding:0 10px 10px 10px;color:#3E4A44;font-family:helvet-bold;font-size:1.4rem;word-wrap:break-word}
.landing-page .stream-item-footer{
background:#4BB2C5;
border-radius:0 0 5px 5px;
display: -webkit-box;
-webkit-box-orient:horizontal;
line-height:36px;
}
.landing-page .stream-item-footer .action {width:25%;text-align:center;}
.landing-page .stream-item-footer .action *{vertical-align:middle; color:#fff; font-size:1rem;font-family:helvet;font-weight:bold}
.landing-page .landing-page .stream-item-footer .action a{}
.landing-page .stream-item-footer .action span{color:#178DA3}
.landing-page .stream-item-footer .action img{vertical-align:top; height:36px;}

/* question */
.question-page{}
.question-page .header div.button {width:33.33%;}
.question-page .content-wrapper{padding-bottom:1rem;}
.question-wrapper .content {background:#fff;border-radius:5px;font-size:1.3rem;margin:1rem;}
.question-wrapper .stream-item-header{position:relative;padding:1rem;}
.question-wrapper .stream-item-header .account-group{display: -webkit-box;-webkit-box-orient:horizontal;}
.question-wrapper .stream-item-header .account-group .avatar{border-radius:4px;height:74px;width:74px;}
.question-wrapper .stream-item-header .account-group .fullname{vertical-align:top;display:inline-block;color:#178DA3;font-size:1.5rem;font-family:helvet;font-weight:bold}
.question-wrapper .stream-item-header .account-group  .location{margin-top:6px;vertical-align:top;}
.question-wrapper .stream-item-header .account-group  .location b{color:#50B5C8;font-weight:bold;font-size:1.1rem}
.question-wrapper .stream-item-header .account-group  .location s{margin-right:3px;color:#B5B5B5;}
.question-wrapper .stream-item-header .account-group .timestamp{margin-top:5px;color:#B5B5B5;font-weight:bold}
.question-wrapper .stream-item-header .account-group  .user-group{
margin-top:5px;
margin-left:10px;
display: -webkit-box;
-webkit-box-flex: 1;
-webkit-box-orient: vertical;
-webkit-box-pack: top;
}
.question-wrapper .stream-item-text{padding:0 10px 10px 10px;color:#3E4A44;font-family:helvet-bold;font-size:1.4rem;word-wrap:break-word}
.question-wrapper .stream-item-footer{
background:#4BB2C5;
border-radius:0 0 5px 5px;
display: -webkit-box;
-webkit-box-orient:horizontal;
line-height:36px;
}
.question-wrapper .stream-item-footer .action {width:25%;text-align:center;}
.question-wrapper .stream-item-footer .action *{vertical-align:middle; color:#fff; font-size:1rem;font-family:helvet;font-weight:bold}
.question-wrapper .stream-item-footer .action a{}
.question-wrapper .stream-item-footer .action span{color:#178DA3}
.question-wrapper .stream-item-footer .action img{vertical-align:top; height:36px;}

.question-wrapper .answers-stream{background:#fff; margin:10px;border-radius:5px;margin-left: 40px;}
.question-wrapper .answer-wrapper{display: -webkit-box;-webkit-box-orient:horizontal;}
.question-wrapper .answer-wrapper .answer-content-wrapper{
margin-left: .5em;
display: -webkit-box;
-webkit-box-flex: 1;
-webkit-box-orient: vertical;
-webkit-box-pack: center;
}
.question-wrapper .answers-stream{display:none;}
.question-wrapper .answers-stream .avatar img {height:50px;width:50px;border-radius:4px}
.question-wrapper .answer-wrapper{margin-bottom: 5px;margin-bottom: 5px;margin-right: 5px;}
.question-wrapper .answer-content-wrapper{margin-left: 5px; min-width:85%;}
.question-wrapper .answer-content-wrapper .fullname{vertical-align:top;color:#178DA3;font-size:1.5rem;font-family:helvet;font-weight:bold}
.question-wrapper .answer-content-wrapper .content-text{padding-top:10px; color:#3E4A44;font-family:helvet-bold;font-size:1.4rem;word-wrap:break-word;}
.question-wrapper .answer-content-wrapper  .timestamp{padding-top:10px; color:#3E4A44;font-size:1.4rem;padding-bottom: 5px;}
.question-wrapper .content.answered .stream-item-footer{border-radius:0;}
.question-wrapper .content.answered .answers-stream{display:block;}

 /* edit question */
.edit-question-page{position:absolute;top:0;bottom:0;left:0;right:0; background: url(../images/background.jpg) repeat 0 0  fixed; }
.edit-question-wrapper {background:#4BB2C5;position:fixed;top:0;bottom:0;right:0;left:0;margin:10px;border-radius:5px;}
.edit-question-wrapper  table {width:100%;height:100%}
.edit-question-wrapper .top-layer {display: -webkit-box;-webkit-box-orient:horizontal;}
.edit-question-wrapper div.button.left{text-align:left;}
.edit-question-wrapper div.button.right{text-align:right;}
.edit-question-wrapper div.button {width:50%;}
.edit-question-wrapper .top-layer div button{border:0;background:transparent;}
.edit-question-wrapper .top-layer img {height: 35px;vertical-align: middle;}
.edit-question-wrapper .top-layer {padding:5px 10px 5px 10px}
.edit-question-wrapper .white-layer {margin:55px 20px 55px 20px;border-radius:5px;background:#fff;padding:5px}
.edit-question-wrapper .white-layer {position:fixed;top:0;bottom:0;right:0;left:0;}
.edit-question-wrapper .bottom-layer{position:fixed;bottom:0;right:0;left:0;height: 34px;line-height: 34px;margin-bottom: 13px;}
.edit-question-wrapper .range-layer{height:0px;}
.edit-question-wrapper .action-buttons {width:100%;display: -webkit-box;-webkit-box-orient:horizontal;}
.edit-question-wrapper .action-buttons .action {width:25%;text-align:center;}
.edit-question-wrapper .action-buttons .action img{ height: 30px;}
.edit-question-wrapper  .white-layer .answer {height:100%;position:relative}
.edit-question-wrapper  .white-layer .answer .input_container{position:absolute;-webkit-box-shadow:none;box-shadow:none;top:0;bottom:0;left:0;right:0;border:0;margin:0}
.edit-question-wrapper  .white-layer .answer .input_container textarea{position: absolute;top: 0;left:0;bottom: 0;right: 0;}
.edit-question-wrapper  .white-layer .answer .button_container{height: 15px;position:absolute;left:0;right:0;text-align:right;margin: 5px;}
.edit-question-wrapper  .white-layer .answer .button_container img {height: 35px;vertical-align: middle;}
.edit-question-wrapper  .white-layer .answer .button_container button { border:0;background: none;}

/* reply */
.reply-page{position:absolute;top:0;bottom:0;left:0;right:0; background: url(../images/background.jpg) repeat 0 0  fixed; }
.reply-wrapper {background:#4BB2C5;position:fixed;top:0;bottom:0;right:0;left:0;margin:10px;border-radius:5px;}
.reply-wrapper  table {width:100%;height:100%}
.reply-wrapper .top-layer {display: -webkit-box;-webkit-box-orient:horizontal;}
.reply-wrapper div.button.left{text-align:left;}
.reply-wrapper div.button.right{text-align:right;}
.reply-wrapper div.button {width:50%;}
.reply-wrapper .top-layer div button{border:0;background:transparent;}
.reply-wrapper .top-layer img {height: 35px;vertical-align: middle;}
.reply-wrapper .top-layer {padding:5px 10px 5px 10px}
.reply-wrapper .white-layer {margin:55px 20px 55px 20px;border-radius:5px;background:#fff;padding:5px}
.reply-wrapper .white-layer {position:fixed;top:0;bottom:0;right:0;left:0;}
.reply-wrapper .bottom-layer{position:fixed;bottom:0;right:0;left:0;height: 34px;line-height: 34px;margin-bottom: 13px;}
.reply-wrapper .range-layer{height:0px;}
.reply-wrapper .action-buttons {width:100%;display: -webkit-box;-webkit-box-orient:horizontal;}
.reply-wrapper .action-buttons .action {width:25%;text-align:center;}
.reply-wrapper .action-buttons .action img{ height: 30px;}
.reply-wrapper  .white-layer .answer {height:100%;position:relative}
.reply-wrapper  .white-layer .answer .input_container{position:absolute;-webkit-box-shadow:none;box-shadow:none;top:0;bottom:0;left:0;right:0;border:0;margin:0}
.reply-wrapper  .white-layer .answer .input_container textarea{position: absolute;top: 0;left:0;bottom: 0;right: 0;}
.reply-wrapper  .white-layer .answer .button_container{height: 15px;position:absolute;left:0;right:0;text-align:right;margin: 5px;}
.reply-wrapper  .white-layer .answer .button_container img {height: 35px;vertical-align: middle;}
.reply-wrapper  .white-layer .answer .button_container button { border:0;background: none;}

/* got a question */
.got-question-page{position:absolute;top:0;bottom:0;left:0;right:0; background: url(../images/background.jpg) repeat 0 0  fixed; }
.got-question-page .header div.button {width:50%;}
.got-question-page  .got-a-question{background:#fff;margin:10px; border-radius:5px;}
.got-question-page  .got-a-question .top{background:#4BB2C5;color:#fff;border-radius:5px 5px 0 0;padding:15px;}
.got-question-page  .got-a-question .top h1{font-size:1.8rem;font-family:helvet-bold;}
.got-question-page  .got-a-question .top p{font-size:1.5rem;margin-top:4px;}
.got-question-page  .got-a-question textarea{height:75px;}
.got-question-page  .got-a-question .action_container{text-align:right;padding-bottom:10px;}
.got-question-page  .got-a-question .action_container  img{height:32px}
.got-question-page  .got-a-question .content {background:#fff;font-size:1.3rem;padding:1rem;border-radius:0 0 5px 5px}

/* suggestions */
.suggestion-page{position:absolute;top:0;bottom:0;left:0;right:0; background: url(../images/background.jpg) repeat 0 0  fixed; }
.suggestion-page  .header .button {width:50%;}
.suggestion-page .content-wrapper{padding-bottom:1rem;}
.suggestion-page .content{background:#fff;margin:10px; border-radius:5px;}
.suggestion-page .content .top{background:#4BB2C5;color:#fff;border-radius:5px 5px 0 0;padding:15px;}
.suggestion-page .content .top h1{font-size:2rem;font-family:helvet-bold;}
.suggestion-page .content .top p{font-size:1.5rem;}
.suggestion-page .suggestions-wrapper{font-size:1.5rem;font-family:helvet;border-radius:0 0 5px 5px}
.suggestion-page .suggestions-stream{}
.suggestion-page .suggestions-stream .suggestion{padding:10px 15px 10px 15px;font-family:helvet-bold;color:#3E4A58;border-bottom-color: #ccc;border-bottom-width: 1px;border-bottom-style: solid;}
.suggestion-page .suggestions-stream .suggestion.last{border:0}
.suggestion-page .suggestions-stream .suggestion a{color:#3E4A58}

/* menu */
.menu-page{position:absolute;top:0;bottom:0;left:0;right:0; background: url(../images/common/bg-slanted-dark.png) repeat 0 0  fixed; }
.menu-page .menu-item {background: url(../images/common/bg-slanted.png) repeat 0 0  fixed; display: -webkit-box; -webkit-box-orient: horizontal; padding:1rem; margin-bottom:2px;	}
.menu-page .menu-item img {height:5.5rem}
.menu-page .menu-label {margin-left:1rem;display: -webkit-box;-webkit-box-flex:1;-webkit-box-orient:vertical;-webkit-box-pack:center;}
.menu-page .menu-label span {color:#fff;font-size:1.8rem;font-weight:bold}
.menu-page .header div.button {width:50%;}
.menu-page .scrollable{background:none}

/* help */
.help-page .scrollable{background:none}
.help-page .scrollable ul li {padding:1.5rem;font-size:1.5rem;}
.help-page .scrollable ul li h3{font-family:helvet-bold;}
.help-page .scrollable ul li p{padding-top:.5rem;font-family:helvet }

/* filters */
.filter-page{position:absolute;top:0;bottom:0;left:0;right:0; background: url(../images/common/bg-slanted.png) repeat 0 0  fixed; }
.filter-page .filter-section {padding:15px;font-size:1.5rem;color:#fff;font-weight:bold;}
.filter-page input[type="checkbox"], .filter-page input[type="radio"] {display:none;}
.filter-page input[type="checkbox"] + label, .filter-page input[type="radio"] + label {display:inline-block;height:30px;width:30px;vertical-align:middle;;cursor:pointer;}
.filter-page input[type="checkbox"] + label{background:url(../images/common/cb-square.png) 0 0 no-repeat;background-size: 30px 30px}
.filter-page input[type="radio"] + label{background:url(../images/common/radio-round.png) 0 0 no-repeat;background-size: 30px 30px}
.filter-page input[type="checkbox"]:checked + label {background:url(../images/common/cb-square-checked.png) 0 0 no-repeat;background-size: 30px 30px;}
.filter-page input[type="radio"]:checked + label {background:url(../images/common/radio-round-checked.png) 0 0 no-repeat;background-size: 30px 30px;}
.filter-page .filter-section{border-bottom:2px solid;border-color: #141414}
.filter-page  .radius{background:url(../images/common/bg-radius.png) 0 50% repeat-x;background-size:2px;margin-left:30px;margin-right:30px;}
.filter-page  .radius .buttons{margin-left:-30px;margin-right:-30px;display: -webkit-box;-webkit-box-orient: horizontal;}
.filter-page   div.button.left, .filter-page   div.button.right {width:20%;}
.filter-page   div.button.center{width:30%}


/* waiter */
.waiter-page{position:absolute;background:transparent;opacity:1;overflow:hidden;top: 0;left:0;right:0;bottom:0;z-index:1000;display:block;}
#waiter {position:fixed;overflow:hidden;top: 50%;left: 50%;width:50px;height:50px;margin-top: -50px;margin-left: -25px;}

/* error container */
ul.error_container {display:none;background:#00a9c8;color:#fff;padding:10px;text-align:left;margin-bottom:16px;border-radius:4px;}
ul.error_container li {font-family: helvet, Helvetica, Arial, sans-serif; font-size:2rem;}

/* Pull down styles */
#pullDown, #pullUp {
height:40px;
line-height:40px;
padding:5px 10px;
font-weight:bold;
font-size:14px;
color:#888;
display: none;
}
#pullDown .pullDownIcon, #pullUp .pullUpIcon  {
display:block; float:left;
width:40px; height:40px;
background:url(../images/landing/pull-icon@2x.png) 0 0 no-repeat;
-webkit-background-size:40px 80px; background-size:40px 80px;
-webkit-transition-property:-webkit-transform;
-webkit-transition-duration:250ms;	
}
#pullDown .pullDownIcon {-webkit-transform:rotate(0deg) translateZ(0);}
#pullUp .pullUpIcon  {	-webkit-transform:rotate(-180deg) translateZ(0);}
#pullDown.flip .pullDownIcon {	-webkit-transform:rotate(-180deg) translateZ(0);}
#pullUp.flip .pullUpIcon {	-webkit-transform:rotate(0deg) translateZ(0);}
#pullDown.loading .pullDownIcon, #pullUp.loading .pullUpIcon {	
background-position:0 100%;
-webkit-transform:rotate(0deg) translateZ(0);
-webkit-transition-duration:0ms;
-webkit-animation-name:loading;
-webkit-animation-duration:2s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-timing-function:linear;
}
@-webkit-keyframes loading {
from { -webkit-transform:rotate(0deg) translateZ(0); }
to { -webkit-transform:rotate(360deg) translateZ(0); }
}

/* Map View scroller */

#map_wrapper {
	width:280px;
	height:160px;

	float:left;
	position:relative;
	z-index:1;
	overflow:hidden;

	background: #FFFFFF;
}

#map_scroller {
	width:2100px;
	height:100%;
	float:left;
	padding:0;
}

#map_scroller ul {
	list-style:none;
	display:block;
	float:left;
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	text-align:left;
}

#map_scroller li {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	display:block; float:left;
	width:280px; height:160px;
	text-align:center;
	font-family:georgia;
	font-size:18px;
	line-height:140%;
}