body {
  font-family: Verdana, Helvetica, Arial;
  background-color: #7AB9D4;
  font-size: 12px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

h1 {
  font-size: 20px;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#answer_ask_bar {
  width:1200px;
  margin: 0 auto;
  background-color: #1EC22D;
  padding: 20px 20px;
  border-top: solid 1px black;
  overflow:hidden;
}

#answer_ask_bar_container {
	overflow:hidden;
	width: 1000%;
}

.answer_ask_bar_form {
	float: left;
    height:100px;
    width: 5%;
    min-width:540px;
}



div.answer_ask_bar_form_nested {
  float: right;	
  position: relative;  
  background-color: #98F1A0;
  border-radius: 5px;
  border-style: none;
  border-color: #98F1A0;
  height:91px;
  width: 85%;  
  border: none;
  margin-left: 0px;
  margin-right: 5px;
  padding: 5px;
}

div.answer_ask_bar_form_nested:before  
{  
    content: ' ';  
    width: 0;  
    height: 0; 
    position: absolute; 
    left: -28px ;  
    top: 20px; 
   
    /*left: 6%;*/   
    /*top: 18%;*/ 


    border: 14px solid;  
    /*border-color: #666 transparent transparent #666;*/
   /*border-color:  transparent #666 #666 transparent ; */
  border-color:  #98F1A0  #98F1A0 transparent  transparent   ;      
}  

.situation_text {
	cursor: pointer;
	background:#ffffff; 
}


.answer_ask_big_txt {
	font-size:200%;
	color:#FFFFFF;	          
}

#categorylist {
	display: block;
	margin-bottom: 1em;
}

#categorylist ul {
	list-style-type:none;
	margin: 0px;
	padding: 0px;
	width: 60em;
}

#categorylist br {
	clear:left;
}


#categorylist ul li {
	display: inline;
	float: left;
	padding: 0px 30px 0px 30px;
	width: 10em;
}

.situations_highlight {
	background-color: yellow;
	border: 1px black;
}

.situations_selected {
	background-color: gray;
	border: 1px black;
}



#container {
  
  width:1200px;
  height: auto;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 20px;
  border: solid 1px gray;
}

#tabs {
  width:1200px;
  height: auto;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 20px;
}

#tabs-sort-by {
 border-bottom: dotted 1px black;
 line-height: 1;
 margin: 0;
 padding: 0 5px 5px;
 height: 30px;
}



#tabs-sort-by-ul {
 list-style-type: none;
 display: block;
 float:left;
 padding-left:0;
 margin-left:0;
}

.tabs-sort-by-li {
	float: left;
	margin: 5px;
}

#container-top {
  float:both;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 10px;  
  background-color: #FFF;
  text-align: center;
  border-bottom: dotted 1px black;
}


#container-right {
  float:right;
  width: 560px;
  height: auto;
  margin-left: 0px;
  margin-right: 0px;
  padding-right: 10px;
  padding-left: 10px;  
  background-color: #FFF;
  float: left;
  
}

#container-left {
  float:left;
  width: 600px;
  margin-left: 0px;
  padding-left: 0px;
  margin-right: 0px;
  background-color: #FFF;
  padding-right: 10px;
  border-right: dotted 1px black;  
}


#topcasebar {
  width: 1200px;

  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 20px;
  border: solid 1px gray;
}

#planbheadline {
 width: 1200px;
 margin: 0 auto;
 padding-left: 20px;
 padding-right: 20px;
}



#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#error_messages {
  width: 500px;
  border: 2px solid #CF0000;
  padding: 0px;
  margin-bottom: 10px;
  background-color: #f0f0f0;
  font-size: 12px;
}

#error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

img#imageheader {	
  opacity:1;
  filter:alpha(opacity=40); /* For IE8 and earlier */		
}

#error_messages p {
  margin: 8px 10px;
}

#error_messages ul {
  margin-top: 5px;
}

div#user_nav { 
  float: right;
  margin-right: 65px;
  margin-top: 13px;
  font-size: 0.8em; 
}

.authentications {
  margin-bottom: 30px;
}

.authentication {
  width: 130px;
  float: left;
  background-color: #EEE;
  border: solid 1px #999;
  padding: 5px 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  position: relative;
  margin-right: 10px;
}

.authentication .remove {
  text-decoration: none;
  position: absolute;
  top: 3px;
  right: 3px;
  color: #333;
  padding: 2px 4px;
  font-size: 10px;
}

.authentication .remove:hover {
  color: #CCC;
  background-color: #777;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.authentication img {
  float: left;
  margin-right: 10px;
}

.authentication .provider {
  font-weight: bold;
}

.authentication .uid {
  color: #666;
  font-size: 11px;
}

.auth_provider img {
  display: block;
}

.auth_provider {
  float: left;
  text-decoration: none;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 10px;
}

div.plan  
{  
    position: relative; 
    margin-top: 50px; 
    width: 800px;  
    height: 220px;  
    text-align: center;  
    line-height: 1ex;  
    background-color: #fff;  
    border: 4px solid #666;  
    -webkit-border-radius: 58px;  
    -moz-border-radius: 58px;  
    border-radius: 58px;  
    -webkit-box-shadow: 2px 2px 4px #888;  
    -moz-box-shadow: 2px 2px 4px #888;  
    box-shadow: 2px 2px 4px #888;  
}  


div.plan:before  
{  
    content: ' ';  
    position: absolute;  
    width: 0;  
    height: 0;  
    left: 50px;  
    top: -50px;
    

    border: 25px solid;  
    /*border-color: #666 transparent transparent #666;*/
   /*border-color:  transparent #666 #666 transparent ; */
  border-color:  transparent transparent #666 #666  ;      
}  


div.plan:after  
{  
    content: ' ';  
    position: absolute;  
    width: 0;  
    height: 0;  
    left: 54px;  
    top: -35px;
    
   
    border: 18px solid;  
    border-color:  transparent transparent #fff #fff;   
                   
}

.suggestedcategories
{
	position: relative;
    background-color: #fff;  
    border: 4px solid #666;  
    -webkit-border-radius: 58px;  
    -moz-border-radius: 58px;  
    border-radius: 58px;  
    -webkit-box-shadow: 2px 2px 4px #888;  
    -moz-box-shadow: 2px 2px 4px #888;  
    box-shadow: 2px 2px 4px #888;  
 
	padding-bottom: 30px;
	padding-top: 30px;
	z-index: 1000;
} 


.suggestedplans 
{
	position: relative;
    background-color: #fff;  
    border: 4px solid #666;  
    -webkit-border-radius: 58px;  
    -moz-border-radius: 58px;  
    border-radius: 58px;  
    -webkit-box-shadow: 2px 2px 4px #888;  
    -moz-box-shadow: 2px 2px 4px #888;  
    box-shadow: 2px 2px 4px #888;  
 
	padding-bottom: 30px;
	padding-top: 30px;
} 


div.suggestedplans:before  
{  
    content: ' ';  
    position: absolute;  
    width: 0;  
    height: 0;  
    left: -50px;  
    top: 80px;
    

    border: 25px solid;  
    /*border-color: #666 transparent transparent #666;*/
   border-color:  transparent #666 #666 transparent ; 
   /*border-color:  transparent transparent #666 #666  ;*/      
}  


div.suggestedplans:after  
{  
    content: ' ';  
    position: absolute;  
    width: 0;  
    height: 0;  
    left: -36px;  
    top: 88px;
    
   
    border: 18px solid;  
    border-color:  transparent #fff #fff transparent ;   
                   
}

.inputbutton {
	background: transparent;
	border-top: 0;
	border-right: 0;
	border-bottom: 0;
	border-left: 0;
	display: inline;
	margin: 0;
	padding: 0;
	
	padding-left: 5px;
	padding-right: 5px;


    background: transparent url('/images/button_both.png') no-repeat scroll top left; 
    
    background-size: auto; 
    

    float: left;
    height: 34px; /* CHANGE THIS VALUE ACCORDING TO IMAGE HEIGHT */
   
    text-decoration: none;

    color: #000000;

    font-family: Arial, Helvetica, sans-serif;

    font-size:12px;

    font-weight:bold;
   

}

a.button {

    /* Sliding right image */    
    
    background: transparent url('/images/button_right.png') no-repeat scroll top right; 

    display: block;

    float: left;

    height: 34px; /* CHANGE THIS VALUE ACCORDING TO IMAGE HEIGHT */

    margin-right: 6px;

    padding-right: 20px; /* CHENGE THIS VALUE ACCORDING TO RIGHT IMAGE WIDTH */

    /* FONT PROPERTIES */

    text-decoration: none;

    color: #000000;

    font-family: Arial, Helvetica, sans-serif;

    font-size:12px;

    font-weight:bold;

}


.button span {    /* Background left image */ 

    background: transparent url('/images/button_left.png') no-repeat;     display: block;

    line-height: 22px; /* CHANGE THIS VALUE ACCORDING TO BUTTONG HEIGHT */

    padding: 7px 0 5px 18px;

} 


.button:hover span{

    text-decoration:underline;

}


