ul#chat {
  list-style: none;
  padding: 0;
  width: 475px;
  height: 275px;
  /*order: solid 1px #777;*/
  margin: 5px 0;
  overflow: auto;
}

ul#chat li {
  margin: 2px 5px;
  padding: 0;
}

ul#chat li .created_at {
  float: right;
  color: #777;
  font-size: 11px;
  padding-left: 4px;
  padding-top: 2px;
}

input#chat_content {
  width: 405px;
  float: left;
  margin: 0px 7px;
}