@charset "utf-8";
#headline {
	font-family: Georgia, Times New Roman, Times, serif;
}
#container #headline {
	font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
}

#slideshow {  
 	padding: 10px;
	margin:0;  
} 
#slideshow-caption{
	padding:0;
	margin:0;
}

#slideshow img, #slideshow div {  
	padding: 10px;
	background-color: #EEE;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px; 
	margin: 0; 
}

td a { margin: 5px }

.nav { margin: 5px 0 }

#nav a { border: 1px solid #ccc; background: #fc0; text-decoration: none; margin: 0 5px; padding: 3px 5px;  }
#nav a.activeSlide { background: #ea0 }
#nav a:focus { outline: none; }			




