@charset "utf-8";
/* CSS Document */


.main-navigation{
	width:1200px;
	min-width:800px;
  	margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
	background-color: #1EC22D;
	}
	
.main-navigation ul{
	margin:0px;
	padding:0px;
	list-style:none;	
	
	}
	
.main-navigation li{
	float:left;
	font-size:15px;
	color:#FFFFFF;
	background-color: #1EC22D;
	height:42px;
	display:block;
	position:relative;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	margin-right: 5px;
    border: solid 1px gray;
	border-bottom-style: none
  	}
	
	
.main-navigation li .hover{
	color:#FFFFFF;
	text-decoration:none;
	position:absolute;
	background:url(/images/hover-bg.png) top left no-repeat;
	top:0;
	left:0;
	z-index:50;
	height:44px;
	display:none;
	
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	
	border:1px 
	
	}

.main-navigation li a{
	display:block;
	color:#FFFFFF;
	text-decoration:none;
	padding:14px 43px 13px 44px;
	z-index:1000;	
	position:relative;

	}
	
.search{
	float:right;
	margin:9px 26px 0 0;
	padding:0px;
	}
	
.search-input{
	font-family:LucidaGrande, Lucida Sans, Arial;
	font-size:12px;
	color:#FFFFFF;
	width:180px;
	height:26px;
	padding:0 5px 0 10px;
	padding:5px 5px 0 10px \9;/* IE 7 and 8 */
	border:0;
	outline:none;
	background:url(/images/search-input-bg.png) top left no-repeat;
	float:left;
	}
	
.search-btn{
	width:37px;
	height:26px;
	border:0;
	outline:none;
	background:url(/images/search-btn.png) top left no-repeat;
	float:left;
	}
	
.main-navigation ul li ul{
	position:absolute;
	display:none;
	top:44px;
	margin: 0px;
	padding: 0px;
	width: 60em;    
	z-index:50;

}
	
.main-navigation ul li:hover ul{
	
	display:block;

	}
	
.main-navigation ul li ul li{
	display: inline;
	float: left;
	padding: 0em 0em 0em 0em;
	width: 15em;
	position:relative;	
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	z-index:50;

}


.hover  ul {
	list-style-type:none;
	margin: 0px;
	padding: 0px;
}

		
	
.main-navigation ul li ul li .hover{
	padding: 0em 0em 0em 0em;
	width: 15em;
	z-index:1000;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	
	}

	
.main-navigation ul li ul li a{
	display:block;
	color:#FFFFFF;
	text-decoration:none;
	/*padding:14px 43px 13px 28px;*/
	position:relative;
	z-index:50;
	
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	
	
	}

