<h2>Change your password</h2>
<br>
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div><%= f.label :password, "New password" %>
  <%= f.password_field :password, :autofocus => true, :maxlength => 20, :autocomplete => "off"  %></div>
  <br>
  <div><%= f.label :password_confirmation, "Confirm new password" %>
  <%= f.password_field :password_confirmation, :maxlength => 20, :autocomplete => "off" %></div>
  <br>

  <div>
  <a href="#" class="submit_link button">Change my password<span></span></a>
  <br>
  </div>
<% end %>

<%= render :partial => "devise/shared/links" %>