<link rel="stylesheet" href="/css/forms.css" type="text/css" media="all" />
<h2>Forgot your password?</h2>
<br/>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>
    <ul id="element-list">
	  <li class="form-element">
      <%= f.hidden_field :reset_password_token %>

		  <%= f.label 'Username or Email', :class => "field-title" %>
      <div class="my-input-field">
  		<%= f.text_field :login, :class => "field my-field", 
                               :autocomplete => "off", :autofocus => true, :maxlength => 50 %>
	  	  </div>
	  </li>

    <div class="actions">
  	<a href="#" class="submit_link button">Reset Password<span></span></a>
    </div>
</ul>

<% end %>
<%= render :partial => "devise/shared/links" %>
