
 .layout-slider { margin: 50px 0px 60px 20px; width: 90%;  }
 .layout-slider-settings { font-size: 12px; padding-bottom: 10px; }
 .layout-slider-settings pre { font-family: Courier; }
  .jslider .jslider-bg i,
  .jslider .jslider-pointer { }

  .jslider { display: block; width: 100%; height: 1em; position: relative; top: 0.6em; font-family: Arial, sans-serif; }
  .jslider table { width: 100%; border-collapse: collapse; border: 0; }
  .jslider td, .jslider th { padding: 0; vertical-align: top; text-align: left; border: 0; }

  .jslider table,
  .jslider table tr,
  .jslider table tr td { width: 100%; vertical-align: top; }

   
   .jslider .jslider-bg { position: relative; 
 background:#ececec;
   height:15px; 
   -moz-box-shadow:    inset 0 0 10px #000000;
     -webkit-box-shadow: inset 10px 10px 10px #000000;
   box-shadow:         inset 5px 5px 5px #cfcfcf;
   -moz-border-radius: 4px;
   border-radius: 4px;
   border-bottom:1px solid #e4e4e4;
      border-top:1px solid #b8b8b8;
	 
   }
   
   
  .jslider .jslider-bg i { height: 15px; position: absolute; font-size: 0; top: 0; }
  .jslider .jslider-bg .l { 
  left: 0; 
  background-size: 100% 100%; height:15px;
   background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#50bdd5), to(#439fb4)); /* Safari 5.1, Chrome 10+ */ 
 background: -webkit-linear-gradient(top, #50bdd5, #439fb4); /* Firefox 3.6+ */
 background: -moz-linear-gradient(top, #50bdd5, #439fb4); /* IE 10 */ 
 background: -ms-linear-gradient(top, #50bdd5, #439fb4); /* Opera 11.10+ */ 
 background: -o-linear-gradient(top, #50bdd5, #439fb4);
   -moz-border-radius: 5px;
   border-radius: 5px;
    border-bottom:1px solid #439fb4;
      border-top:1px solid #61cce0;
 
  }

  .jslider .jslider-bg .v { position: absolute; width: 60%; left: 20%; top: 0; height: 5px; background-repeat: repeat-x; background-position: 0 -40px; }

  .jslider .jslider-pointer { width: 38px; height: 38px; background: url(../images/pointer.png) 0 0px; position: absolute; left: 20%; top: -14px; margin-left: -18px; cursor: pointer; cursor: hand; }

  .jslider .jslider-pointer-to { left: 80%; }

  .jslider .jslider-label { font-size: 9px; line-height: 12px; color: black; opacity: 0.4; white-space: nowrap; padding: 0px 2px; position: absolute; top: -18px; left: 0px; }
  .jslider .jslider-label-to { left: auto; right: 0; }

  .jslider .jslider-value { width:75px; height:49px; white-space: nowrap; padding: 10px 0px 0 0; position: absolute; top: -67px; left: 20%; background: white; line-height: 12px;  background: url(../images/days_popup.png) no-repeat 0 0; text-align:center; color:#666666;  }
  .jslider .jslider-value-to { left: 80%; }

  .jslider .jslider-label small,
  .jslider .jslider-value small { position: relative; top: -0.4em; }

  .jslider .jslider-scale { position: relative; top: 9px; }
  .jslider .jslider-scale span { position: absolute; height: 5px; border-left: 1px solid #999; font-size: 0; }
  .jslider .jslider-scale ins { font-size: 9px; text-decoration: none; position: absolute; left: 0px; top: 5px; color: #999; }

  .jslider-single .jslider-pointer-to,
  .jslider-single .jslider-value-to,
  .jslider-single .jslider-bg .v,
  .jslider-limitless .jslider-label { display: none; }
