
@media screen and (min-width: 240px) and (max-width: 640px) {
#home{
background:url(../images/home_bg.gif) 0px 0px repeat-x;
background-size:100% 100%;
padding-bottom:5%;
}
.cloud_left{
background:url(../images/cloud_left.png) 0px 60% no-repeat;
}

.cloud_right{
background:url(../images/cloud_right.png) right 50% no-repeat;
height:100%;
}

#home_header{
text-align:center;
padding-top:1.8%;
}
#home_header img{
width:76%;
}


#login_buttons{
padding-top:40%;
width:96%;
margin:0 auto;
text-align:center;
}

.register_form{
	padding-top:50% !important;
}


.input{
padding:10px 0px 10px 10px;
margin: 0px 1% 1% 1%;
}

#login_buttons .reg_login_buttons img{
width:42%;


}
#login_buttons .fb_button{
margin-bottom:3%;
text-align:center;
}
#login_buttons .fb_button img{
width:85%;

}

#header .header_center{
font-size:20px;
width:50%;
}

#header a{

font-size:73%;
padding:0px 0px 10px 0px;
min-height:20px;
}

#header{
height:50px;
padding:14px 0px 0px 6px;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
}

.settings,.notifications{
width:13%;
}


.settings img{
width:18px;
}
.notifications{
}
.notifications img{
width:11px;
}	

#header .header_center{
font-size:20px;
}

.post{
padding:2% 0px 2% 1%;
}

.post .user_img, .user_img{
width:15%;
padding:0px 2px 10px 2px;
height:100%;

}
.post .user_message{
width:75%;
margin-right:2%;
}
.post .user_message p, .post .user_message .time{
font-size:80%;
}
.post .user_message .time img{
width:12%;

}	
	
.post .user_img img, .user_img img{
width:96%;
}


#slide_button img{
width:7%;

}

.input textarea, .input input{
font-size:130%;
font-family:helvet;
border:none;
width:95%;
}

.input textarea{
height:180px;
color:#e7e6e7;
}

.blue_button input{
font-size:130%;
padding:2% 0px;
}

.content_title{
background:#51bfd8;
padding:3% 2%;
}

.content_title img{
width:10%;

}

.content_title .time1, .content_title .location{
font-size:90%;
margin-bottom:1%;

}

#map{
height:200px;

}

.content_title h3, .content_title h2{
font-size:110%;
}

.user_chat{
width:75%;
}
.user_chat_message{
min-height:40px;
padding:10px 15px 10px 15px;
}
.user_chat p{
font-size:80%;
}

ul.tagit li.tagit-choice{
font-size:100%;

}
ul.tagit li.tagit-choice .tagit-close {
	background:url(../images/close_tag.png) 0px 0px no-repeat !important;
background-size:100% 100% !Important;
width:20px !important;
height:20px !important;
margin-top:-10px;
}

ul.tagit {
height:200px;
}
.text_button{
margin-bottom:-50px;
}
.text_button a{
font-size:100%;
  padding:10px 0px 0px 0px;
 width:100%;
 height:30px;


}
.scroller ul li{ margin-bottom:3px; padding-top:3px;}

.button{
font-size:120% !important;
height:50px !important;
}

.sbHolder{
	font-size: 110%;
		height: 45px;
}
.sbSelector{

	height: 45px;
	
	padding:10px 0px 0px 10px;

}

}



