/* CSS Document */
@font-face {font-family: helvet-bold; src: url("../fonts/helveticaneueltcom-bd.eot")}
@font-face {font-family: helvet-bold; src: url("../fonts/HelveticaNeueLTCom-Bd.ttf")}
@font-face {font-family: helvet; src: url("../fonts/helveticaneueltcom-lt.eot") }
@font-face {font-family: helvet; src: url("../fonts/HelveticaNeueLTCom-Lt.ttf") }


textarea:focus, input:focus{outline: none;}

body{
margin:0px;
font-family:helvet;

}


.clear{
clear:both;
}

#container{
/*width:720px;*/

margin:0 auto;

background:#FFFFFF;
}

#home{
background:url(../images/home_bg.gif) 0px 0px repeat-x;
padding-bottom:5%;
}
.cloud_left{
background:url(../images/cloud_left.png) 0px 557px no-repeat;
}


.cloud_right{
background:url(../images/cloud_right.png) right 414px no-repeat;
height:100%;
}



#home_header{
text-align:center;
padding-top:63px;
}


#login_buttons{
padding-top:529px;
width:96%;
margin:0 auto;
text-align:center;
}

.register_form{
	padding-top:360px !important;
}
#login_buttons .reg_login_buttons{
text-align:center;
}

#login_buttons .reg_login_buttons .space{
margin-right:9px;
}


#login_buttons .fb_button{
margin-bottom:3%;
text-align:center;
}


#login_buttons .input{
margin:0 auto 11px auto;
}
.input{
background:#fff;
border:4px solid #bce7f0;
 -moz-border-radius: 10px;
border-radius: 10px;

 -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 10px 10px 10px #000000;
   box-shadow:         inset 5px 5px 5px #cfcfcf;

padding:10px 0px 10px 16px;
margin: 0px 15px 15px 15px;

}

.text_button{
 float:right;
 position:relative;
 margin-bottom:-60px;
 
 
}


.text_button a{
float:left;
display:block;
border:1px solid #7b7e85;
text-transform:uppercase;
 background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a3a5aa), to(#7a7d83)); /* Safari 5.1, Chrome 10+ */ 
 background: -webkit-linear-gradient(top, #a3a5aa, #7a7d83); /* Firefox 3.6+ */
 background: -moz-linear-gradient(top, #a3a5aa, #7a7d83); /* IE 10 */ 
 background: -ms-linear-gradient(top, #a3a5aa, #7a7d83); /* Opera 11.10+ */ 
 background: -o-linear-gradient(top, #a3a5aa, #7a7d83);
 width:130px;
 height:54px;
 text-align:center;
 -moz-border-radius: 10px;
 border-radius: 10px;
 font-family:helvet-bold;
 font-size:28px;
 color:#FFFFFF;
 text-decoration:none;
 padding:15px 0px 0px 0px;
 box-shadow: 0px 0px 5px #7b7e85;

}

.input input{
color:#e7e6e7;

}

.input textarea, .input input{
font-size:40px;
font-family:helvet;
border:none;
width:95%;
background:none;
}

.input textarea{
height:293px;
color:#e7e6e7;


}

 .submit_button{
 height:87px;
font-size:45px;

}


.button{
	color:#FFFFFF;
	text-shadow: 2px 2px #c03f0c;
	font-family:helvet-bold;
	 background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f37421), to(#e83704)); /* Safari 5.1, Chrome 10+ */ 
 background: -webkit-linear-gradient(top, #f37421, #e83704); /* Firefox 3.6+ */
 background: -moz-linear-gradient(top, #f37421, #e83704); /* IE 10 */ 
 background: -ms-linear-gradient(top, #f37421, #e83704); /* Opera 11.10+ */ 
 background: -o-linear-gradient(top, #f37421, #e83704);
 width:100%;
  -moz-border-radius: 10px;
border-radius: 10px;
border:1px solid #f37320;
}


.blue_button{
margin: 0px 15px 15px 1%;
border:1px solid #f2f2f2;
width:96%;
 -moz-border-radius: 10px;
border-radius: 10px;
border-top:1px solid #b8b8b8;
border-left:1px solid #cdcdcd;
border-right:1px solid #d1d1d1;
border-bottom:1px solid #e5e5e5;
padding:6px 5px;
 background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d7d7d7), to(#f2f2f2)); /* Safari 5.1, Chrome 10+ */ 
 background: -webkit-linear-gradient(top, #d7d7d7, #f2f2f2); /* Firefox 3.6+ */
 background: -moz-linear-gradient(top, #d7d7d7, #f2f2f2); /* IE 10 */ 
 background: -ms-linear-gradient(top, #d7d7d7, #f2f2f2); /* Opera 11.10+ */ 
 background: -o-linear-gradient(top, #d7d7d7, #f2f2f2);
}
.blue_button input{
color:#FFFFFF;
	text-shadow: 2px 2px #00537f;
	font-family:helvet-bold;
	 background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#51bfd8), to(#4097ab)); /* Safari 5.1, Chrome 10+ */ 
 background: -webkit-linear-gradient(top, #51bfd8, #4097ab); /* Firefox 3.6+ */
 background: -moz-linear-gradient(top, #51bfd8, #4097ab); /* IE 10 */ 
 background: -ms-linear-gradient(top, #51bfd8, #4097ab); /* Opera 11.10+ */ 
 background: -o-linear-gradient(top, #51bfd8, #4097ab);
 -moz-border-radius: 10px;
border-radius: 10px;
border-top:1px solid #96d0de;
border-left:1px solid #65adbd;
border-right:1px solid #65adbd;
border-bottom:1px solid #76939a;
font-size:28px;
padding:18px 0px;
width:100%;

}

#header{
border-top-left-radius: 10px;
border-top-right-radius: 10px;
background:url(../images/header_bg.png) 0px 0px repeat-x;
color:#FFFFFF;
height:76px;
font-family:arial;
padding:14px 0px 0px 1%;
}

#header ul{
margin:0px;
padding:0px;
}
#header ul li{
float:left; display:block; text-align:center; 
list-style-type:none;

}



#header a{
color:#FFFFFF;
display:block;
float:left;
text-decoration:none;
font-family:helvet-bold;
font-size:150%;
text-shadow: 1px 1px #000000;
width:100%;
vertical-align:middle;
min-height:44px;
}


#header a.selected{
 background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#040505), to(#272A2E)); /* Safari 5.1, Chrome 10+ */ 
 background: -webkit-linear-gradient(top, #272A2E, #040505); /* Firefox 3.6+ */
 background: -moz-linear-gradient(top, #272A2E, #040505); /* IE 10 */ 
 background: -ms-linear-gradient(top, #272A2E, #040505); /* Opera 11.10+ */ 
 background: -o-linear-gradient(top, #272A2E, #040505);
 border-right-color:#595D62;
 border-bottom-color:#595D62;
}

.header_left {
width:18%;

}
.header_left, .settings,.notifications{
border:#046577 1px solid ;
-moz-border-radius: 10px;
border-radius: 10px;
box-shadow: 0px 0px 5px #046577;
padding-top:12px ;
}
.header_center{
text-align:center;
font-family:helvet;
font-size:200%;
width:59% ;
font-family:helvet-bold;
text-shadow: 1px 2px #000000;
}


.settings,.notifications{
width:10%;
}

.notifications {
margin-right:1% ;
}



.slide_top{
text-align:center;
position: fixed ;
bottom: 0px ;
width:100%;
}

#slide_button{
background: url(../images/slide_top_bg.png) 0px 0px repeat-x;
padding:19px 0px 0px 0px;
height:58px;
}


#slide_content{
display:none;

}

.slide_content_bg{
background: #000000; opacity: .3;filter:Alpha(Opacity=30);
position:absolute;
width:100%;
height:100%;
z-index:1;
}

.slide_input_box{
box-shadow: 0px 0px 15px #898888;
 background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ededed), to(#cccccc)); /* Safari 5.1, Chrome 10+ */ 
 background: -webkit-linear-gradient(top, #ededed, #cccccc); /* Firefox 3.6+ */
 background: -moz-linear-gradient(top, #ededed, #cccccc); /* IE 10 */ 
 background: -ms-linear-gradient(top, #ededed, #cccccc); /* Opera 11.10+ */ 
 background: -o-linear-gradient(top, #ededed, #cccccc);
	-moz-border-radius: 10px;
border-radius: 10px;
padding:15px 0px 4px 0px;
margin-bottom:74px;
}
.slide_box{
padding:60px 10% 0px 10%;
position:relative;
z-index:2;
}

.slide_box .mod{
height:100%;
margin-bottom:60px;

}
.slide_box .mod .mod_left, .mod .mod_right{
 background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#07abc9), to(#046d80)); /* Safari 5.1, Chrome 10+ */ 
 background: -webkit-linear-gradient(top, #07abc9, #046d80); /* Firefox 3.6+ */
 background: -moz-linear-gradient(top, #07abc9, #046d80); /* IE 10 */ 
 background: -ms-linear-gradient(top, #07abc9, #046d80); /* Opera 11.10+ */ 
 background: -o-linear-gradient(top, #07abc9, #046d80);
border-bottom:2px solid #0689a1;
-moz-border-radius: 10px;
border-radius: 10px;
box-shadow: 0px 0px 15px #898888;
text-align:center;
height:272px;
width:240px;
}
.slide_box .mod img{
position:relative;
top:25px;
}

.slide_box .mod .mod_left{
float:left;
}

.slide_box .mod .mod_right{
float:right;
}


.post{
padding:20px 0px 15px 11px;
border-bottom:2px solid #e0e0e0;

}

.questions .post{
cursor:pointer;
}

.post_selected{
 background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#07aac7), to(#0689a1)); /* Safari 5.1, Chrome 10+ */ 
 background: -webkit-linear-gradient(top, #07aac7, #0689a1); /* Firefox 3.6+ */
 background: -moz-linear-gradient(top, #07aac7, #0689a1); /* IE 10 */ 
 background: -ms-linear-gradient(top, #07aac7, #0689a1); /* Opera 11.10+ */ 
 background: -o-linear-gradient(top, #07aac7, #0689a1);
border-bottom:2px solid #0689a1;
}
.user_img{
float:left;
height:80px;
width:80px;
margin-right:17px;
text-align:center;
border:1px solid #dbdcdc;
background:#FFFFFF;

-moz-border-radius: 5px;
border-radius: 5px;
box-shadow: 0px 0px 10px #dadcdc;


}
.user_img img{
position:relative;
top:6px;
}

.questions .post .user_message{
width:73%;
}
.post .user_message{
float:right;
width:83%;
margin-right:2%;
}

.post .user_message p, .vote p{
margin:0px 0px 3px 0px;
color:#bfbfbf;
font-size:18px;
}


.post_selected .user_message p{
margin:0px 0px 3px 0px;
color:#FFFFFF;
font-size:18px;
}


.user_question{
width:86%;
}

.vote{
width:75px;
text-align:center;
float:left;
margin-top:20px;
cursor:pointer;
}
.vote p{
margin:0px;

}


.answers_count{
float:right;
 background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#51bfd8), to(#4097ab)); /* Safari 5.1, Chrome 10+ */ 
 background: -webkit-linear-gradient(top, #51bfd8, #4097ab); /* Firefox 3.6+ */
 background: -moz-linear-gradient(top, #51bfd8, #4097ab); /* IE 10 */ 
 background: -ms-linear-gradient(top, #51bfd8, #4097ab); /* Opera 11.10+ */ 
 background: -o-linear-gradient(top, #51bfd8, #4097ab);
 -moz-border-radius: 18px;
border-radius: 18px;
color:#FFFFFF !important;
font-weight:bold;
padding:6px 15px 3px 15px;
border:2px solid #FFFFFF;
-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
			position:relative;
			top:10px;

}

.time{
float:right;
margin-right:20px;



}

.time img{
position:relative;
top:3px;
margin-right:6px;


}
.post_selected .user_message p.user_name{
color:#333366;
}

.post_selected span.time{
color:#FFFFFF;
}

.post .user_message .user_name,  .time, .vote p span{
color:#666666;
font-family:helvet-bold;
}
.vote p span{
font-size:25px;
}

.popup_post{
display:none;
padding:15px;
}

.post_popup .user_name{
color:#FFFFFF;
font-size:18px;
font-family:helvet-bold;
font-size:20px;
}

.post_popup  .time{
color:#FFFFFF;
}

.post_popup h3{
padding:0px 40px;
color:#666666;
}
.post_popup_header{
height:100%;
padding:26px 20px 20px 38px;
}

.vote_popup{
width:600px;
margin:0 auto;
display:none;
padding:15px;
}



.post_popup_content{
background:#FFFFFF;
border:1px solid #aee1ed;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
padding-bottom:20px;
}

.post_popup{
background:#51bfd8;
-moz-border-radius: 10px;
border-radius: 10px;
border:4px solid #51bfd8;
box-shadow: 0px 0px 15px #898888;
}

.vote_popup .post_popup, .vote_popup .post_popup_content{
border:none;
text-align:center;
}

.vote_popup .post_popup_content{
padding-top:20px;
}
.buttons{
text-align:center;
}
.post_popup .buttons{
padding:0px 0px 0px 5%;
}

.post_popup .button, .buttons .button{
height:67px;
width:45%;
font-size:25px;

}

.post_popup .respond_button, .buttons .respond_button{
margin-right:5%;
}

.popup ul{
color:#666666;
font-size:20px;
margin:0px;
padding:0px;

}

.popup ul li.first{
border-top-left-radius:10px;
border-top-right-radius:10px;
background-image:none;
}

.popup ul li.last{
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
}

.popup ul li{
list-style-type:none;
border-bottom:2px solid #e0e0e0;



}
.popup ul li a{
text-decoration:none;
color:#666666;
background: url(../images/list_arrow.gif) no-repeat 97% center;
}
.popup ul li a, .popup ul li span.li{
display:block;
padding:32px 0px 32px 22px;
}
.popup ul li a.arrow_down{
background:url(../images/arrow_down.gif) no-repeat 97% center;
}

.popup_brd{
background:#FFFFFF;
border:10px solid #e0e0e0;
-moz-border-radius: 20px;
border-radius: 20px;
box-shadow: 5px 5px 5px #545454;
}

#settings-popup{
padding-right:20px;
display:none;

}


.fields{
display:none;
}

.form_box{
border:2px solid #51bfd8;
-moz-border-radius: 9px;
border-radius: 9px;
padding-bottom:20px;
box-shadow: 0px 0px 15px #898888;

}

.form_box_pad{
padding:2% 3% 12% 3%;
}
.form_box_indent{
padding:2% 1% 0px 1%;
}



label{
font-size:18px;
color:#999999;
}

.select_option{
margin:0px 0px 30px 20px;
}

.content_title{
background:#51bfd8;
padding:30px 41px;
}

.content_title h2, .vote_popup h2{
margin:0px;
text-align:center;
}
.vote_popup h2{
padding:15px 0px;

}

.content_title h3, .content_title h2, .vote_popup h2{
color:#ffffff;
font-weight:bold;
font-size:30px;
font-family:helvet-bold;
margin:0px;

}
.content_title h2 img{
position:relative;
bottom:-10px;

}
.content_title p{
margin:0px 0px 14px 0px;
font-size:18px;
color:#FFFFFF;

}
.time1{
float:right;
margin:0px;
}


#map{
height:426px;
border:1px solid #eaeaea;
border-bottom-color:1px solid #bababa; 
border-right-color:1px solid #bababa;
background:url(../images/map.gif) 0px 0px no-repeat; 
-moz-border-radius: 10px;
border-radius: 10px;
}

div.small_map{
background:url(../images/small_map.jpg) 0px 0px no-repeat;

height:90px;
}


.close_map{
float:right;
}

#standard{
	position:relative; 
	display:block; float:left;
	width:100%; height:400px;
margin:20px 0px;
	overflow:auto;

}


.standard1{
height:220px !important;
}

.scroller {
	position:absolute; 
	width:100%;
	padding:0;
	
}


#myFrame {
	position:absolute;
	top:0; left:0;
}

.scroller ul{margin:0px;padding:0px;font-size:100%;}
.scroller  ul li{list-style-type:none; padding:0px 20px 10px 6px;margin-bottom:11px; height:100%; }
.scroller  ul li a{color:#000000;text-decoration:none; display:block; font-weight:normal;}
.scroller  ul.ul_list li{border-bottom:none;}


.chat1 .user_img{
float:left;
}
.chat1 .user_chat{
float:right;

}
.chat1 .user_chat{
background:url(../images/chat_bg.gif) 0px 0px repeat-y;
background-size:100% 8%;

}
.chat1 .chat_bg_top{
background:url(../images/chat_top.gif) 0px 0px no-repeat;
background-size:100% 90%;

}

.chat1 .chat_bg_bottom{
background:url(../images/chat_bottom.gif) 0px 100% no-repeat;
background-size:100% 20%;
}

.chat2 .user_chat{
float:left;
}
.chat2 .user_img{
float:right;
}
.chat2 .user_chat{
background:#000 url(../images/chat_bg1.gif) 0px 0px repeat-y;
background-size:100% 8%;
}
.chat2 .chat_bg_top{
background:url(../images/chat_top1.gif) 0px 0px no-repeat;
background-size:100% 90%;
}

.chat2 .chat_bg_bottom{
background:url(../images/chat_bottom1.gif) 0px 100% no-repeat;
background-size:100% 20%;
}
.user_chat{
width:82%;
}




.user_chat_message{
min-height:70px;
padding:13px 13px 10px 30px;
}
.user_chat p{
font-size:20px;
color:#666666;
margin:0px;
}






