
/* Optional scoped theme for tag-it which mimics the zendesk widget. */


ul.tagit {
margin:0px;
padding:0px;
height:293px;
color:#e7e6e7;


    background: inherit;
}
ul.tagit li.tagit-choice {
box-shadow: 0px 0px 5px #898888;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#9ea0a5), to(#74777e)); /* Safari 5.1, Chrome 10+ */ 
 background: -webkit-linear-gradient(top, #9ea0a5, #74777e); /* Firefox 3.6+ */
 background: -moz-linear-gradient(top, #9ea0a5, #74777e); /* IE 10 */ 
 background: -ms-linear-gradient(top, #9ea0a5, #74777e); /* Opera 11.10+ */ 
 background: -o-linear-gradient(top, #9ea0a5, #74777e);
 border-top:1px solid #7b7e85;
 border-bottom:1px solid #6f7279;
 border-left:1px solid #7b7e85;
  border-right:1px solid #7b7e85;

    color: #fff;
    font-weight: normal;
	font-size:30px;
		padding-right:60px !important;
}
ul.tagit li.tagit-choice a.tagit-close {
    text-decoration: none;
}
ul.tagit li.tagit-choice .tagit-close {
    right: .4em;
}
ul.tagit li.tagit-choice .ui-icon {
    display: none;
}
ul.tagit li.tagit-choice .tagit-close .text-icon {
    display: inline;
    font-family: arial, sans-serif;
    font-size: 16px;
    line-height: 16px;
    color: #777;
}
/*ul.tagit li.tagit-choice:hover, ul.tagit li.tagit-choice.remove {
    background-color: #bbcef1;
    border-color: #6d95e0;
}
ul.tagit li.tagit-choice a.tagLabel:hover,
ul.tagit li.tagit-choice a.tagit-close .text-icon:hover {
    color: #222;
}*/
ul.tagit input[type="text"] {
    color: #333333;
    background: none;
}
 
.tagit-close .text-icon {
/*    display: none;*/

}

