<h2>Basic Info</h2>
<br>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :multipart => true }) do |f| %>
  <%= devise_error_messages! %>

<ul id="element-list">
  <li class="form-element">
    <%= f.label :current_profile_picture, :class => "field-title"%>
    
    <div>
      <%= image_tag avatar_url(@user), :alt => "Current Profile Picture", :height=>50, :width=>50 %>
    </div>

  </li>
  <br>
  <li class="form-element">
    <b>
    <% if @user.image.url %>
    <div>
      <%= image_tag @user.image.url, :alt => "", :height=>50, :width=>50 %>
    </div>
      <%= @user.image.url.split("/").last %>
    <% else %>
      No picture uploaded.
    <% end %>
    </b>
    <br>
    <%= f.check_box :use_uploadedPic, :class => "check-box" %> <%= f.label :use_uploadedPic, " Use uploaded photo" %>
  </li>
    <%#= f.label :remote_image_url, "or image URL" %>  
    <%#= f.text_field :remote_image_url %>  
  <li class="form-element">
    <div class="my-input-field">
      <%= f.file_field :image, :style => "margin-top:1.75px;"%>
    </div>
  </li>
  <div class="mini-guide">
    (Uncheck the box to use your Facebook/Twitter/Gravatar photo)
  </div>
<br>
  <li class="form-element">
	  <%= f.label :username, :class => "field-title"%>
	  <div class="my-input-field">
	  	<%= f.text_field :username, :class => "field my-field", :autofocus => true, :maxlength => 15 %>
  	  </div>
  </li>

  <li class="form-element">
	  <%= f.label :email, :class => "field-title"%>
	  <div class="my-input-field">
	  	<%= f.email_field :email, :class => "field my-field", :maxlength => 50, :autocomplete => :off  %>
  	</div>
  </li>

  <li class="form-element">
	  <%= f.label :website, :class => "field-title"%>
	  <div class="my-input-field">
	  	<%= f.text_field :website, :class => "field my-field", :maxlength => 50, :autocomplete => :off  %>
  	</div>
  </li>

 <!--  <li class="form-element">
    <%= f.label :location, :class => "field-title"%>
    <div class="my-input-field">
      <%= f.text_field :location, :class => "field my-field" %>
      </div>
  </li> -->
  <%= f.hidden_field :location_lat %>
  <%= f.hidden_field :location_lng %>
  <%= f.hidden_field :location_radius %>

  <li class="form-element">
    <%= f.label :location, :class => "field-title"%>
      <div class="my-input-field-auto-height">
        <div class="my-input-field-auto-height-top">
          <div class="my-input-field-auto-height-bottom">
            <%= f.text_field :location, :class => "my-field", :id => "where_are_you" %>
          </div>
        </div>
      </div>
      <div id="where_map" style="width:300px;height:300px;margin-top:4px;margin-bottom:4px;"></div>
      <div class="mini-guide">Drag and drop the red pin to locate your exact place on the map.</div>   
  </li>

	<li class="form-element">
	  <%= f.label :about_me, :class => "field-title"%>
	  <%= f.text_area :about, :size => "50x5", :class => "my-textarea", :maxlength => 300, :autocomplete => :off  %>
  </li>
  
  <li class="form-element">
	  <%= f.label :new_password, :class => "field-title" %>
	  <div class="mini-guide">Leave this empty if you don't want to change it</div>
	  <div class="my-input-field">
	  	<%= f.password_field :password, :class => "my-field", :maxlength => 20, :autocomplete => :off %>
  	</div>
  </li>

	  <li class="form-element">
	  <%= f.label :password_confirmation, "Confirm New Password", :class => "field-title" %>
    <div class="mini-guide">Leave this empty if you don't want to change it</div>
	  <div class="my-input-field">
	  	<%= f.password_field :password_confirmation, :class => "my-field", :maxlength => 20, :autocomplete => :off %>
  	</div>
	</li>
	
 	<li class="form-element">
	  <%= f.label :current_password, :class => "field-title" %><!-- <i></i> -->
	  <div class="my-input-field">
	  	<%= f.password_field :current_password, :class => "my-field", :maxlength => 20, :autocomplete => :off, :placeholder => "Type current password to confirm changes" %>
	  </div>
	</li>

  <div class="actions">
  	<a href="/me" class="submit_link button">Update Info<span></span></a>
  </div>

</ul>
<% end %>

<br/>
<h2>Cancel account</h2>
<p>Had enough already? <%= link_to "Cancel your account", registration_path(resource_name), :confirm => "This cannot be undone. Are you sure?", :method => :delete %>.</p>

<link rel="stylesheet" href="/css/forms.css" type="text/css" media="all" />

<script type="text/javascript" src="/js/textlimit.js"></script>
<script type="text/javascript" src="/js/datepicker.js"></script>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<% if  Rails.env.production? %>
     <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA91Zz5Nv-onIUJcE_k7I9cN7Ey_GW_kIw&sensor=false"></script>
<% else %>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEgzy4o-lMybHPr4umvxpKIdqEStrA_Ec&sensor=false"></script>
<% end %>
<script type="text/javascript" src="/js/next.js"></script>
<script type="text/javascript" src="/js/mapper.js"></script>
<script type="text/javascript" src="/js/next-map.js"></script>