<link rel="stylesheet" href="/css/forms.css" type="text/css" media="all" />
<% title "Sign Up" %>
<div> Create an account with</div>
<a href="/auth/twitter" class="auth_provider">
  <%= image_tag "tw.png", :alt => "Twitter" %>
</a>
<a href="/auth/facebook" class="auth_provider">
  <%= image_tag "fb.png", :alt => "Facebook" %>
</a>
<br>
<h3 class="line-through">
    <p><span>or</span></p>
</h3>
<div class="line-through"></div>
<br>
<br>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

<ul id="element-list">
	  <li class="form-element">
		  <%= f.label :username, :class => "field-title"%>
		  <div class="my-input-field">
		  	<%= f.text_field :username, :class => "field my-field", 
		  									 :autofocus => true, :maxlength => 15 %>
	  	  </div>
	  </li>
  
	  <li class="form-element">
		  <%= f.label :email, :class => "field-title" %>
		  <div class="my-input-field">
		  	<%= f.email_field :email, :class => "field my-field", :maxlength => 50, :autocomplete => :off  %>
	  	  </div>
	  </li>
    
    <li class="form-element">
		  <%= f.label :website, :class => "field-title"%>
		  <div class="my-input-field">
		  	<%= f.text_field :website, :class => "field my-field", 
		  									 :placeholder => "www.yourwebsitehere.com", :maxlength => 50, :autocomplete => :off  %>
	  	  </div>
	  </li>


    <li class="form-element">
      <%= f.label :location, :class => "field-title"%>
      <div class="my-input-field">
        <%= f.text_field :location, :class => "field my-field",
                         :placeholder => "City, Country"%>
        </div>
    </li>

    <%= f.hidden_field :location_lat %> 
	  <%= f.hidden_field :location_lng %> 
    <%= f.hidden_field :online_status %> 
      
  	<li class="form-element">
		  <%= f.label :about_me, :class => "field-title"%>
		  <%= f.text_area :about, :size => "50x5", :class => "my-textarea", 
		  								:placeholder => "Write something about yourself!", :maxlength => 300 %>
	  </li>

 	  <li class="form-element">
	  	<%= f.label :password, :class => "field-title"%>
	  	<div class="my-input-field">
	  	<%= f.password_field :password, :class => "my-field", 
	  											 :autocomplete => "off", :maxlength => 20, :autocomplete => :off  %>
  	  </div>
	  </li>

 	  <li class="form-element">
		  <%= f.label :password_confirmation, :class => "field-title"%>
		  <div class="my-input-field">
	  	<%= f.password_field :password_confirmation, :class => "my-field", :autocomplete => :off,
	  											 :maxlength => 20 %>
  	  </div>

	  </li>

  <div class="actions">
  	<a href="#" class="submit_link button">Create My Account<span></span></a>
  </div>

</ul>

<script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script type="text/javascript">
  //   if(google.loader.ClientLocation) {
  //     loc = google.loader.ClientLocation;
  //     if  (loc.address) {
  //       visitor_city = loc.address.city;
  //       visitor_region = loc.address.region;
  //       visitor_country = loc.address.country;
  //       visitor_countrycode = loc.address.country_code;

	 //  		if(visitor_city == "") {
		// 			visitor_city = "";
		// 		} else {
		// 			visitor_city = visitor_city + ', ';
		// 		}

		// 		if(visitor_region == "") {
		// 			visitor_region = "";
		// 		} else {
		// 			visitor_region = visitor_region + ', ';
		// 		}

		// 		$('location').val(visitor_city  + visitor_region + visitor_country);
  //     } 
  // 	}
  </script>

<% end %>

<%= render :partial => "devise/shared/links" %>

