<li>
  <div class="holder">
    <a href="<%= "/situations/#{situation.id}" %>"
      class="button">Check it out<span></span></a>

    <div class="holder_header">
      <h3><%= featuredname %></h3>
      <div class="clock">
        <%if situation.situationcondition %>
          <span class="expirationText">The clock is ticking
              </span><p class="timer"><span class="countDown"
              value="<%= situation.situationcondition.whendate.to_i %>"></span></p>
        <% end %>
      </div>
    </div>

    <div class="post">

      <div class="image">
        <%= avatar_link_to_user(situation.user) %>
      </div>
      <div class="body">
        <p class="meta">Posted by <%= by_user(situation.user) %>
          <%= time_diff_in_natural_language(Time.now, situation.created_at)%> ago</p>
        <h4><%= sanitize auto_link(situation.content, :html => { :class => 'link', target: '_blank'}) %>  </h4>

        <p>
          <% if situation.plan %>
            <%= sanitize auto_link(situation.plan.content, :html => { :class => 'link', target: '_blank'}) %>
          <% end %>
        </p>

        <ul class="entry-info">
          <%if !situation.situationcondition.nil? %>
            <% if !situation.situationcondition.what.nil? && !situation.situationcondition.what.empty?%>
              <li>What: <%=raw build_related_links("<a class='link' href='/categories/findrelated?search_what=",
                                                   situation.situationcondition.what) %></li>
            <% end %>

            <% if !situation.situationcondition.whendate.nil? %>
             <li>When: <a class="link" href="#"><%= format_when_date(situation.situationcondition)%></a></li>
            <% end %>

            <% if !situation.situationcondition.where.nil? && !situation.situationcondition.where.empty?%>
             <li>Where: <%= raw build_related_links("<a class='link' href='/categories/findrelated?search_where=",
                                                   situation.situationcondition.where) %></li>
            <% end %>

            <% if !situation.category.nil?%>
             <li>Category: <%= link_to situation.category.name, situation.category,
               :class => "link categoryLinkClass",
               :id => situation.category.id %></li>
            <% end %>
          <% end %>
       </ul>
     </div>
    <div class="cl">&nbsp;</div>
    </div>
  </div>
</li>

