<% if !@situations.nil? %>

  <% if showtitle %>
    <ul class="posts" style="width:660px"><li>
        <div class="title">
          <h3>This just in...</h3>
        </div>
    </li></ul>
  <% end %>

  <% if @situations.length > 0 %>
        <ul id="posts_container" class="posts">
          <% @situations.each do |situation| %>
              <li><%= render :partial => "situations/listpart",
                             :layout => false,
                             :locals => { :showplans => false,
                                          :situation=>situation,
                                          :show_all => true } %>
              </li>
          <% end %>
        </ul>
        <div id="load_more">&nbsp;</div>
  <% end %>

    <script type="text/javascript" src="/js/scrolling.js"></script>

<% end %>
