<!--All elements inside this will become slides-->
<ul>

  <li>
    <div class="holder">
      <a href="/images/how_it_works.jpg" class="button" target="_blank">Read on<span></span></a>
      <div class="holder_header"><h3>On the blog...</h3></div>
      <div class="post">
        <div class="image"><a href="/images/how_it_works.jpg"><img alt="" height="50" src="/css/images/avatar.jpg" width="50" /></a></div>
        <div class="body">
          <h4>Real questions. Real answers. Real time. See how alasker works.</h4>
          <p>
          </p>
        </div>
      </div>
    </div>
  </li>

  <% if @situation_top && Situation.count >= 1 %>
    <%= render :partial => "featured", :layout => false,
      :locals => { :featuredname => 'Trending now...', :situation => @situation_latest_1 } %>
  <% end %>

  <% if @situation_fan && Situation.count >= 2 %>
    <%= render :partial => "featured", :layout => false,
      :locals => { :featuredname => 'Hot question...', :situation => @situation_latest_2 } %>
  <% end %>

  <% if @situation_popular  && Situation.count >= 3 %>
      <%= render :partial => "featured", :layout => false,
        :locals => { :featuredname => "People are asking...", :situation => @situation_latest_3 } %>
  <% end %>


      </ul>

