<div class="error_page">

	<h3>The page you were looking for doesn't exist.</h3>
	<p>You may have mistyped the address<br />
	or the page may have moved.
	</p>

	<h3>Here are some places you might want to go to:</h3>
	<ul>
		<li><a href="/help">Help</a></li>
		<li><a href="/situations">Ask a question</a></li>
		<li><a href="/plans">Answer questions</a></li>
	</ul>

</div>

