<title>alasker</title>


<%= raw @host_name %> 

<% if current_user && current_user.admin_enabled %>
  <%= link_to "Admin Page", "/admin" %>
<% end %>

<% @topcasebar = 1 %>

<% content_for :topcasebar do %>
  <%= render :partial => "top_case_bar", :layout => false %>
<% end %>

<% content_for :rightpanel do %>
  <div class="previewbox"><div class="previewboxcontent"></div></div>
<% end %>

<script type="text/javascript" src="/js/suggestcategory.js"></script>

<%= render  :partial => "home/situationlist",
            :layout => false,
            :locals => { :showtitle => true, 
                         :showplans => false, 
                         :paging_on => false } %>
     
<!-- <%= link_to "See more questions...", "/situations" %> -->

<%= render '/categories/suggest_category', :layout => false %>

