<title>alasker</title>

<% if current_user && current_user.admin_enabled %>
  <%= link_to "Admin Page", "/admin" %>
<% end %>

<% @lowerrightpanel = 1 %>
<%= content_for :lowerrightpanel do %>
<% end %>

<% @topcasebar = 1 %>
<% content_for :topcasebar do %>
  <%= render :partial => "top_case_bar", :layout => "layouts/slideshow" %>
<% end %>

<% @tabspanel = 1 %>
<% content_for :tabspanel do %>
  <ul>
    <li><a href="/plans/listby?home=0" title="Recent Questions"><span>Recent</span></a></li>
    <li><a href="/plans/listby?home=1" title="Popular Questions"><span>Popular</span></a></li>
  </ul>

  <div id="fragment-1">
  </div>

  <div id="tabs-footer">
  <%= link_to 'See more questions', '/situations' %>
  </div>
<% end %>

