<% @toppanel = 1 %>
  <% content_for :toppanel do %>
    <%= form_tag("/answers", :method => "get") do %>
      <%= label_tag(:q, "Find an answer ") %>
      <%= text_field_tag(:searchstring, @escaped_searchstring, :size=>50) %>
      <%= submit_tag("Search") %>
    <% end %>
  <% end %>


   <div class="form-element">
<h3>Take a look at the answers (with or without the questions)!</h3>
Sometimes you may have an answer, before it's asked.<br/>
    <a href="/plans/new" class="button">Post an answer<span></span></a>
    <br/>
</div>


<script type="text/javascript" src="/js/show-functions.js"></script>
<script type="text/javascript" src="/js/suggestcategory.js"></script>

<% @tabspanel = 1 %>
  <% content_for :tabspanel do %>
    <ul>
      <li><a href="/plans/listplansby?home=0&limit=15&newlayout=1&paginate=1&searchstring=<%= @escaped_searchstring?  @escaped_searchstring  : '' %>"
      	class="tabtooltipfix" title="fragment-1" realtitle="Recent Questions"><span>Recent</span></a></li>
      <li><a href="/plans/listplansby?home=1&sort=popular&limit=15&newlayout=1&paginate=1&searchstring=<%= @escaped_searchstring?  @escaped_searchstring  : '' %>"
      	class="tabtooltipfix" title="fragment-1" realtitle="Popular Questions"><span>Popular</span></a></li>
    </ul>

    <div id="fragment-1">
    </div>
  <% end %>

<!--  render '/categories/suggest_category', :layout => false  -->
