<% title "Alasker Chatroom" %>

<ul id="chat">
  <%= render @chats %>
</ul>

<%= form_for Chat.new, :remote => true do |f| %>
  <%= f.text_field :content %>
  <%= f.submit "Send" %>
<% end %>

<%= stylesheet_link_tag "chats" %>