<script type = "text/javascript">
$(function() {
    // Subscribe to receive messages!
    var client = new Faye.Client('<%= @faye_host %>' + '/faye');
    // public subscription
    var public_subscription = client.subscribe('/messages/public', function(data) {
      $('<p></p>').html(data.username + ": " + data.msg).appendTo('#chat_room');
    });
    // own private channel
    var private_subscription = client.subscribe('/messages/private/<%= @user.username %>', function(data) {
      $('<p></p>').addClass('private').html(data.username + ": " + data.msg).appendTo('#chat_room');
    });
    // Handle form submission to publish messages
    $('#new_message_form').submit(function(){
      // private message
      if (matches = $('#message').val().match(/@(.+) (.+)/)) {
        client.publish('/messages/private/' + matches[1], {
          username: '<%= @user.username %>',
          msg: '[PM] ' + matches[2]
        });
        client.publish('/messages/private/' + '<%= @user.username %>', {
          username: '<%= @user.username %>',
          msg: $('#message').val()
        });
      }
      else {
        // public message
        client.publish('/messages/public', {
          username: '<%= @user.username %>',
          msg: $('#message').val()
        });
      }
      // Clear the message box
      $('#message').val('');
      return false;
    });
  });
</script>

<div class="chat_container">
  <div id="chat_room">
    <p class="alert"> Welcome to the chat room <%= @user.username %>! </p>
  </div>
  <form id="new_message_form">
    <input type="text" id="message" name="message">
    <input type="submit" value="Send">
  </form>
</div>