
		<div data-role="content">
		  <p class="text_center">
			<img src="images/check.gif" alt="">
		  </p>
		  <p class="text_center">
			Thank you! We are working on a<br>
			Plan B for you! You'll receive a notofication<br>
			right here on your phone when someone<br>
			posts a plan for you.
		  </p>
		  <div class="tap_button">
			<a href="#situation/0" class="button_link button_link1">Tap here to see your</a>
		  </div>
		  <p class="text_center">
			While you wait, maybe you would like<br>
			to help others in need of a Plan B?
		  </p>
		  <div class="tap_button">
			<a href="#list" class="button_link button_link1">Tap here to see your</a>
		  </div>
		</div>
		<div data-role="footer" data-position="fixed">
		  <center>
			Advertisement here
		  </center>
		</div>
 