		<div data-role="header">
		  <h1 class="title">
			Plan-B
		  </h1>
		  <h3 class="title">
			Join the community! Sign up here
		  </h3>
		</div>
		<div data-role="content">
		  <div id="sign_up_form">
			<form>
			  <div data-role="fieldcontain">
				<label>What's your</label> <input name="Input" type="text" class="input">
			  </div>
			  <div data-role="fieldcontain">
				<label>Choose a password</label> <input name="" type="text" class="input">
			  </div>
			  <div class="input_button">
				<div class="button_arrow set_button">
				  <input name="" type="button" value="Join now" class="button" data-role="none">
				</div><br class="clear">
			  </div>
			</form>
		  </div>
		  <p class="text_center text24">
			By tapping the Join Now button you agree<br>
			to Plan Bs' Terms of Membership.
		  </p>
		  <p class="text_center text32">
			Are you a member? <a href="#">Sign in</a>
		  </p>
		</div>
		<div data-role="footer" data-position="fixed">
		  <center>
			Advertisement here
		  </center>
		</div>
