
		<div id="top_content">
		  <h2 class="title2">
			Stuck on a Train
		  </h2>
		  <p>
			Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		  </p>
		  <p class="info">
			What: <a href="#">Train Passenger</a><br>
			Where: <a href="#">London</a><br>
			When: 06/25/2012 11:00 AM
		  </p>
		</div>
		<div data-role="content">
		  <h2 class="title2">
			Suggested Plan Bs:
		  </h2>
		  <div class="scroll_content"></div>
		  <div id="scrollbar1" class="scrollbar2">
			<div class="scrollbar">
			  <div class="track">
				<div class="thumb"></div>
			  </div>
			</div>
			<div class="viewport">
			  <div class="overview">
				<ul>
				  <li>
					<a href="#situation/0"><span class="go_button">go</span> Take a taxi instead</a>
				  </li>
				  <li>
					<a href="#situation/0"><span class="go_button">go</span> Rent a private jet</a>
				  </li>
				  <li>
					<a href="#situation/0"><span class="go_button">go</span> Take a taxi instead</a>
				  </li>
				  <li>
					<a href="#situation/0"><span class="go_button">go</span> Rent a private jet</a>
				  </li>
				</ul>
			  </div>
			</div>
		  </div>
		  <div class="input_button">
			<div class="button_arrow">
			  <input name="" type="button" value="Suggest a plan" class="button" data-role="none">
			</div><br class="clear">
		  </div>
		</div>
		<div data-role="footer" data-position="fixed">
		  <center>
			Advertisement here
		  </center>
		</div>

