<link rel="stylesheet" href="/css/forms.css" type="text/css" media="all" />
<% title "Sign In" %>

<div> Login to your account using</div>
<a href="/auth/twitter" class="auth_provider">
  <%= image_tag "tw.png", :alt => "Twitter" %>
</a>
<a href="/auth/facebook" class="auth_provider">
  <%= image_tag "fb.png", :alt => "Facebook" %>
</a>
<br>
<h3 class="line-through">
    <p><span>or</span></p>
</h3>
<div class="line-through"></div>
<br>
<br>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:multipart => true} ) do |f| %>

<ul id="element-list">	
	  <li class="form-element">
		  <%= f.label "Username or Email", :class => "field-title"%>
		  <div class="my-input-field">
		  	<%= f.text_field :login, :class => "field my-field",
		  										:autofocus => true, :maxlength => 50 %>
	  	  </div>
	  </li>
	  
 	  <li class="form-element">
	  <%= f.label :password, :class => "field-title"%>
	  <div class="my-input-field">
	  	<%= f.password_field :password, :class => "my-field", :maxlength => 20 %>
  	  </div>
	  </li>
	  <li class="form-element">
    <% if devise_mapping.rememberable? %>
		  <%= f.check_box :remember_me, :class => "check-box" %> <%= f.label :remember_me, " Remember Me".html_safe %>
	  <% end %>
		</li>

	  <div class="actions">
	  	<!--<a href="#" class="submit_link button">Sign in<span></span></a>-->
        <%= f.submit :value=>"", :class => "submit_link" %>
	  </div>
<% end %>

<br />
<%= render :partial => "devise/shared/links" %>