<div class="cloud_left">
    <div class="cloud_right">
        <div id="home_header">
            <img src="images/authenticate/logo.png">
        </div>

        <div class="button_container" >
            <div class="button_block">
                <div class="fb_button"><a href="#facebook" ><img src="images/authenticate/facebook.gif" border="0"></a></div>
                <div class="fb_button"><a href="#twitter" ><img src="images/authenticate/twitter.gif" border="0"></a></div>
                <div class="reg_login_buttons">
                    <a href="#signup"><img src="images/authenticate/register.gif" border="0" style="float:left"></a>
                    <a href="#signin" ><img src="images/authenticate/login.gif" border="0" style="float:right"></a>
                    <br class="clear"/>
                </div>
            </div>
        </div>
    </div>
</div>
