<div class="edit-question-wrapper">
    <div class="top-layer">
        <div class="button left"><button id="cancel-btn"><img src="images/question/cancel.png"></button></div>
        <div class="button right"><button id="post-btn"><img src="images/question/post.png" ></button></div>
    </div>
    <div class="white-layer">
        <div class="answer">
            <div class="input_container">
                <textarea id="content" placeholder="Type your question here" ></textarea>
            </div>
        </div>

    </div>
    <div class="bottom-layer">
        <div class="range-layer">&nbsp;</div>
        <div class="action-buttons">
            <div class="action camera">
                <!--<img src="images/question/camera.png">-->
            </div>
            <div class="action picture">
                <!--<img src="images/question/picture.png">-->
            </div>
            <div class="action share">
                <!--<img src="images/question/link.png">-->
            </div>
            <div class="action location" >
                <img src="images/question/location.png">
            </div>
        </div>
    </div>
</div>