<div class="header">
    <div class="button left"><button id="back-btn"><img src="images/header/back.png"></button></div>
    <div class="button right"><button id="next-btn"><img src="images/header/next.png" ></button></div>
</div>

<div class="got-a-question">
    <div class="top">
        <h1>Got a Question?</h1>
        <p>Someone else may have your answer.</p>
    </div>
    <div class="content">
        <div class="input_container">
            <form>
                <textarea id="txt_content" placeholder="Type your question here" ></textarea>
            </form>
        </div>
    </div>
</div>
