
	<div id="header">
		<div class="button left"><button id="back-btn"><img src="images/header/back.png"></button></div>	
		
		<div class="button center"><button id="menu-btn"><img src="images/header/bullet.png" ></button></div>
		<div class="button center"><button id="menu-btn"><img src="images/header/write.png" ></button></div>
		
		<div class="button right"><button id="menu-btn"><img src="images/header/menu.png" ></button></div>
	</div>