<div class="header">
    <div class="button left"><button id="back-btn"><img src="images/header/back.png" ></button></div>
    <div class="button right"><button id="write-btn"></button></div>
</div>

<div id="help-wrapper" class="scrollable">
    <ul>
        <li>
            <h3>How does alasker work?</h3>
            <p>Alasker works by making it easy for people with questions to find people with answers. Once you ask a question on alasker, anyone can answer it. The more questions alasker has, the more opportunities our users have to provide answers. And the more answers in alasker, the likelier you are to find what you need. </p>
        </li>

        <li>
            <h3>How do I ask a question?</h3>
            <p>Pretty simple. Right on the main page of alasker, you type in a question of 120 characters or less. Click Continue, and you'll be asked to sign in or sign up. That's so we can contact you when people answer your question. Next, we'll show you some questions that look like yours -- you may find your answer is already waiting for you. If not, you'll continue on and choose a category, add your location, and select when you need an answer. </p>
        </li>

        <li>
            <h3>Why do my questions have to be 120 characters or less?</h3>
            <p>Keeping it at 120 characters lets us tweet your question with a hashtag and a URL to other alasker users, so they can see that it's been posted. If they have an answer, they can click on the URL and answer it right away. </p>
        </li>

        <li>
            <h3>How do I answer a question?</h3>
            <p>First you find questions you want to answer. On the Browse page, you use the search box to search by keywords, you use the tabs to search by recency, popularity, and newness, and you use the pulldown in the top nav bar to initiate a search by category. </p>
        </li>

        <li>
            <h3>How will I know if my question has been answered?</h3>
            <p>Once you ask a question, you have the option to receive notifications when people answer it. Or you can return to alasker to look it up by keywords or other search functions. </p>
        </li>

        <li>
            <h3>How many answers can a question have?</h3>
            <p>As many as people want to provide. </p>
        </li>

        <li>
            <h3>My question didn’t show up. Where is it?</h3>
            <p>Maybe you didn’t complete the text entry. Or you accidentally closed the page. Or maybe your question was found to be objectionable and removed from alasker. </p>
        </li>

        <li>
            <h3>Why would I want to look at other people's questions?</h3>
            <p>People share basic needs. Chances are good that other people are wondering or needing the same kinds of things you are. Your burning question may have already been answered.
                Or maybe you just like sharing things you know. Calling all Brainiacs! alasker is great for asking and answering. It's a perfect place for know-it-alls to show off and get some love for being so knowledgeable. Or if not love, badges. </p>
        </li>

        <li>
            <h3>Why do questions expire?</h3>
            <p>You can choose to set a time limit for your question if you won't need an answer after a certain time or date. Like if you need help RIGHT NOW. But setting an expiration date/time is optional. </p>
        </li>

        <li>
            <h3>How will I know when my question is answered?</h3>
            <p>You'll get a notification at the email address you provided when you signed up. If you used a fake email or you don't check that account, you won't get notifications. </p>
        </li>

        <li>
            <h3>There are so many answers... How can I find one that works for me?</h3>
            <p>You can narrow it down if you browse the questions by categories. Use the Categories pulldown in the top nav bar. </p>
        </li>

        <li>
            <h3>How do I know which answers are best?</h3>
            <p>People can vote answers up or down, so the most popular answers may be the best. Also, go with your gut. Works for us. </p>
        </li>

        <li>
            <h3>How is this site different from other Q&A sites?</h3>
            <p>We love the big Q&A sites. But alasker enables quick and easy Q&A. alasker facilitates lively info exchange on the fly about real-world issues in real time. This site keeps the info flow current by letting you set an expiration date/time on your questions helps. Keeping questions short makes sure they don't get overcomplicated. Tweeting your questions creates an immediate exchange between different alasker users, wherever they are. And also, we have the bear. </p>
        </li>

        <li>
            <h3>How do I get badges?</h3>
            <p>You get badges for being active on the site -- asking and answering. Check out the Badges page for details. And by the way ... new and interesting badges are in the pipeline. </p>
        </li>

        <li>
            <h3>Why is this site called alasker? Are you people in Alaska?</h3>
            <p>No, we're in the Lower 48. Asking is at the heart of what we're doing, and "ask" is also at the heart of alasker. Plus, Alaska is cool, we liked the name, and the bear was free. And the questions.com URL costs a bazillion dollars. </p>
        </li>

    </ul>
</div>
