<div class="header">
    <!--<div class="button left"><button id="back-btn"><img src="images/header/back.png"></button></div>-->
    <div class="button left"><button id="list-btn"><img src="images/header/bullet.png" ></button></div>
    <div class="button center"><button id="write-btn"><img src="images/header/write.png" ></button></div>
    <!--<div class="button right"><button id="filter-btn"><img src="images/header/filter.png" ></button></div>-->
    <div class="button right"><button id="menu-btn"><img src="images/header/menu.png" ></button></div>
</div>

<div id="stream-wrapper" class="scrollable">
    <div style="padding-bottom:10px;">
        <div id="pullDown">
            <span class="pullDownIcon"></span><span class="pullDownLabel">Pull down to refresh...</span>
        </div>
        <ul class="thelist">
			 <div class="ajax-loader">
                <img src="images/loader.gif">
            </div>
		</ul>
        <div id="pullUp">
            <span class="pullUpIcon"></span><span class="pullUpLabel">Pull up to refresh...</span>
        </div>
    </div>
</div>
