<li>
	<div class="content">
		<div class="stream-item-header">
			<div class="account-group">								
				<img class="avatar" src="<%= avatar %>">						
				<div class="user-group">
					<div class="fullname"><%= user_name %></div>								
                    <!--
					<div class="location"><s>near</s><b><%= location_lat %>, <%= location_lng %></b></div> 
                    -->
				</div>																
				<div class="timestamp" title="<%= updated_at %>"><%= updated_at %></div>	
			</div>			
		</div>						
		<p class="stream-item-text">
			<%= content %>
		</p>						
		<div class="stream-item-footer">
			<div class="action location">
			</div>
			<div class="action share">
			</div>
			<div class="action comment" >									
			</div>
            <div class="action reply">
                <a href="#question/<%=id%>"><img src="images/landing/reply.png"></a>
            </div>
		</div>
	</div>
</li>
