<div style="padding-bottom:10px;">
    <div id="pullDown">
        <span class="pullDownIcon"></span><span class="pullDownLabel">Pull down to refresh...</span>
    </div>
    <ul class="thelist"></ul>
    <div id="pullUp">
        <span class="pullUpIcon"></span><span class="pullUpLabel">Pull up to refresh...</span>
    </div>
</div>
