<!-- embed the CSS for the mean time -->
<li>
	<table style="font-family: Helvetica, Arial, sans-serif; height: 100%">
		<tr>
			<td style="width: 60px;" align="center" valign="middle"><img src="<%= avatar_map %>" /></td>
			<td align="left" valign="top">
				<span style="font-size: 12pt; font-weight: bold; color: #8FD8D8;">
					<%= user_name %>
				</span><br />
				<div class="time" style="float: left" title="<%= created_at %>"></div>
			</td>
		</tr>
		<tr>
			<td colspan="2" align="left" valign="top">
				<div style="font-size: 10pt; overflow: hidden; text-overflow: ellipsis; height: 25px; padding: 5px;">
					<%= content %>
				</div>
			</td>
		</tr>
		<tr>
			<td colspan="2" align="right" valign="middle" style="font-size: 10pt;">
				[ <a href="#question/<%= situationcondition_id %>/reply">reply</a> ]
			</td>
		</tr>
	</table>
</li>	
