
<div class="header">
    <div class="button left"><button id="back-btn"><img src="images/header/back.png" ></button></div>
    <div class="button right"><button id="write-btn"></button></div>
</div>

<div class="menu-wrapper scrollable">
    <div class="menu-item" id="notifications-menu">
        <div class="menu-icon"><img src="images/menu/notification.png"></div>
        <div class="menu-label"><span>Notifications</span></div>
    </div>
    <div class="menu-item" id="help-menu">
        <div class="menu-icon"><img src="images/menu/help.png"></div>
        <div class="menu-label"><span>Help</span></div>
    </div>
    <div class="menu-item" id="exit-menu">
        <div class="menu-icon"><img src="images/menu/exit.png"></div>
        <div class="menu-label"><span>Logout</span></div>
    </div>
</div>
