<li class="notification-item-wrapper <%= data.selectorClass%>"> 
	<div class="avatar" >
		<img src="<%= data.avatar %>">						
	</div>
	<div class="notification-item">
		<p class="description"><%=data.sender_name%> <%= data.action%></p>
		<p class="content"><%= data.content %></p>
		<p class="timestamp" title="<%= data.updated_at %>"><%= data.updated_at %></p>	
	</div>	
</li>
