<div class="header">
	<div class="button left"><button id="back-btn"><img src="images/header/back.png"></button></div>		
	<div class="button right"><button id="menu-btn"><img src="images/header/menu.png" ></button></div>
</div>

<div class="notification-wrapper scrollable">
	<div class="scrollable-wrapper">							
		<div id="pullDown">
			<span class="pullDownIcon"></span><span class="pullDownLabel">Pull down to refresh...</span>
		</div>

		<ul class="notification-stream">
            <div class="ajax-loader">
                <img src="images/loader.gif">
            </div>
		</ul>
		
		<div id="pullUp">
			<span class="pullUpIcon"></span><span class="pullUpLabel">Pull up to refresh...</span>
		</div>				
	</div>
</div>