<div class="content">
	<div class="stream-item-header">
		<div class="account-group">								
			<img class="avatar" src="<%= avatar %>">						
			<div class="user-group">
				<div class="fullname"><%= user_name %></div>								
				<div class="location"></div>
			</div>																
			<div class="timestamp"><%= created_at %></div>	
		</div>			
	</div>		
	
	<p class="stream-item-text">
		<%= content %>
	</p>

	<div class="stream-item-footer">
        <div class="action location">
        </div>
        <div class="action share">
        </div>
        <div class="action comment" >
        </div>
        <div class="action reply">
            <a href="#question/<%=id%>/reply"><img src="images/landing/reply.png"></a>
        </div>
    </div>

    <div class="answers-stream">
        <!-- question-answer-wrapper.html -->
    </div>
</div>

	