<div class="answer-wrapper"> 
	<div class="avatar" >
		<img src="<%= data.avatar %>">
	</div>
	<div class="answer-content-wrapper">
		<div class="fullname"><%= data.user_name %></div>
		<div class="content-text"><%= data.content %></div>
		<div class="timestamp"><%= data.created_at %></div>
	</div>																						
</div>