
<div class="theme_blue">
	<div class="cloud_left">
		<div class="cloud_right">
			<div id="home_header">
				<img src="images/authenticate/logo.png">
			</div>
		
			<div class="button_container" >					
				<div class="button_block">
					<ul id="error" class="error_container"></ul>
					<form autocomplete="off">
						<div class="input_container"><input id="txt_login" type="text" placeholder="username or email"></div>
						<div class="input_container"><input id="txt_password" type="password" placeholder="password"></div>
						<input type="image" src="images/authenticate/login_full.gif">
					</form>
				</div>				
			</div>		
		</div>
	</div>			
</div>		
