
<div class="theme_blue">
	<div class="cloud_left">
		<div class="cloud_right">
			<div id="home_header">
				<img src="images/authenticate/logo.png">
			</div>
		
			<div class="button_container" >						
				<div class="button_block">
					<ul id="error" class="error_container"></ul>
					<form autocomplete="off">
					<div class="input_container"><input id="txt_username" type="text" placeholder="username" ></div>
					<div class="input_container"><input id="txt_email" type="email" placeholder="email" ></div>
					<div class="input_container"><input id="txt_password" type="password" placeholder="password" ></div>
					<div class="input_container"><input id="txt_confirm_password" type="password" placeholder="confirm password"></div>
					<input id="btn_submit" type="image" src="images/authenticate/register_full.gif" >
					</form>
				</div>
			</div>
		</div>
	</div>			
</div>	