
<div class="header">
	<div class="button left"><button id="back-btn"><img src="images/header/back.png"></button></div>					
	<div class="button right"><button id="next-btn"><img src="images/header/next.png" ></button></div>	
</div>
  
<div class="suggestions-wrapper scrollable">
	<div class="content-wrapper">				
		<div class="content">
			<div class="top">
				<h1>Is it similar to any of these?</h1>
				<p>Tap to see if we already have an answer for you</p>
			</div>			
								
			<div class="suggestions-stream">		
				
			</div>
		</div>
	</div>
</div>