<ul class="posts">
  <div class="post situations_normal">
    
    <div class="meta">      
      <% time = time_diff_in_natural_language(Time.now, notification.created_at) %>
        <p><%= time %> ago<br>
        <%= notification.created_at.strftime("%I:%M %p (%Z)") %>
        </p>
    </div>

    <div class="image"><%= avatar_link_to_user(notification.sender) %></div>
    
    <div>
      <h4><span class="situation_text">

      <b><%= link_to Notification.eventSender(notification), "/me/#{notification.sender.id}" %></b>

        <%= Notification.content(notification.event, notification.recipient_id) %>

        <%= Notification.eventRecipient(notification, @user.id)%>
        
        <% if notification.event == 3 %>
          <%= link_to " question", "situations/#{notification.situation_id}" %>
          <br>
          <i><%= truncate(Situation.find(notification.situation_id).content) %></i>
        <% end %>
     
      </span></h4>

    </div>

  <div class="cl">&nbsp;</div>
  
  </div>
</ul>