<ul class="posts">
  <div class="post situations_normal">

    <div class="meta">
      <% time = time_diff_in_natural_language(Time.now, activity.created_at) %>
        <p>
          <% if time.include?("s") || time.include?("week") %>
            <%= activity.created_at.strftime("%d %b %Y") %>
          <% elsif time.include?("day") %>
            Yesterday
          <% else %>
          <%= time %> ago
          <% end %>
          <br><%= activity.created_at.strftime("%I:%M %p (%Z)") %>
        </p>
    </div>

    <div class="image"><%= avatar_link_to_user(current_user) %></div>
  
    <div>
      <h4><span class="situation_text">
        You 
      
        <%= Notification.content(activity.event, activity.recipient_id) %>

        <% if activity.event != 5 %>
          <b><%= link_to Notification.eventRecipient(activity, @user.id), "/me/#{activity.recipient.id}" %></b>
        <% end %>
        
        <% case activity.event %>
        <% when 2..4 %>
          <%= link_to " question", "/situations/#{activity.situation_id}" %>
          <br>
          <i><%= truncate(Situation.find(activity.situation_id).content) %></i>
        <% when 5 %>
        <%= link_to " answer", "/plans/#{activity.plan_b_id}" %>
        <br>
          <i><%= truncate(Plan.find(activity.plan_b_id).content) %></i>
        <% end %>
      </span></h4>

    </div>
  <div class="cl">&nbsp;</div>
  </div>
</ul>