<div id="sidebar1">
	<!--
  <div class="rnd_box">
    <div class="rnd_box_level">
      <p class="level_num"><img src="/css/images/star.gif" border="0"> Level <%= @user.level %></p>

      <div class="meter orange nostripes"><span style="width: <%= get_level_percent %>"></span></div>
      <p class="level_text"><span><%= @user.username %></span><br />
        Points earned: <%#= @user.points %><br />
        <span>Level: <%#= @user.level %></span>
      </p>
    </div>
  </div>
  --->

  <div class="rnd_box">
    <div class="rnd_box_following">
      <p class="list_pba">
        <span class="arrow"><span class="arrow_up_down">
          <img src="/css/images/arrow_down.png" border="0"> <%=  @followed_users.count %>
        </span></span>
        <span class="list_pba_small"><img src="/css/images/follow_icon.png" border="0"> Following </span>
      </p>

      <div class="arrow_up_down_content arrow_up_down_content_show">
        <div class="following_list">

          <% if @followed_users.count != 0 %>
            <% @followed_users.each do |user| %>
              <div class="f_user_info">
                <div class="f_user_img"><%= avatar_link_to_user(user) %></div>
                <div class="f_user_name"><%= by_user(user) %><br />
                  <% if !current_user.nil? %>
                    <% if current_user.following?(user)  %>
                      <%=  link_to "Unfollow",{:controller => 'me',
                                               :action => 'unfollow', :id => user}, :class => "a_line" %>
                    <% elsif %>
                      <% if current_user.id != user.id %>
                        <%=  link_to "follow",{:controller => 'me',
                                               :action => 'follow', :id => user}, :class => "a_line"%>
                      <% end  %>
                    <% end  %>
                  <% end  %>

                </div>
                <div class="cl">&nbsp;</div>
              </div>
            <% end %>
          <% else %>
            no following
          <% end %>

        </div>
        <!-- <p class="see_all "><a href="#" class="a_line">Show More</a></p> -->
    </div>

  </div>
</div>
<!--
  <div class="ads-google">
    <img src="/css/images/banner.gif" alt="">
  </div>

  <div class="ads-google">
    <img src="/css/images/ads-google.jpg" alt="">
  </div>
-->
</div>
