<%= form_for :send_message, :url => send_message_path(@user), :html => {:method => :get} do |f| %>
  <h1>New Message</h1>
  <ul id="element-list">
    <li class="form-element">
      <%= f.label "To: ", :class => "field-title", :style => "float:left; margin-right:50px; margin-top:10px; " %>
      <div class="my-field">
        <%= f.label "","#{@user.username}", :class => "field-title"%>
      </div>
    </li>
    <li class="form-element">
      <%= f.label "Subject: ", :class => "field-title", :style => "float:left; margin-right:15px" %>
      <div class="my-input-field">
        <%= f.text_field :subject, :class => "field my-field", :autofocus => true, :maxlength => 100 %>
        </div>
    </li>
    <li class="form-element">
      <div class="field">
        <%= f.text_area :content, :maxlength => 1000, :rows => "5", 
              :style => "width:433px", :class => "my-textarea", :placeholder => "Write a message..." %>
        </div>
    </li>
    
  </ul>
    <div class="actions">
      <a href="#" class="submit_link button">Send<span></span></a>
      <a href="<%= me_path(@user) %>", class="button">Cancel<span></span></a>
    </div>
<% end %>

<link rel="stylesheet" href="/css/forms.css" type="text/css" media="all" />

