<% if @user.location? %>
  <h1>Near <%= @user.location %></h1>
  <% @nearby_people.each do |nearby_people| %>
  <% unless nearby_people.id == @user.id %>
  <p>
    <strong>Alasker User:
    <%= link_to nearby_people.username, me_path(nearby_people) %></strong>
  </p>

  <p>
    <strong>Address:</strong>
    <%= nearby_people.location %>
  </p>
  <p>
    <strong>Latitude:</strong>
    <%= nearby_people.location_lat.round(2) %>
  </p>
  <p>
    <strong>Longitude:</strong>
    <%= nearby_people.location_lng.round(2) %>
  </p>
  <p>
    <strong>Approximate distance from you:</strong>
    <%= nearby_people.distance.round(2) * 1.61 %> km.
  </p>

  <hr>
  <% end %>
  <% end %>
<% end %>
<br>
<% unless get_onliners.empty? %>
  <h1>Online users</h1>
    <ul>
      <% get_onliners.each do |onliner| %>
      <li><b><%= onliner.username %></b><br>
      Logged in: <%= time_diff_in_natural_language(Time.now, onliner.current_sign_in_at) %> ago.
      <% end %>
      </li>
    </ul>
  </p>
<% end %>
