<h1>Welcome to Plan-B, <%= @user.username %>!</h1>

<%= image_tag avatar_url(@user), :alt => "", :height=>50, :width=>50 %>

<p><%= @user.username %> </p>
<p><%= @user.email %> </p>
<p><%= @user.about %> </p>


<h3>You have 100 points</h3>
<br/>
<h1>Here are your situations</h1>

<%= render  :partial => "situations/situationlist",
  :layout => false,
  :locals => {:showtitle => false, :showplans => false, :paging_on => false} %>
  <br/>
  <h1>Here are your plans</h1>

  <%= render  :partial => "plans/planlist2",
    :layout => false,
    :locals => {:showtitle => false, :showplans => false, :paging_on => false} %>