<script type="text/javascript" src="/js/user.js"></script>
<%= link_to 'Back to My Profile', :back %>
<br>
<br>
<div class="message_page">
<h1>Messages</h1>

<p class="list_pba">
    <span class="arrow">
      <!--<% if !@user.sash.nil? %>
        <span class="arrow_up_down"><img src="/css/images/arrow_down.png" border="0" />
          <%= @user.sash.badge_ids.length %></span>
      <% else %>-->
        <img src="/css/images/arrow.png" border="0" />
        0
      <!--<% end %>-->
    </span>
    <img src="/css/images/points_icon.png" border="0" /> Inbox
  </p>

  <!--<% if !@user.sash.nil?; @badge_length = @user.sash.badge_ids.length - 1 %>
  <div class="arrow_up_down_content <% if !@user.sash.nil? %> arrow_up_down_content_show <% end %>">

      <div class="badges">
        <%  for i in 0..@badge_length %>
          <div class="badge">
            <a href="/badges/<%= Badge.find(@user.sash.badge_ids[i]).id %>" style=" text-transform: uppercase">
              <img src="<%= Badge.find(@user.sash.badge_ids[i]).image %>" border="0" width ="51"/><br/>
              <%= Badge.find(@user.sash.badge_ids[i]).name.gsub("-","<br>").html_safe %></a>
          </div>
        <% end %>
        <br class="cl" />
      </div>
    </div>
  <% end %>-->

<p class="list_pba">
    <span class="arrow">
      <!-- <% if !@user.sash.nil? %>
        <span class="arrow_up_down"><img src="/css/images/arrow_down.png" border="0" />
          <%= @user.sash.badge_ids.length %></span>
      <% else %> -->
        <img src="/css/images/arrow.png" border="0" />
        0
    <!-- <% end %>-->
    </span>
    <img src="/css/images/points_icon.png" border="0" /> Sent
  </p>
<!-- 
  <% if !@user.sash.nil?; @badge_length = @user.sash.badge_ids.length - 1 %>
  <div class="arrow_up_down_content <% if !@user.sash.nil? %> arrow_up_down_content_show <% end %>">

      <div class="badges">
        <%  for i in 0..@badge_length %>
          <div class="badge">
            <a href="/badges/<%= Badge.find(@user.sash.badge_ids[i]).id %>" style=" text-transform: uppercase">
              <img src="<%= Badge.find(@user.sash.badge_ids[i]).image %>" border="0" width ="51"/><br/>
              <%= Badge.find(@user.sash.badge_ids[i]).name.gsub("-","<br>").html_safe %></a>
          </div>
        <% end %>
        <br class="cl" />
      </div>
    </div>
  <% end %> -->
</div><br class="cl" />
