<script type="text/javascript" src="/js/user.js"></script>

<div class="rnd_box user_page">
  <div class="user_page_left">
    <div class="user_info">

      <div class="user_img">
        <%= image_tag avatar_url(@user), :alt => "", :height=>50, :width=>50 %>
      </div>

      <div class="user_details">
        <h1 class="user_page_name"><%= @user.username %></h1>

        <p><img src="/css/images/member.png" /> Member since: <%= @user.created_at.strftime("%B %d, %Y") %></p>

        <% if (@user.location? && @user.location_lng? && @user.location_lat?) %>
          <p><img src="/css/images/location.png" /> Location: <%= @user.location %></p>
        <% end %>

        <% if @user.website? %>
          <p><img src="/css/images/website.png" /> Website: <a href="<%= @user.website %>" rel="nofollow" target="_blank">
              <%= @user.website %></a></p>
        <% end %>

        <p class="user_block">
          <% if current_user == @user %>
            <img src="/css/images/edit_profile.gif" />
            <a href="/users/edit" class="a_line">Edit Profile</a>
          <% end %>
        </p>
      </div>

      <br class="cl" />

      <div class="user_about">
        <% if @user.about? %>
          <h3>About Me</h3>
          <p><%= @user.about %> </p>
        <% end %>
      </div>
    </div>

    <ul id="link_tab">
      <% if current_user == @user %>
        <li><a href="#notifications_tab">All Notifications</a></li>
        <li><a href="#activities_tab">Activity Log</a></li>
      <% end %>
      <li ><a href="#situations_tab">Questions</a></li>
      <li><a href="#plans_tab">Answers</a></li>
    </ul>

    <div class="link_tab_bar"></div>
    <% if current_user == @user %>
      <div id="notifications_tab" class="link_tab_content">
        <% @notifications.each do |n| %>
          <% if n.sender != n.recipient && n.event != 5 %>
            <%= render :partial => "personal_notifs", :layout => false,
                       :locals => {:notification => n,:show_all => true}  %>
          <% end %>
        <% end %>
      </div>
    
      <div id="activities_tab" class="link_tab_content">
          <% if @activities.nil? || @activities.empty? %>
              <span align='center'><h4><br/>You have no activities.</h4></span>
          <% else %>      	
	        <% @activities.each do |a| %>
	          <% a.update_attributes(:unseen => 0) %>
	          <%= render :partial => "personal_activity", :layout => false,
	                     :locals => {:activity => a, :show_all => true}  %>
	        <% end %>
	      <% end %>
      </div>
    <% end %>
   
    <div id="situations_tab" class="link_tab_content">
      <% if @situations.empty? && current_user != @user%>
        <span align='center'><h4><br/>&nbsp;<%= @user.username %> has not asked any questions yet.</h4></span>
      <% elsif @situations.empty? && current_user == @user %>
        <span align='center'><h4><br/>You have not asked any questions yet.</h4></span>
      <% else %>
        <%= render :partial => "situations/situationlist",
          :layout => false,
          :locals => {:showtitle => false, :showplans => false, :paging_on => false} %>
        <% end %>
      </div>

    <div id="plans_tab" class="link_tab_content">
      <% if @plans.empty? && current_user != @user %>
        <span align='center'><h4><br/><%= @user.username  %> has not answered any questions yet.</h4></span>
      <% elsif @plans.empty? && current_user == @user %>
        <span align='center'><h4><br/>You have not answered any questions yet.</h4></span>
      <% else %>
        <%= render :partial => "plans/planlist2",
          :layout => false,
          :locals => {:showtitle => false, :showplans => false, :paging_on => false} %>
        <% end %>
    </div>

      <br class="cl" />
      </div>

  <div class="user_page_right">

  <p class="follow_msg">

    <% if current_user != @user %>
      <span>
        <%= link_to image_tag("/css/images/message.png"),
          {:controller => 'me', :action => 'contact', :id => @user} %>
        </span>
        <% if !current_user.nil? %>
          <% if current_user.following?(@user) %>
          <%= link_to image_tag("/css/images/unfollow.png", :border=> "0"),
            {:controller => 'me', :action => 'unfollow', :id => @user} %>
          <% elsif %>
            <%= link_to image_tag("/css/images/follow.png", :border=> "0"),
              {:controller => 'me', :action => 'follow', :id => @user} %>
          <% end  %>
        <% elsif %>
          <%= link_to image_tag("/css/images/follow.png", :border=> "0"),
            {:controller => 'me', :action => 'follow', :id => @user} %>
        <% end %>
    <% else %>
      <span><center>
          <%= link_to image_tag("/css/images/message.png"), messages_path %>
        </center></span><br>
    <% end %>
  </p>
  <!--
  <p class="list_pba"><span class="arrow">


      <img src="/css/images/arrow.gif" border="0" /> <%#= @user.points %></span>
    <img src="/css/images/points_icon.gif" border="0" /> Points
  </p> -->

  <p class="list_pba">
    <span class="arrow">
      <% if !@user.sash.nil? %>
        <span class="arrow_up_down"><img src="/css/images/arrow_down.png" border="0" />
          <%= @user.sash.badge_ids.length %></span>
      <% else %>
        <img src="/css/images/arrow.png" border="0" />
        0
      <% end %>
    </span>
    <img src="/css/images/badges_icon.png" border="0" /> Badges
  </p>

  <% if !@user.sash.nil?; @badge_length = @user.sash.badge_ids.length - 1 %>
  <div class="arrow_up_down_content <% if !@user.sash.nil? %> arrow_up_down_content_show <% end %>">

      <div class="badges">
        <%  for i in 0..@badge_length %>
          <div class="badge">
            <a href="/badges/<%= Badge.find(@user.sash.badge_ids[i]).id %>" style=" text-transform: uppercase">
              <img src="<%= Badge.find(@user.sash.badge_ids[i]).image %>" border="0" width ="51"/><br/>
              <%= Badge.find(@user.sash.badge_ids[i]).name.gsub("-","<br>").html_safe %></a>
          </div>
        <% end %>
        <br class="cl" />
      </div>
    </div>
  <% end %>

</div>
<br class="cl" />
</div>