<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US"
  xmlns:fb="https://www.facebook.com/2008/fbml">

  <body>
    <div id="fb-root"></div>
    <script src="http://connect.facebook.net/en_US/all.js"></script>

    <script>
      FB.init({
      appId:'154728984618224', cookie:true,
      status:true, xfbml:true, oauth:true
      });

    function postFB()
    {
      FB.api('/me/plan_bz:post' +
      '?situation=<%= request.url %>','post',
      function(response) {
        if (!response || response.error) {
      alert('Error occured');
        } else {
      alert('Post was successful! Action ID: ' + response.id);
        }
      });
    }
    </script>

    <fb:add-to-timeline></fb:add-to-timeline>

    <h3>
      <font size="30" face="verdana" color="grey">
        Test
      </font>
    </h3>
    <p>
    </p>
    <form>
      <input type="button" value="Post it!" onclick="postFB()" />
    </form>
    <fb:activity actions="plan_bz:post"></fb:activity>
  </body>
</html>

