
<div data-role="header" >	<h1 class="title">Plan-B</h1>
				<h3>When you're stuck in a tough situation
<br />and need a Plan B, we can help!</h3></div>
<div data-role="content">
	<div id="home-buttons">
		<a href="#start" class="button_link" data-role="button" data-iconpos="right"><span class="button_img button_img1"></span><span class="button_text"><span class="button_title">Describe your situation</span><br />
and let other members suggest a Plan B for you</span></a>

		<a href="#list" class="button_link" data-role="button"><span class="button_img "></span><span class="button_text"><span class="button_title">Think you can help?</span><br />
Tap here to see an open cases</span></a>
	
	</div>
		<p class="text_center">Are you a member? <a href="#login">Sign in</a><br />
Want to join the community? <a href="#newuser">Sign up</a></p>
		
</div>
<div data-role="footer" data-position="fixed">
<center>Advertisement here</center>
</div>
