
<div data-role="header" >	<div class="form">
				
				<form>
					<div data-role="fieldcontain"  >
						<label for="name">Describe your situation</label>
						<input type="search" name="name" id="name" value="" data-theme="c"/>
					</div>
				</form>
			</div></div>
<div data-role="content">
	<h2>Is your situation similar to any of these?<br />
<span>Click to see if we already have Plan B for you!</span></h2>
			<div class="scroll_content">
				
			
			</div>
			
			<div id="scrollbar1" class="scrollbar2">
		<div class="scrollbar"><div class="track"><div class="thumb"></div></div></div>
		<div class="viewport">
			 <div class="overview">
				<ul class="ul_list">
					<li >
					<a href="#situation/0">Stuck in subway</a>					</li>
					
					<li>
					<a href="#situation/0">Lost at airport</a>					</li>
					<li>
					<a href="#situation/0">Missed the last train</a>					</li>
					
					<li>
					<a href="#situation/0">Sleepy head while driving</a>					</li>
					
					<li>
					<a href="#situation/0">Stuck in subway</a>					</li>
					
					<li>
					<a href="#situation/0">Lost at airport</a>					</li>
					<li>
					<a href="#situation/0">Missed the last train</a>					</li>
					
					<li>
					<a href="#situation/0">Lost at airport</a>					</li>
					<li>
					<a href="#situation/0">Missed the last train</a>					</li>
					
					<li>
					<a href="#situation/0">Stuck in subway</a>					</li>
					
					<li>
					<a href="#situation/0">Lost at airport</a>					</li>
					<li>
					<a href="#situation/0">Missed the last train</a>					</li>
					
					<li>
					<a href="#situation/0">Sleepy head while driving</a>					</li>
					
					<li>
					<a href="#situation/0">Stuck in subway</a>					</li>
					
					<li>
					<a href="#situation/0">Lost at airport</a>					</li>
					<li>
					<a href="#situation/0">Missed the last train</a>					</li>
					
					<li>
					<a href="#situation/0">Lost at airport</a>					</li>
					<li>
					<a href="#situation/0">Missed the last train</a>					</li>
					
					
				</ul>               
			</div>
		</div>
	</div>
		
		<div id="nav">
		
			<ul>
				<li class="selected"><a href="#">Expiring soon</a></li>
				
				
				<li ><a href="#">Newest</a></li>
				<li><a href="#">Most Popular</a></li>
			</ul>
		<br class="clear" />
		</div>
		
</div>
<div data-role="footer" data-position="fixed">
<center>Advertisement here</center>
</div>

