
	<div data-role="header" >			<h1 class="title">Plan-B</h1>
				<h3 class="title">Sign in</h3>
				
				</div>

<div data-role="content">
	<div id="sign_up_form">
				<form>
					<div data-role="fieldcontain">
						<label>Email</label>
						<input name="" type="text" class="input" />
					</div>
					
					<div data-role="fieldcontain">
						<label>Password</label>
						<input name="" type="text" class="input"/>
					</div>
					
					<div class="input_button"><div class="button_arrow set_button"><input name="" type="button" value="Sign in" class="button" data-role="none" /></div><br class="clear" /></div>
				</form>
			</div>
			
			<p class="text_center text32">Not a member? <a href="#newuser">Sign up</a></p>
		
</div>
<div data-role="footer" data-position="fixed">
<center>Advertisement here</center>
</div>

