	<div id="top_content">
		<h2 class="title2">Stuck on a Train</h2>
			<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			
			<p class="info">What: <a href="#">Train Passenger</a><br />
    Where: <a href="#">London</a><br />
    When: 06/25/2012 11:00 AM</p>
		</div>

<div data-role="content" class="content_orange">

			<h2 class="title2 color_white">Suggested Plan Bs:
</h2>
			
			
			<div id="scrollbar1" class="scrollbar1" >
		<div class="scrollbar"><div class="track"><div class="thumb"></div></div></div>
		<div class="viewport">
			 <div class="overview">
				<ul>
					<li>
						<span class="font_bold">Take a taxi instead</span><br />
Call the yellow cab at 310 555 5555.
They will give you a 10% if you mention
					</li>
					
					<li>
						<span class="font_bold">Take a taxi instead</span><br />
As the world leader in private aviation, Net
Jets offers a fractional ownership
					</li>
					
					<li>
						<span class="font_bold">Take a taxi instead</span><br />
As the world leader in private aviation, Net
Jets offers a fractional ownership
					</li>
					<li>
						<span class="font_bold">Take a taxi instead</span><br />
Call the yellow cab at 310 555 5555.
They will give you a 10% if you mention
					</li>
					
					<li>
						<span class="font_bold">Take a taxi instead</span><br />
As the world leader in private aviation, Net
Jets offers a fractional ownership
					</li>
					
					<li>
						<span class="font_bold">Take a taxi instead</span><br />
As the world leader in private aviation, Net
Jets offers a fractional ownership
					</li>
					
					
				</ul>               
			</div>
		</div>
	</div>
		
		
		
	
		
</div>
<div data-role="footer" data-position="fixed">
<center>Advertisement here</center>
</div>
