<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_excategoryation">
      <h2><%= pluralize(@category.errors.count, "error") %> found:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>

    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

