<div id=categorylist>
  <ul>
    <% @categories.each do |category| %>
      <li><%= link_to category.name, category, :class => "categoryLinkClass", :id => category.id %></li>
    <% end %>
  </ul>
  <br/>
</div>
<br />

