<div class="suggestedcategories ">
	<span id="selectedcatagories" >
	  <%= render '/categories/list', :layout => false %>
	</span>
	<center>
 	<a class="button" >Cancel<span></span></a>
 	</center>
</div>

