<h2></h2>

<br/>
<% if @whendate.nil? %>
<div id="situation_map" style="height:400px;width:100%"></div>
<% else %>
<input class="my-field datepicker" id="situationcondition_whendate" name="situationcondition[whendate]" size="30" type="text" value="<%= @whendate %>" />					
<% end %>


<%= render  :partial => "situations/situationlist",
            :layout => false,
            :locals => { :showtitle => false, :showmap=>true, :showplans => false, :paging_on => false } %>


<% if @whendate.nil? && !@situations.nil? %>
	<% if  Rails.env.production? %>
	    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA91Zz5Nv-onIUJcE_k7I9cN7Ey_GW_kIw&sensor=false"></script>
	<% else %>
	    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEgzy4o-lMybHPr4umvxpKIdqEStrA_Ec&sensor=false"></script>
	<% end %>
<!--
	<script type="text/javascript" src="/js/mapper.js"></script>
	<script>
	    $(document).ready(function() {
	        var data = [];
	
	        <% @situations.each do |x| %>
	        	data.push(<%= format_map_element(x).to_json.html_safe %>);
	        <% end %>
	
	        $("#situation_map").mapper( {show_location:false, data:data} );
	        
	    });
	</script>
-->
  <script type="text/javascript">
  // We need this so that Underscore.js' delimeters won't clash with Ruby.
  _.templateSettings = {
      interpolate: /\{\{\=(.+?)\}\}/g,
      evaluate: /\{\{(.+?)\}\}/g
  };
  </script>
  <script type="text/html" id="map-marker-tpl">
  <li>
          <table id="map-marker">
                  <tr>
                          <td style="width: 60px;" align="center" valign="top"><img src="{{= avatar_map }}" /></td>
                          <td align="left" valign="top">
                                  <span style="font-size: 12pt; font-weight: bold; color: #8FD8D8;">
                                          {{= user_name }}
                                  </span><br />
                                  <div class="time" style="float: left" title="{{= created_at }}"></div>
                          </td>
                  </tr>
                  <tr>
                          <td colspan="2" align="left" valign="top">
                                  <div style="font-size: 10pt; overflow: hidden; text-overflow: ellipsis; height: 25px; padding: 5px; font-weight: bold;">
                                          {{= content }}
                                  </div>
                          </td>
                  </tr>
<!--
                  <tr>
                          <td colspan="2" align="right" valign="middle" style="font-size: 10pt;">
                                  [ <a href="#question/{{= situationcondition_id }}/reply">reply</a> ]
                          </td>
                  </tr>
-->
                  <tr>
                          <td colspan="2">
                            <!-- LOLz, nested tables are an atrocity hahaha =) -->
                            <table width="100%">
                              <tr>
                                <td width="50%" align="left">
                                  <div id="prev" class="scroll_arrows" onclick="myScroll.scrollToPage('prev', 0); return false">&larr; prev</div>
                                </td>
                                <td width="50%" align="right">
                                  <div id="next" class="scroll_arrows" onclick="myScroll.scrollToPage('next', 0); return false">next &rarr;</div>
                                </td>
                              </tr>
                            </table>
                          </td>
                  </tr>
          </table>
  </li>
  </script>
	<script type="text/javascript" src="/js/iscroll.js"></script>
	<script type="text/javascript" src="/js/markerclusterer_compiled.js"></script>
	<script type="text/javascript" src="/js/infomap.js"></script>
  <script type="text/javascript">
	        var data = [];
	    $(document).ready(function() {
	
	        <% @situations.each do |x| %>
	        	data.push(<%= format_map_element(x).to_json.html_safe %>);
	        <% end %>
	
          var infoWindow = new GoogleMapInfowindow({
              el: document.getElementById('situation_map'),
              lat: data[0].lat,
              lng: data[0].lng,
              zoom: 6,
              markers: jQuery(data)
          });
	        
	    });
  </script>
<% else %>
	<script type="text/javascript" src="/js/datepicker.js"></script>
	<script type="text/javascript" src="/js/findrelated-date.js"></script>
<% end %>
