<div class="blue_box">
  <h2>
    <%= render_breadcrumbs.gsub("All", "Categories") %>
  </h2>
  <%= render 'list' %>
</div>

<% @tabspanel = 1 %>
<% content_for :tabspanel do %>

  <ul>
    <li><a href="/plans/listby?home=1&limit=5&paginate=1&newlayout=1" 
    	class="tabtooltipfix" title="fragment-1" realtitle="Expiring soon"><span>Expiring soon</span></a></li>
    <li><a href="/plans/listby?home=0&limit=5&paginate=1&newlayout=1" 
    	class="tabtooltipfix" title="fragment-1" realtitle="Recent Questions"><span>Recent</span></a></li>
  </ul>

<div id="fragment-1">
</div>

<% end %>

