<div class="blue_box">
  <h2>
    <%= link_to 'Categories', categories_path %> &raquo; <%= @category.name %>
  </h2>
  <%= render 'list' %>
</div>

<% @tabspanel = 1 %>
<% content_for :tabspanel do %>
    <ul>
      <li>
        <a href="/plans/listby?home=2&newlayout=1&limit=20&category_id=<%= @category.id %>"
      	class="tabtooltipfix" title="fragment-1" realtitle="Recent Questions"><span>Recent</span></a>
        </li>
      <li><a href="/plans/listby?home=3&newlayout=1&limit=20&category_id=<%= @category.id %>"
      	class="tabtooltipfix" title="fragment-1" realtitle="Popular Questions"><span>Popular</span></a></li>
    </ul>
<div id="fragment-1">
</div>
  <%# if listby? %>
    <!-- Nothing found. -->
  <%# end %>
<% end %>

