<p>Hi, <%= @user.username %>!</p>

<p>You can confirm your account through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

<br />

  <footer>
      <p>2011-2012. <%= link_to 'alasker', "http://alasker.com", target: "_blank" %>. 
         Follow <b><%= link_to '@GoAlasker', "http://twitter.com/GoAlasker", target: "_blank" %></b> on Twitter. 
         Like <b><%= link_to 'alasker', "http://www.facebook.com/pages/alasker/446138308757280", target: "_blank" %></b> on Facebook.
      </p>
  </footer>
