<p>Hello <%= @user.username %>!</p>

<p>Someone has requested a link to change your password, and you can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, 
			:reset_password_token => @resource.reset_password_token).gsub('http://http://', 'http://') %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>

<br />

  <footer>
      <p>2011-2012. <%= link_to 'alasker', "http://alasker.com", target: "_blank" %>. 
         Follow <b><%= link_to '@GoAlasker', "http://twitter.com/GoAlasker", target: "_blank" %></b> on Twitter. 
         Like <b><%= link_to 'alasker', "http://www.facebook.com/pages/alasker/446138308757280", target: "_blank" %></b> on Facebook.
      </p>
  </footer>
