<%= form_for(@filter) do |f| %>
  <% if @filter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@filter.errors.count, "error") %> found:</h2>

      <ul>
      <% @filter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <ul id="element-list">

    <li class="form-element">
      <%= f.label "By #{current_user.username}", class: "field-title" %>
    </li>
    <li class="form-element">
      <%= f.label :what, "Filter Title", class: "field-title" %>
      <div class="my-input-field">
        <%= f.text_field :what, class: "my-field"  %>
      </div>
    </li>
    <li class="form-element">
        <%= f.check_box :apply_filter, class: "check-box" %>
        <%= f.label :apply_filter, "Apply this filter", class: "field-title" %>
    </li>
    <li class="form-element" id="checkbox">
        <%= f.check_box :by_location, class: "check-box" %>
        <%= f.label :by_location, "Filter by Location", class: "field-title" %>
    </li>
    <li class="form-element" id="option">
    <%= f.label :distance, "Distance", class: "field-title" %>
      <div class="mini-guide">(default is 5km)</div> 
      <div class="my-input-field">
        <%= f.text_field :distance, class: "my-field", :maxlength => 4 %>
      </div>
    
    <%= f.label :location, class: "field-title" %>
        <div class="my-input-field-auto-height">
        <div class="my-input-field-auto-height-top">
          <div class="my-input-field-auto-height-bottom">
            <%= f.text_field :location, class: "my-field", id: "where_are_you" %>
          </div>
        </div>
      </div>
      <div id="where_map" style="width:300px;height:300px;margin-top:4px;margin-bottom:4px;"></div>
      <div class="mini-guide">Drag and drop the red pin to locate your exact place on the map.</div>
      <%= f.hidden_field :location_lat %>
      <%= f.hidden_field :location_lng %>
    </li>

    <li class="form-element" id="checkbox2">
      <%= f.check_box :by_category, class: "check-box" %>
      <%= f.label :by_category, "Filter by Category", class: "field-title" %>
    </li>
    <li class="form-element" id="option2">
      <div class="my-input-field">
        <%= f.text_field :category, class: "my-field", id: "filter_c", "data-pre" => @filter.categories.map(&:attributes).to_json %>
      </div>
    </li>
    <li class="form-element">
      <%= f.label :when_from, "Start Date", class: "field-title" %>
        <div class="my-input-field date-field">
          <%= f.text_field :when_from, class: "my-field datepicker", id: "when_from" %>
        </div>
    </li>
    <li class="form-element">
      <%= f.label :when_to, "End Date", class: "field-title" %>
        <div class="my-input-field date-field">
          <%= f.text_field :when_to, class: "my-field datepicker", id: "when_to" %>
        </div>
    </li>

  <br />

  <div class="actions">
    <a href="#" class="submit_link button">Finish<span></span></a>
  </div>
</ul>
<% end %>

<link rel="stylesheet" href="/css/forms.css" type="text/css" media="all" />
<script type="text/javascript" src="/js/datepicker.js"></script>
  <script>
    $(document).ready(function() {
        $("#when_from").datepicker({
          showOn: 'focus', buttonText: "Select",dateFormat: "MM d, yy "+ date_obj_time 
        });
        $("#when_to").datepicker({
          showOn: 'focus', buttonText: "Select",dateFormat: "MM d, yy "+ date_obj_time 
        });
        $(".ui-datepicker-trigger").append("<span></span>");
    });

    $("#checkbox").click(function () {
      $("#option").toggle("slow");
    });
    $("#checkbox2").click(function () {
      $("#option2").toggle("slow");
    });
  </script>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<% if  Rails.env.production? %>
     <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA91Zz5Nv-onIUJcE_k7I9cN7Ey_GW_kIw&sensor=false"></script>
<% else %>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEgzy4o-lMybHPr4umvxpKIdqEStrA_Ec&sensor=false"></script>
<% end %>
<script type="text/javascript" src="/js/next.js"></script>
<script type="text/javascript" src="/js/mapper.js"></script>
<script type="text/javascript" src="/js/next-map.js"></script>