<h1>Listing filters</h1>
  <% unless @filters.empty? %>
    <table>
      <theader>
        <th>Filter Title</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Action</th>
      </theader>

    <% @filters.each do |filter| %>
      <tr>
        <td><%= filter.what %></td>
        <td><%= filter.when_from.strftime("%B %e, %Y") %></td>
        <td><%= filter.when_to.strftime("%B %e, %Y") %></td>
        <td>
          <a href="<%= filter_path(filter) %>" class="button">Show<span></span></a> 
          <a href="<%= edit_filter_path(filter) %>" class="button">Edit<span></span></a> 
          <a href="<%= filter_path(filter) %>" data-method="delete" data-confirm="Are you sure?" class="button">Delete<span></span></a>
        </td> 
      </tr>
    <% end %>
    </table>

  <% else %>
  <p>
    No filters saved.
  </p>
  <% end %>
    
<br />

<a href="<%= new_filter_path %>" class="button">Create New Filter<span></span></a>
