<h2><%= @filter.what %></h2>
<br />
<% if @filter.by_location == 1 %>
<p>
  <strong>Location</strong>
  <%= @filter.location %>
<br>
  <strong>Distance</strong>
  <%= @filter.distance %> km.
</p>
<% end %>
<% if @filter.by_category == 1 %>
<p>
  <strong>Category Name(s):</strong>
  <ul>
    <% for category in @filter.categories %>
    <li><%= category.name %></li>
    <% end %>
    </ul>
</p>
<% end %>
<p>
  <strong>Start Date</strong>
  <%= @filter.when_from.strftime("%B %e, %Y") %>
</p>
<p>
  <strong>End Date</strong>
  <%= @filter.when_to.strftime("%B %e, %Y") %>
</p>


<br />
<br />
<div class="actions">
  <a href="<%= filters_path %>" class="button">View My Filters<span></span></a>
  <a href="<%= edit_filter_path(@filter) %>" class="button">Edit<span></span></a>
  <a href="<%= filter_path(@filter) %>" data-method="delete" data-confirm="Are you sure?" class="button">Delete<span></span></a>
</div>

<link rel="stylesheet" href="/css/forms.css" type="text/css" media="all" />
