<script type="text/javascript" src="/js/start.js"></script>
<link rel="stylesheet" href="/css/forms.css" type="text/css" media="all" />

<% if @planB %>
<ul class="posts">
  <li class="item-indent">
    <%= render :partial => "situations/listpart", :layout => false, :locals => {:showplans => false, :situation => @planB.situation, :match_a_plan => true, :show_all => true} %> 
    <br/>
  </li>
</ul>
<% end %>

<%= form_for(@plan) do |f| %>
  <% if @plan.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @plan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<ul id="element-list">
    <li class="form-element">
      <div class="field">
        <%= f.text_area :content, :rows => "5", :style => "width:433px", :class => "my-textarea", :maxlength => 500 %>
      </div>
    </li>
  </ul>
  <%= f.hidden_field :new_situation_id %>
  <%= f.hidden_field :planB_keywords %>
  <div class="actions"> 
    <a href="#" class="submit_link button">Post My Answer<span></span></a>
  </div>
<% end %>
