<div class="form-element link-a-plan" align="center">
  <%= form_tag("/plans", :method => "get") do %>
    <%= label_tag(:q, "", :class => "field-title") %>
    <br class="cl"/>
    <div class="plan_search_field" align="center">
	  <%= text_field_tag(:searchstring, @escaped_searchstring, :maxlength => 75, :class => "field my-field", :id => "search_field") %>
		</div> 
   	<a href="#" class="button">Keyword Search<span></span></a>
  <% end %>
</div>
<br>
<%= form_for(PlanB.new, :url => url_for(:controller => 'situations', :action => 'linkaplan'),
                        :html => { :method => "get" } ) do |f| %>
  <h3>Select an existing answer to link...</h3>
  <br>
  <% @category_name = (situation.category.name unless situation.category.nil?) || nil %>
  <% @plans = plans %>

	<%= f.hidden_field :keywords %>
	<%= f.hidden_field :situation_id, :value => situation.id %>
	<%= f.hidden_field :plan_id %>

	<div id="planlistupdate">
	  <%= render :partial => '/plans/planlist2', :layout => false, :locals => {:paging_on=>false} %>
	</div>

<% end %>

