<% if !@plans.nil? %>
  <ul class="posts">
    <% @plans.each do |plan| %>
    <li>
    <%= render :partial => "situations/listpart", :layout => false, :locals => {:showplans => false, :situation=>plan} %>
    </li>

  <% end %>
  </ul>

  <% if @paging_on || paging_on %>
    <%= will_paginate @plans %>
  <% end %>


   
<% end %>

