<ul class="posts">

<% if !@plans.nil? %>
  <% @plans.each do |plan| %>

  <li>

  <div class="post situations_normal">
    <% go_link = plans_path + '/' + plan.id.to_s %>

	    <a href="<%= go_link %>" internal_id=<%=plan.id%> class="divlink">
        <span class="divlinkspan"></span>
	    </a>

		  <div class="meta">
			  <p>Posted by <%= by_user(plan.user) %> <%= time_diff_in_natural_language(Time.now, plan.created_at)%> ago</p>
		  </div>

		  <div class="image"><%= avatar_link_to_user(plan.user) %></div>

			  <div class="body">
				  <h4><span class="situation_text"><%= link_to plan.content, plan %></span></h4>
          <ul class="entry-info">
				      <%if plan.class.name == "Plan" && !plan.plancondition.nil? %>
			        	<% if !plan.plancondition.what.nil? && !plan.plancondition.what.empty?%>
				        	<li>What: <%=raw build_related_links("<a class='link' href='/categories/findrelated?search_what=",
				        										                    plan.plancondition.what) %></li>
				        <% end %>

				        <% if !plan.plancondition.whendate.nil? %>
			        		<li>When: <a class="link" href="#"><%= (plan.plancondition.whendate)%></a></li>
			        	<% end %>

			        	<% if !plan.plancondition.where.nil? && !plan.plancondition.where.empty?%>
			        		<li>Where: <%=raw build_related_links("<a class='link' href='/categories/findrelated?search_where=",
			        										plan.plancondition.where) %></li>
		        		<% end %>
			      <%end %>

            <% if !plan.category.nil? || (defined?(show_all) && show_all) %>
					    <li>Category:
			        	<% if !plan.category.nil? %>
			        		 <%= link_to plan.category.name, plan.category, :class => "link categoryLinkClass", :id => plan.category.id %>
			        	<% end %>
					    </li>
     				<% end %>

     			  <%if defined?(show_all) && show_all && plan.class.name == "Plan" && !plan.plancondition.nil? && !plan.plancondition.whendate.nil?%>
     					<li><span class="expirationText">Expires in:</span> <span class="countDown" value="<%= plan.plancondition.whendate.to_i %>"></span></li>
            <% end %>
			    </ul>
			  </div>

			  <div class="cl">&nbsp;</div>
    </div>
  </li>
  <% end %>
<% end %>

</ul>

