<table>
<% @situations.each do |situation| %>
  <tr>
    <td><%= avatar_link_to_user(situation.user) %></td>

    <td>
  	<table>
      <tr><td colspan="4">
        <%= link_to situation.content, situation %>

	      <% if situation.plans.any? %>
	      <ul>
  	      <% situation.plans.each do |plan| %>
            <li><%= link_to (plan.content.length > 10 ? plan.content[0..60] << '...' : plan.content), plan %></li>
          <% end %>
	      </ul>
	      <% end %>
	    </td></tr>

      <tr><td><b>in</b> <%= (situation.category.name unless situation.category.nil?) || "" %></td>
      <td> - <b>situation by</b> <%= by_user(situation.user) %></td>
      <td> - <%= time_diff_in_natural_language(Time.now, situation.created_at)%> ago</td>

      <% if !situation.situationcondition.nil? %>
      <tr><td>
        <span class="expirationText">
        <b>Expires in: </b>
        </span>
        <span class="countDown" value="<%= situation.situationcondition.whendate.to_i %>">
        </span> <%= (situation.situationcondition.expires) %>
      </td></tr>
      <% end %>
      </tr>
    </table>
  </td>
  </tr>
<% end %>
</table>

<br/>

<% if @paging_on  %>
  <%= will_paginate @situations %>
<% end %>

