<ul id="element-list">
  <%= form_for @plan, :html => { :class => "special_form"}  do |f| %>
    <input type="hidden" name="redirect" />
    <li class="form-element">
      <div class="field">
        <%= f.label :content, "Details", :class => "field-title"%>
        <%= f.text_area :content, :size => "50x5", :class => "my-textarea" %>
        <span class="small" id='char_count'></span>
      </div>
    </li>

    <br/><br/>

    <%= fields_for :plancondition do |condition_form| %>
      <!--<br>
      <li class="form-element">
        <%= condition_form.label :what, 'What:', :class => "field-title" %>

        <div class="my-input-field-auto-height">
          <div class="my-input-field-auto-height-top">
            <div class="my-input-field-auto-height-bottom">
              <%= condition_form.text_field :what, :class => "my-field", :value => @plan.plancondition.what %>
              <br class="cl" />
            </div>
          </div>
        </div>
      </li>

      <li class="form-element">
        <%= condition_form.label :where, 'Where:', :class => "field-title" %>

        <div class="my-input-field-auto-height">
          <div class="my-input-field-auto-height-top">
            <div class="my-input-field-auto-height-bottom">
              <%= condition_form.text_field :where, :class => "my-field", :value => @plan.plancondition.where %>
              <br class="cl" />
            </div>
          </div>
        </div>
      </li>
      -->
      <li class="form-element">
        <%= condition_form.label :whendate, 'Expiration date', :class => "field-title" %>
        <div class="mini-guide">Select an expiration date if your answer is only valid for a short time.</div>
        <div class="my-input-field date-field">
          <%= condition_form.text_field :whendate, :class => "my-field datepicker" %>
        </div>
      </li>

    <% end %>

    <%= f.hidden_field :new_situation_id %>
    <%= f.hidden_field :planB_keywords %>
</ul>
  <div class="actions">

    <% if current_user.nil? %>
    <br><center>
      <h4>Looks like you are new to Alasker</h4><br>
      &nbsp; &nbsp; &nbsp; <a href="#" id="sign_up_and_finish" class="button"> <span></span>
        Sign up and Finish my post<span></span></a><h4>OR</h4>
      &nbsp; &nbsp; &nbsp; <a href="#" class="submit_link button submit_link_special">
        Post as a Guest <span></span></a><br>
      <br /><div class="mini-guide">Note: You won't be able to get credit for your answers unless you sign up.</div>
    </center>
    <% else %>
      <a href="#" class="submit_link button submit_link_special">Finish<span></span></a>
    <% end %>
  </div>
  <% end -%>

 <script type="text/javascript" src="/js/signup_and_finish.js"></script>

