<% can_vote = (!current_user.nil? and !current_user.voted?(@plan)) %>

<div id="thumb_rating">
  <strong class="votes_balance"><%=@plan.votes%></strong>
  <input type="submit" title="Vote up" value="+1" name="thumbsup" class="<%=can_vote ? 'vote_up' : 'vote_up_disabled'%>" />
  <input type="submit" title="Vote down" value="-1" name="thumbsdown" class="<%=can_vote ? 'vote_down' : 'vote_down_disabled'%>" />
</div>

<% if can_vote %>

  <script>
	  function disableThumbs() {
	    $("input[name='thumbsup']").addClass("vote_up_disabled");
	    $("input[name='thumbsup']").removeClass("vote_up");
	    $("input[name='thumbsup']").removeClass("vote_up_hover");
	    $("input[name='thumbsup']").unbind('click')
	    $("input[name='thumbsup']").unbind('mouseover')
	    $("input[name='thumbsup']").unbind('mouseout')

	    $("input[name='thumbsdown']").addClass("vote_down_disabled");
	    $("input[name='thumbsdown']").removeClass("vote_down");
	    $("input[name='thumbsdown']").removeClass("vote_down_hover");
	    $("input[name='thumbsdown']").unbind('click')
	    $("input[name='thumbsdown']").unbind('mouseover')
	    $("input[name='thumbsdown']").unbind('mouseout')
	  }

	  function initThumbRating() {
		  $("input[name='thumbsup']").click(function(){
			  $(".votes_balance").load(<%=@plan.id.to_s%>+"/vote_up",disableThumbs);
		  });

		  $("input[name='thumbsdown']").click(function(){
			  $(".votes_balance").load(<%=@plan.id.to_s%>+"/vote_down",disableThumbs);
		  });

		  $("input[name='thumbsup']").mouseover(function(){
			  $(this).removeClass("vote_up");
			  $(this).addClass("vote_up_hover");
		  });

		  $("input[name='thumbsup']").mouseout(function(){
			  $(this).removeClass("vote_up_hover");
			  $(this).addClass("vote_up");
		  });

		  $("input[name='thumbsdown']").mouseover(function(){
			  $(this).removeClass("vote_down");
			  $(this).addClass("vote_down_hover");
		  });

		  $("input[name='thumbsdown']").mouseout(function(){
			  $(this).removeClass("vote_down_hover");
			  $(this).addClass("vote_down");
		  });
	  }

	  initThumbRating();
  </script>

<% end %>

