<link rel="stylesheet" href="/css/forms.css" type="text/css" media="all" />

<h1>Modify answer</h1>
 
<%= render :partial => '/plans/suggestplan', :layout => false, :locals => {:showheadline => false} %>
<a href="/plans/<%= @plan.id %>" class="submit_link button">Cancel<span></span></a>