<link rel="stylesheet" href="/css/forms.css" type="text/css" media="all" />

<div class="form-element">
<%= form_tag("/plans", :method => "get") do %>
<h3>Looking for questions to be answered? Or to learn from?</h3> 
1) Use the search box below to locate questions by keywords.<br/>
2) You can also use the tabs below to search by recency, popularity, newness, and number of answers.<br/>
3) To browse by category, use the Categories pulldown above.<br/>
4) When you find a question you like, mouse over it and click View.<br/>
5) Then you can add or link an answer, or see if an existing answer resolves your own question.<br/><br/>
  
  <div class=" plan_search_field">
	  <%= text_field_tag(:searchstring, @escaped_searchstring, :maxlength => 75, :class => "field my-field") %>
  </div>
    <a href="#" class="submit_link button">Search by Keyword<span></span></a>
    <br/>
<% end %>
</div>

<script type="text/javascript" src="/js/show-functions.js"></script>
<script type="text/javascript" src="/js/suggestcategory.js"></script>
<% @tabspanel = 1 %>
<% content_for :tabspanel do %>

<script>
  function resort(sorttype) {
    var selected = $('#tabs').tabs().tabs('option', 'selected');
    $('#fragment-1').load("/plans/listby?newlayout=1&paginate=1" +
                          "&sort=" + sorttype + "&by=" + selected +
                          "&searchstring=<%= @escaped_searchstring? @escaped_searchstring  : '' %>");
  }
</script>

  <ul>
    <li><a href="/plans/listby?newlayout=1&home=1&paginate=1&searchstring=<%= @escaped_searchstring?  @escaped_searchstring  : '' %>" 
    	class="tabtooltipfix" title="fragment-1" realtitle="Expiring soon"><span>Expiring soon</span></a></li>
    <li><a href="/plans/listby?newlayout=1&home=0&paginate=1&searchstring=<%= @escaped_searchstring?  @escaped_searchstring  : '' %>" 
    	class="tabtooltipfix" title="fragment-1" realtitle="Recent Questions"><span>Recent</span></a></li>
  </ul>

  <div id="tabs-sort-by">
    <ul id="tabs-sort-by-ul">
      <li class="tabs-sort-by-li"><b>Sort by:</b></li>
    	<li class="tabs-sort-by-li"><a href="javascript:resort('newest')" id="tabs-sort-by-newest">Newest</a></li>
    	<li class="tabs-sort-by-li"><a href="javascript:resort('popular')" id="tabs-sort-by-newest">Most Popular</a></li>
    	<li class="tabs-sort-by-li"><a href="javascript:resort('mostplans')" id="tabs-sort-by-newest">Most Answers</a></li>
    </ul>
  </div>
  <div id="fragment-1">
  </div>
<% end %>

<%= render '/categories/suggest_category', :layout => false %>

