<p id="notice"><%= notice %></p>

<h1>Listing plans</h1>

<table>
  <tr>
    <th>Content</th>
    <th>Language</th>
    <th>Keywords</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @plans.each do |plan| %>
  <tr>
    <td><%= plan.content %></td>
    <td><%= plan.language %></td>
    <td><%= plan.keywords %></td>
    <td><%= plan.user %></td>
    <td><%= link_to 'Show', plan %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Back', plans_path %>

