<link href="/css/show.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="/css/thumbsup.css" type="text/css" media="all" />
<script type="text/javascript" src="/js/show-functions.js"></script>
<script type="text/javascript" src="/js/suggestcategory.js"></script>
<div class="qa_title"><img src="/css/images/a.png" /> <h2><span>Answer</span></h2></div>
<ul class="posts">

	<li  class="item-indent">
		<%= render  :partial => "situations/listpart",
		            :layout => false,
		            :locals => { :showplans => false, :situation=> @plan, :match_a_plan => true, :show_all => true } %>
	</li>

	<li>
    <%if @plan.situations.any? %>
     <div class="qa_title_indent"><div class="qa_title">
     	<img src="/css/images/q.png" /> <h2><span>Questions</span></h2>
     </div></div>
     
	  <ul class="posts posts-ident">
	    <% @plans = @plan.situations %>
			<%= render  :partial => "plans/planlist2",
			            :layout => false,
			            :locals => { :showtitle => false, :showplans => false, :paging_on => false } %>
	  </ul>
    <% end %>
	</li>

</ul>

<%= render '/categories/suggest_category', :layout => false %>

<% if !current_user.nil? && @plan.user == current_user %>
  <%= link_to 'Edit answer', edit_plan_path(@plan) %> |
<% end %>

<% if !current_user.nil? && current_user.admin_enabled %>
  <%= link_to 'Remove answer', @plan, :confirm => 'Are you sure you want to remove the answer?', :method => :delete %> |
<% end %>

<%= link_to 'See other questions and answers', plans_path %>

