<div id="answer_ask_bar">
  <div id="answer_ask_bar_container">

    <div class="answer_ask_bar_form">
      <img src="/images/planbsituation.jpg" width="50" height="50" />

      <div class="answer_ask_bar_form_nested">
        <b class="answer_ask_big_txt">Give a Situation</b>

        <%= form_for(Situation.new, :url => "/situations/start") do |f| %>
          <div class="field">
            <%= f.text_field :content,  :placeholder=> 'Tell about your situation...', :size=>60 %>
          </div>
          <div class="actions">
            <%= f.submit "Continue" %>
          </div>
        <% end %>

      </div>
    </div>

    <div class="answer_ask_bar_form">
      <img src="/images/planbplans.jpg" width="50" height="50" />
      <div class="answer_ask_bar_form_nested">
        <b class="answer_ask_big_txt">Suggest the Plan</b>
        -- Share your knowledge by helping others with their situations
        <p/>
          <a href="/plans"><button>Browse Open Situations</button></a>
      </div>
    </div>

  </div>
</div>

