<!-- Top Boxes -->
<div id="top-boxes">
  <div class="shell">
    <div class="box type">
      <div class="box-top">
        <div class="box-bottom ">
          <div class="title">

            <h3>Got a question?</h3>
            <p>Someone else may have your answer. <a href="/help">Learn more</a></p>

          </div>

          <%= form_for(Situation.new, :url => "/situations/start") do |f| %>
            <span class="input-field">
              <%= f.text_field :content, :maxlength => 120, :class => "field", :placeholder=> 'Type your question here (120 chars max).' %>
            </span>
            <a href="#" class="submit_link button" >Continue<span class="button-arrow"></span></a>
          <% end %>

          <span class="small" id="char_count"></span>
        </div>
      </div>
    </div>

    <div class="box go-inside">
      <div class="box-top">
        <div class="box-bottom ">
          <div class="title">
            <h3>Share what you know!</h3>
            <p>Knowledge is power. Turn it on.</p>
          </div>
          <a href="/plans" class="button">Browse questions<span class="button-arrow"></span></a>
        </div>
      </div>
    </div>
    <div class="cl">&nbsp;</div>
  </div>
</div>

<script type="text/javascript" src="/js/textlimit.js"></script>
<!-- End Top Boxes -->

