<!-- Top Boxes -->
<div id="top-boxes">
	<div class="shell">
		<div class="box type type-small">
      <div class="box-top">
        <div class="box-bottom ">
		      <div class="title">
			      <h3>Add more detail to your description</h3>
			      <br/>
    			</div>
        </div>
     </div>
		</div>
		<div class="box go-inside go-inside-small">
      <div class="box-top">
        <div class="box-bottom ">
			    <div class="title">
				    <h3>Share what you know!</h3>
				    <a href="/plans" class="button">Browse<span class="button-arrow"></span></a>
			    </div>
         </div>
       </div>
		  </div>
		<div class="cl">&nbsp;</div>
	</div>
</div>
<!-- End Top Boxes -->

