<div class="nav">
  <ul>
    <li><a href="/help/about">About</a></li>
    <li><a href="/help">Help</a></li>
    <li><a href="/help/terms">Terms of Service</a></li>
    <li><a href="/help/privacy">Privacy Policy</a></li>
    <li><b>&copy; 2012 alasker/AB Dev Labs, LLC</b></li>
    <!---		<li>
      <div class="select">
        <select>
          <option value="--">Choose language</option>
          <option value="01">English</option>

          <option value="02">Dansk</option>
          <option value="03">Deutsch</option>
          <option value="04">Francais</option>
          <option value="05">Espanol</option>
          <option value="06">Portugues</option>

        </select>
      </div>
    </li>
    --->
  </ul>
</div>
