<meta http-equiv="Content-type" content="text/html; charset=utf-8" />

<link rel="shortcut icon" href="/css/images/favicon.ico" />

<link rel="stylesheet" href="/jQuery/css/jquery-ui-1.8.17.custom.css" type="text/css" />
<link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />

<link rel="stylesheet" href="/css/jquery.selectbox.css" type="text/css" media="all" />
<link rel="stylesheet" href="/css/categories.css" type="text/css" media="all" />

<link rel="stylesheet" href="/css/thumbsup.css" type="text/css" media="all" />

<link rel="stylesheet" href="/css/jquery.tagit.css" type="text/css" media="all" />
<link rel="stylesheet" href="/css/tagit.ui-zendesk.css" type="text/css"/>

<script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/js/underscore-min.js"></script>

<script type="text/javascript" src="/jQuery/includes/jquery-ui-1.8.17.custom.min.js"></script>

<script type="text/javascript" src="/js/jquery.jcarousel.min.js"></script>
<script type="text/javascript" src="/js/jquery.selectbox-0.6.1.js"></script>

<script type="text/javascript" src="/js/functions.js"></script>
<script type="text/javascript" src="/js/countdown.js"></script>
<script type="text/javascript" src="/js/thumbsup.js"></script>
<script type="text/javascript" src="/js/tag-it.js"></script>

<script type="text/javascript">
// This probably needs to be transferred to an external file

$(document).ready(function () {
  $.getJSON('/notifications/getLatestCount', function(data) {
    $('#notif_count').text(data.count);
  });

  $('a#notifications_link').click(function() {
    $('#notifications_parent').toggle();

    $.getJSON('/notifications/getLatest', function(data) {
      var rows = [];

      $.each(data.items, function(key, val) {
        var action = ' asdfadsf ';

        // ???
        switch (val.event) {
        case 3:
          action = ' answered a question ';
          break;

        case 8:
          action = ' followed you ';
          break;

        case 16:
          action = ' messaged you ';
          break;

        default:
          action = ' (unknown action)';
          // $('#notif_count').text(0);
          break;
        }

        rows.push('<tr><td><a href="' + val.sender_url + '"><img src="' + val.avatar + '" valign="middle" /> ' + val.sender_name + '</a>' + action + '</td></tr>');
      });

      rows.push('<tr><td></td></tr>');

      $('#notifications table').html(rows.join(''));


    });

    return false;
  });

  $(document).click(function (e) {
      if ($('#notifications_parent').has(e.target).length == 0) {
          $('#notifications_parent').hide();
      }
  });
});
</script>
