<h1 id="logo"><a href="/">alasker</a></h1>
<div id="top-links">
	<ul>
    <% if user_signed_in? %>
      <li>You are signed in as <%= link_to current_user.username, '/me' %></li>
      <li><%= link_to "Sign out", destroy_user_session_path %></li>
      <li>
        <a href="/me#notifications_tab" id="notifications_link">Notifications [<span id="notif_count">0</span>]</a>
        <div id="notifications_parent">
          <div class="bubble">
            <div id="notifications">
              <strong style="float: right; color: #07A8E9"><i><a href="/me#notifications_tab">See All...&nbsp;</a></i></strong>
              <table width="100%" style="float: clear"></table>
            </div>
          </div>
        </div>
      </li>
    <% else %>
      <li><%= link_to "Sign in", new_user_session_path %></li>
      <li><%= link_to "Sign up", new_user_registration_path %></li>
      <li class="last">
        <a href="/auth/twitter"><img src="/css/images/tw-icon.png" alt="" /></a><a href="/auth/facebook"><img src="/css/images/fb-icon.png" alt="" /></a>
      </li>
    <% end %>
	</ul>
</div>

