<!-- Navigation -->
<div id="navigation">
  <div class="shell">

    <ul>
      <li><a href="/" class="<%=  nav_selected("home","") %>">Home</a></li>

      <li><a href="/categories" class="<%=  nav_selected("categories","") %>">Categories</a>
        <div class="dd">
          <ul>
            <% Category.limit(15).offset(0).each do |category| %>
              <li><%= link_to category.name, category %></li>
            <% end %>
          </ul>
          <div class="cl">&nbsp;</div><div class="cl">&nbsp;</div>
          <div class="cl">&nbsp;</div>
        </div>
      </li>
      <% if current_user %>
        <li><a href="/me" class="<%= nav_selected("me", "registrations") %>">Me</a>
        <div class="dd">
          <ul>
            <li><a href="/me">View My Profile</a></li>
            <li><a href="/users/edit">Edit Profile</a></li>
          </ul>
        </li>
      <% else %>
        <li><a href="/users/sign_up" class="<%= nav_selected("me", "registrations") %>">Me</a>
          <div class="dd">
          <ul>
            <li><a href="/users/sign_up">Join today</a></li>
            <li><a href="/users/sign_in">Sign in</a></li>
          </ul>
      <% end %>
      
     <li><a href="/answers" class="<%= nav_selected("answers","") %>">Just show me answers!</a></li>

      <% if current_user %>
        <li><a href="/help" class="<%= nav_selected("help","") %>">Help</a></li>
      <% else %>
        <li><a href="/help/about" class="<%= nav_selected("help","") %>">What is alasker?</a></li>
      <% end %>
    </ul>
    <div class="cl">&nbsp;</div>
  </div>
</div>
<!-- End Navigation -->

