<script type="text/javascript">

$(document).ready(function() {

	$("li").hover(function() {

			var itemwidth = $(this).width(); /* Getting the LI width */

			$(this).prepend("<div class='hover'></div>"); /* Inserting a blank div into within li above the <a> tag*/

			$(this).find("div").fadeIn('10000').css({ 'width' : itemwidth}); /* Using the itemwidth for the div to display properly*/

			$(this).find("ul").fadeIn('1000').slideDown('10000').css("display", "block");

	} , function() {

		$(this).find("div").slideUp('1000').fadeOut('1000');/* sliding up and fading out the hover div */

		$(this).find("div").remove();/* removing the <div> code from html at every mouseout event*/

		$(this).find("ul").fadeOut('1000'); /* fading out the sub menu */
	});

	$(".search-input").focus(function(){
		$(this).animate({width:'180px'}, 500); /* on focus, increasing the input width of search to left side*/
	});

	$(".search-input").focusout(function(){
		$(this).animate({width:'117px'}, 500);  /* on focus, decreasing the input width of search to left side*/
	});

});
</script>

<link href="/stylesheets/menus.css" rel="stylesheet" type="text/css" >

  <div class="main-navigation">
	  <ul>
		  <li><a href="/">Home</a></li>
		  <li><a href="/categories">Browse Categories</a>
			  <ul>
			  <% Category.all.each do |category| %>
			      <li><%= link_to category.name, category %></li>
			  <% end %>
			  </ul>
		  </li>

		  <li><a href="/me">My Activity</a>
			  <ul>
			  <% if !current_user %>
				  <li><a href="/users/sign_up">Sign up to start</a></li>
		      <% else %>
				  <li><a href="/users/edit">Your account</a></li>
			  <% end %>
			  </ul>
		  </li>

		  <li><a href="#">About</a>
			  <ul>
				  <li><a href="#">How to use alasker</a></li>
				  <li><a href="#">Guidelines</a></li>
				  <li><a href="#">Suggestion Board</a></li>
				  <li><a href="#">Leaderboard</a></li>
				  <li><a href="#">alasker B Blog</a></li>
			  </ul>
		  </li>
	  </ul>
  </div>

</link>

