<script type="text/javascript">
// BeginOAWidget_Instance_2559022: #slideshow
slideshowAddCaption=true;

$(document).ready(function() {
	$('#slideshow')
	  .before('<div id="nav">')
	    .cycle({
	      after:			slideshowOnCycleAfter, //the function that is triggered after each transition
	      autostop:			false,     // true to end slideshow after X transitions (where X == slide count)
	      fx:				'blindX',// name of transition effect
	      pause:			false,     // true to enable pause on hover
	      randomizeEffects:	true,  // valid when multiple effects are used; true to make the effect sequence random
	      speed:			2000,  // speed of the transition (any valid fx speed value)
	      timeout:		5000,  // milliseconds between slide transitions (0 to disable auto advance)
	      sync:			true,     // true if in/out transitions should occur simultaneously
	      fit:			true,
	      pager:         '#nav',
	      height:		   '200px',
	      width:         '800px'   // container width (if the 'fit' option is true, the slides will be set to this width as well)
	    });
  });

  function slideshowOnCycleAfter() {
	  if (slideshowAddCaption==true){
			  $('#slideshow-caption').html(this.title);
	  }
  }

// EndOAWidget_Instance_2559022
</script>

<div id="slideshow">
  <%= yield :slideshowcontent %>
</div>
<!--It is safe to delete this if captions are disabled-->

<div id="slideshow-caption"></div>

