<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" dir="ltr">

  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <meta property="fb:app_id" content="227937397332856" />
    <meta property="og:type"   content="website" />
    <meta property="og:url"    content="http://alasker.com" />
    <meta property="og:title"  content="alasker" />
    <meta property="og:description"  content="alasker is quick Q&A: Real questions. Real answers. Real time" />
    <meta property="og:image"  content="http://alasker.com/css/images/logo.png" />


    <title>Alasker</title>


    <%= ajaxful_rating_style %>
    <%= csrf_meta_tag %>
    <%= render :partial => 'layouts/head', :layout => false %>

    <% if @tabspanel %>
      <%= render :partial => 'layouts/head_tabs', :layout => false %>
    <% end %>

    <!--[if IE 6]>
    <script type="text/javascript" src="/js/png-fix.js"></script>
    <![endif]-->

    <!--- <%= yield(:head) %> -->

    <%= javascript_include_tag 'rails' %>
    <% if defined?(@faye_needed) && @faye_needed %>
    <%= javascript_include_tag @faye_host + "/faye.js" %>
    <% end %>
    <!-- <%= javascript_include_tag "private_pub" %> -->
    <%= google_analytics_js %>

    <%= javascript_include_tag "jquery.tokeninput" %>
    <%= javascript_include_tag "search" %>
    <%= stylesheet_link_tag "token-input-facebook" %>

    <%= javascript_include_tag 'faye_application' %>
    <%= javascript_include_tag 'http://alaskerredis.herokuapp.com/faye.js' %>

  </head>

  <body>
    <div id="clouds">
      <div class="clouds_left"></div>
      <div class="clouds_right"></div>
    </div>


    <!-- Wrapper -->
    <div id="wrapper">

      <!-- Header -->
      <div id="header">
        <div class="shell">
          <%= render :partial => 'layouts/header', :layout => false %>
        </div>
      </div>
      <!-- End Header -->

      <%= render :partial => 'layouts/menus2', :layout => false %>

      <% if defined?(big_answer_askbar) && big_answer_askbar %>
        <%= render :partial => 'layouts/answer_ask_bar2', :layout => false %>
        <% #elsif defined?(situation_answer_askbar) && situation_answer_askbar%>
        <% #= render :partial => 'layouts/answer_ask_bar4', :layout => false %>
      <% else %>
        <%= render :partial => 'layouts/answer_ask_bar3', :layout => false %>
      <% end %>

      <!-- Main -->
      <div id="main">
        <div class="shell">

          <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          <% end %>

          <%= content_tag :h3, yield(:title) if show_title? %>

          <!-- Content -->
          <% if @splitpanel %>
            <div id="splitleft">
            <% else %>
              <% if defined?(content_wide) %>
                <div id="content_wide">
                <% else %>
                  <div id="content">
                  <% end %>
                <% end %>

                <% if @topcasebar %>
                  <!-- Slider -->
                  <div id="slider">
                    <%= yield :topcasebar %>
                  </div>
                  <!-- End Slider -->
                <% end %>

                <!-- Posts and main content-->
                <%= yield %>

                <% if @tabspanel %>
                  <div id="tabs">
                    <%= yield :tabspanel %>
                  </div>
                <% end %>

              </div>
              <!-- End Content -->

              <!-- Sidebar -->
              <%  if !defined?(user_page) %>

                <% if @rightpanel %>
                  <div id="fullrightbar">
                    <%= yield :rightpanel %>
                  </div>
                <% elsif @splitpanel %>
                  <div id="splitright">
                    <%= yield :rightpanel %>
                  </div>
                <% else %>
                  <% if !defined?(content_wide) %>
                    <div id="sidebar">
                      <!--
                      <div class="ads-google">
                        <img src="/css/images/ads-google.jpg" alt="" />
                      </div>
                      -->
                      <%= yield :rightpanel %>
                    </div>
                  <% end %>
                <%end%>

              <%else%>
                <%=  render :partial => 'me/user_sidebar' , :layout => false %>
              <%end%>
              <!-- End Sidebar -->

              <div class="cl">&nbsp;</div>
            </div>
          </div><!-- End Main -->

          <div id="footer-push"></div>
        </div>
        <!-- End Wrapper -->

        <!-- Footer -->
        <div id="footer">
          <div class="shell">
            <%= render :partial => 'layouts/footer', :layout => false %>
            <div class="cl">&nbsp;</div>
          </div>
        </div>
        <!-- End Footer -->

        <script type="text/javascript" src="/js/submit_link.js"></script>

      </body>
    </html>
